<section class="page-contents">
  <div class="edit-column">
    <div class="setting-title">Admin Training Sessions Manager</div>
    <br>
    <div class="form-group">
      <input type="text" style="width: 100%" id="query" onkeyup="findSession('sessions-table')" placeholder=" Find by: date, training, course, username" class="form-control">
    </div>

    <div class="table-training-sessions">
      <%= render 'admin/training_sessions/training_session_table' %>
    </div>

  </div>
</section>
