<section>
    <div class="setting-title text-center">Admin Training Sessions Manager</div>
    <br>
    <div class="form-group">
      <div class="form-inline">
        <%= text_field_tag(:search, search(params[:search]), placeholder: "Search by Course, Training, User, Date ...", class: 'form-control training_session_searchbar', style: "width: 100%") %>
      </div>
    </div>

    <div class="table-training-sessions">
      <%= render 'admin/training_sessions/training_session_table' %>
    </div>
</section>

<script type="text/javascript" charset="utf-8">

    $('.training_session_searchbar').on('keyup', debounce(function (e) {
        $.ajax({
            url: '/admin/training_sessions',
            data: {search: $(this).serialize()},
            format: 'js'
        });
    }, 100));
</script>