<h2 class="text-center pt-2 font-weight-bold">Edit Question</h2>

<div class="container my-5">
  <div class="row">
    <div class="col-lg-12">
      <%= render 'question_form' %>
    </div>
  </div>
</div>