<section class="page-contents">
  <div class="edit-column text-center">

    <h2>Question in "<%= @question.category %>"</h2>
    <br />

    <div class="jumbotron text-left word-break">
      <%= @question.description %>
    </div>

    <hr>
  </div>
</section>