<section class="page-contents">
  <div class="edit-column">

    <h2 class="text-center">Welcome to the Volunteer Area</h2>
    <br>
    <div id="staff-buttons">
      <% @emails.each do |email| %>
        <div class="col-md-3">
          <%= email %> <br />
        </div>
      <% end %>
    </div>


  </div>
</section>

