<section class="page-contents">
  <div class="edit-column">

    <h2 class="text-center">Information for Makerspace Volunteers</h2>
    <br>
    <div>
      The uOttawa Richard L’Abbé Makerspace has an amazing volunteer program which allows members to
      become more involved in the makerspace. Not only do you get experience with all different platforms
      available, this program is a great way to meet new people, and work on fun projects.
    </div>


  </div>
</section>

