<section class="page-contents" id="volunteers-getting-started">
  <div class="edit-column">

    <h2 class="text-center title">Information for Makerspace Volunteers</h2>
    <br>
    <div>
      The uOttawa Richard L’Abbé Makerspace has an amazing volunteer program which allows members to
      become more involved in the makerspace. Not only do you get experience with all different platforms
      available, this program is a great way to meet new people, and work on fun projects.
    </div>
    <hr />
    <div class="text-center">
      <h4>Benefits of being a volunteer</h4>
      <ul>
        <li>Gain valuable experience with technology</li>
        <li>Meet people with similar interests</li>
        <li>Collaborate on cool new projects</li>
        <li>Get involved with the Maker network</li>
        <li>Receive awesome rewards!</li>
      </ul>
    </div>


  </div>
</section>

