<section class="page-contents">
  <div class="edit-column">

    <h2>Welcome to the Volunteer Area</h2>
    <br>
    <div id="staff-buttons">
      <%= link_to ('Track your hours'), new_volunteer_hour_path, class: "staff-button"%>
      <br /> <br />
      <%= link_to 'See your hours', new_staff_training_session_path, class: "staff-button"%>
      <br /> <br />
    </div>


  </div>
</section>

