<section class="page-contents" id="volunteers-getting-started">
  <div>

    <h2 class="text-center title">Welcome to the Volunteer Area</h2> <br />

    <h4 class="text-center">Information for Makerspace Volunteers</h4>
    <br>
    <div>
      The uOttawa Richard L’Abbé Makerspace has an amazing volunteer program which allows members to
      become more involved in the makerspace. Not only do you get experience with all different platforms
      available, this program is a great way to meet new people, and work on fun projects.
    </div>
    <hr />
    <div class="text-center">
      <h4>Benefits of being a volunteer</h4>
      <ul>
        <li>Gain valuable experience with technology</li>
        <li>Meet people with similar interests</li>
        <li>Collaborate on cool new projects</li>
        <li>Get involved with the Maker network</li>
        <li>Receive awesome rewards!</li>
      </ul>
    </div>

    <hr />

    <h4 class="text-center">Reward program</h4>
    <p class="text-danger text-center">ATTENTION: Reward program is no longer valid this year. We are implementing a new system that will be available soon.</p>
    <div>
      Volunteering at the Richard L’Abbé Makerspace isn’t just fun, we also have put in place a reward program so
      that we can give back to you. To be eligible for the Makerspace volunteer reward program, you must complete
      a minimum of 1.5 hours per week.
      <br />
      Once you have signed up for your designated weekly shifts, you will receive a 10% volunteer discount from
      the Makerstore.
      <br />
      <%= image_tag('volunteer_program.png', class: "mx-auto m-5", alt: "Volunteer Reward Program", width: "100%") %>
    </div>
    <table>

      <tr>
        <th>0 hours</th>
        <td>
          <b> Personalised laser cut acrylic name tag</b>
          <br />
          When you have completed your training and certification, you will be a pro with our laser cutter.
          Show off your skills by designing and cutting your own nametag out of acrylic
          <br />
          Sign up for your designated weekly shifts and you will receive a 10% discount from the Makerstore
        </td>
      </tr>

      <tr>
        <th>10 hours</th>
        <td>
          <b>Richard L&rsquo;Abb&eacute; Makerspace USB</b>
          <br />
          After 10 hours of volunteer work, you probably have a lot of amazing ideas.
          Why not store them on your very own Richard L’Abbe USB stick?
        </td>
      </tr>

      <tr>
        <th>20 hours</th>
        <td>
          <b> Volunteer T-shirt</b>
          <br />
          Show off your 20-hour mark with an awesome Makerspace Volunteer T-shirt.
        </td>
      </tr>

      <tr>
        <th>30 hours</th>
        <td>
          <b>$30 gift certificate to spend at the Makerstore</b>
          <br />
          The Makerstore is your one stop shop for all your “Maker” themed projects, from acrylic for the
          laser cutter to Arduino compatible boards. When you have completed 30 hours of volunteer work,
          we give you $30 to spend at the Makerstore
        </td>
      </tr>

      <tr>
        <th>40 hours</th>
        <td>
          <b>$40 gift certificate to spend at the Makerstore</b>
          <br />
          After 40 hours, your "maker" skills should be honed. Why not show off what you have learned by
          purchasing some electronics at the Makerstore? As a thank you for the 40 hours of work you have done,
          we are giving you a $40 gift certificate that you can spend at the Makerstore.
        </td>
      </tr>

      <tr>
        <th>60 hours</th>
        <td>
          <b>3D print on our professional quality printer</b>
          <br />
          Have you ever wanted to print something really complex or maybe just a high-quality 3D printed model?
          After 60 hours of work, we think you deserve a coupon worth $60 that you can use towards a print on
          our Dimension SST printer.
        </td>
      </tr>

      <tr>
        <th>80 hours</th>
        <td><b>Makerspace hoodie</b>
          <br />
          After having made such a difference we want you to show it off by with more Makerspace swag.
          After the 80-hour mark, which is 288,000 seconds, you will receive your very own makerspace hoodie.
        </td>
      </tr>
    </table>

    <hr />

    <h4 class="text-center">Volunteer Oportunities</h4>
    <div>
      <ul>
        <li>Welcome newcomers and give tours of the Makerspace</li>
        <li>Help during workshops (2-3 times a week)</li>
        <li>Help with on campus events such as Design day, makerspace challenges, clubs' day, entrepreneurship week</li>
        <li>Help with off campus events such as conferences and festivals</li>
        <li>Promote the Makerspace through class presentations and table events in UCU to further increase our outreach efforts</li>
        <li>Help maintain equipment</li>
        <li>Provide training for those who wish to learn more about the technology in the Makerspace</li>
        <li>Create and design projects requested by the community</li>
      </ul>
    </div>
    <br />
  </div>
</section>



