<section class="text-center">
  <h1>Add a shadowing shift</h1>

  <%= form_with url: create_event_volunteers_path, method: :get do %>

      <label for="space_input">Space</label> <br>
      <select name="space" id="space_input" class="custom-select" required>
        <option value="makerspace">Makerspace</option>
        <option value="brunsfield centre">Brunsfield Centre</option>
      </select>

      <br><br>

    <div class="row">
      <div class="col">
        <%= text_field_tag "datepicker_start", nil, autocomplete: 'off', class: "form-control" %>
      </div>
        <span>TO</span>
      <div class="col">
        <%= text_field_tag "datepicker_end", nil, autocomplete: 'off', class: "form-control" %>
      </div>
    </div>

    <br>

    <%= submit_tag "Add Event", class: "btn btn-primary" %>

  <% end %>
</section>

<script type="text/javascript" charset="utf-8">
    jQuery('#datepicker_start').flatpickr({
        enableTime: true,
        time_24hr: true,
    });
    jQuery('#datepicker_end').flatpickr({
        enableTime: true,
        time_24hr: true,
    });
</script>