<section id="license">
  <div class="title">Common Creative - Attribution - Non-Commercial</div>

  <div class="sub-title">You are free to:</div>
  
  <b>Share</b> — copy and redistribute the material in any medium or format.<br><br>
  <b>Adapt</b> — remix, transform, and build upon the material
  for any purpose, even commercially.<br><br>
  The licensor cannot revoke these freedoms as long as you follow the license terms.

  <div class="sub-title">Under the following terms:</div>

  <b>Attribution</b> — You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.<br><br>
  <b>Non-Commercial</b> — You may not use the material for commercial purposes.<br><br>
  <b>No additional restrictions</b> — You may not apply legal terms or technological measures that legally restrict others from doing anything the license permits.

  <br><br>
  
  <%= link_to "Formal License", "http://creativecommons.org/licenses/by-nc/3.0/legalcode" %>

</section>