<section id="license">
  <div class="title">Common Creative - Attribution - No Derivatives</div>

  <div class="sub-title">You are free to:</div>

  <b>Share</b> — copy and redistribute the material in any medium or format.<br><br>
  The licensor cannot revoke these freedoms as long as you follow the license terms.

  <div class="sub-title">Under the following terms:</div>
  
  <b>Attribution</b> — You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.<br><br>
  <b>No-Derivatives</b> — If you remix, transform, or build upon the material, you may not distribute the modified material.<br><br>
  <b>No additional restrictions</b> — You may not apply legal terms or technological measures that legally restrict others from doing anything the license permits.

  <br><br>
  
  <%= link_to "Formal License", "http://creativecommons.org/licenses/by-nd/3.0/legalcode" %>

</section>