<section class="page-contents">
  <div class="edit-column">

    <h2 class="text-center">Welcome to the Development Program</h2>
    <br>
    <div id="staff-buttons">
      <%= link_to 'Getting Started', '#', class: "staff-button" %> <br></br>
      <%= link_to 'Repos', '#', class: "staff-button" %> <br></br>
      <%= link_to 'Proficient Projects', '#', class: "staff-button" %>  <br /> <br />
      <%= link_to 'Skills/Badges', '#', class: "staff-button" %>  <br />
    </div>
  </div>
</section>

