<h1>You are currently enrolled in our Teams Program.</h1>
<p>Please click the button below to fill out the form and get in touch with the team that you're interested in.</p>

<form action="https://docs.google.com/forms/d/e/1FAIpQLSfK9MHI9kZjixejHq5-asrBlSegNARngXxp8xZm0BWfGN2qOw/viewform" method="get" target="_blank">
  <button type="submit" class="btn btn-primary btn-lg">Join a JMTS Team</button>
</form>
