<h1>Contratulations! You can now join our Development Program!</h1>
<p>Find out more about the Development Program <b><%= link_to "here", "#", target: '_blank' %></b></p></p>

<p>
  <strong>
    Join the program by clicking the buttom bellow:
  </strong>
</p>

<p><%= link_to "Join Development Program", '#', class: "btn btn-primary btn-lg" %></p>