<h1>Contratulations! You can now join our Volunteer Program!</h1>
<p>Find out more about the volunteer program <b><%= link_to "here", "#", target: '_blank' %></b></p></p>

<p>
  <strong>
    Join the program by clicking the buttom bellow:
  </strong>
</p>

<p><%= link_to "Join Volunteer Program", join_volunteer_program_volunteers_path, class: "btn btn-primary btn-lg" %></p>