<h1>Congratulations! You can now join our Teams Program!</h1>

<p>Find out more about JMTS <b><%= link_to 'here', 'https://www.uottawa.ca/faculty-engineering/spaces/john-mcentrye-team-space' %></b></p>

<p>
  <strong>
    Join the program by clicking the button below:
  </strong>
</p>

<p><%= button_to 'Join Teams Program', join_team_program_path, method: :post, class: 'btn btn-primary btn-lg' %></p>
