<h1>Congratulations! You can now join our Development Program!</h1>
<p>Find out more about the Development Program <b><%= link_to 'here', development_program_info_path, target: '_blank', rel: 'noopener' %></b></p></p>

<p>
  <strong>
    Join the program by clicking the buttom below:
  </strong>
</p>

<p><%= link_to 'Join Development Program', join_development_program_development_programs_path, class: 'btn btn-primary btn-lg' %></p>
