<div class="card home-card">
    <div class="card-body">
        <h2><%= t('home.development_program.header') %></h2>
        <ul class="list-unstyled list-box volunteer-task-list">
            <% @user_tracks.each do |track, completion, full| %>
            <li>
                <i class="fa fa-circle"></i> <span class="list-header"><%= track %></span> <%= completion %>
            </li>
            <% end %>
        </ul>
        <%= link_to t('home.show_more'), signed_in? ? development_programs_path : development_program_info_path %>
    </div>
</div>
