<div class="card home-card">
    <div class="card-body">
        <h2>
            <b>Instagram</b>
            <small class="text-muted" style="font-size: 0.6em;">
                <a href="https://www.instagram.com/uoceed/" target="_blank"><%= t('home.follow_us') %></a>
            </small>
        </h2>
        <p>Stay up to date with our socials</p>

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <% @posts.take(24).each_slice(3).with_index do |posts_slice, index| %>
                    <div class="carousel-item <%= 'active' if index.zero? %>">
                        <div class="d-flex justify-content-center">
                            <% posts_slice.each do |post| %>
                                <div style="flex: 0 0 30%; max-width: 30%; padding: 10px;">
                                    <% if post['media_type'] == 'IMAGE' || post['media_type'] == 'CAROUSEL_ALBUM' %>
                                        <img src="<%= post['media_url'] %>" class="d-block w-100" alt="Instagram Image" style="width: 100%; height: 100%; object-fit: cover;">
                                    <% elsif post['media_type'] == 'VIDEO' %>
                                        <video class="d-block w-100" controls style="width: 100%; height: 100%; object-fit: cover;">
                                            <source src="<%= post['media_url'] %>" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: black;"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: black;"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
