<% space.opening_hours.each do |hour| %>
    <p><b><%= hour.target %></b></p>
    <% %i[monday tuesday wednesday thursday friday saturday sunday].each do |day| %>
        <% opening = hour["#{day}_opening"] %>
        <% closing = hour["#{day}_closing"] %>
        <div class="formatted-hour-row">
            <span><%= t('hours.tags')[day] %></span><span><%= opening && closing ? "#{opening.to_formatted_s(:time)} - #{closing.to_formatted_s(:time)}" : t('hours.tags.closed') %></span>
        </div>
    <% end %>
    <p><%= hour.notes&.html_safe %></p>
<% end %>
