<h1>Interested joining our Development Program?</h1>

<p>You need to complete our <b>Basic and 3D printing training</b>. Check our next trainings schedule:
  <b><%= link_to "Makerspace Trainings", "https://www.eventbrite.ca/o/latelier-makerspace-richard-labbe-uottawa-uottawa-richard-labbe-makerspace-6930970537", target: '_blank' %> </b>
  and
  <b><%= link_to "MTC Trainings", "https://www.eventbrite.ca/o/the-manufacturing-training-centre-8474302765", target: '_blank' %></b></p>

<p>Find out more about the Development Program <b><%= link_to "here", "#", target: '_blank' %></b></p></p>