<% provide(:title, "About") %>
<div id="birds"></div>
<div id="options"></div>
<section id="about">
  <div class="title">About Us</div>
  <div class="header">The Centre for Entrepreneurship and Engineering Design (CEED)</div><br>
  <div class="content">
    <b>CEED offers you engineering design and entrepreneurship education and experience that includes:</b> <br>
    <i class="fa fa-angle-double-right" aria-hidden="true"></i> Giving you opportunities throughout your studies to design, build and test products that meet customer needs</p>
    <i class="fa fa-angle-double-right" aria-hidden="true"></i> Developing your business acumen by introducing you to essential business concepts and exposing you to industry</p>
    <i class="fa fa-angle-double-right" aria-hidden="true"></i> Discovering a better client approach, one that allows the public to discover products and validate the design</p>
    <i class="fa fa-angle-double-right" aria-hidden="true"></i> Building your sales and communication skills</p>
    <i class="fa fa-angle-double-right" aria-hidden="true"></i> Offering you experiential learning opportunities with industry in the areas of design and prototyping services and commercialization of technologies</p>

  </div>

</section>
