<% provide(:title, "Calendar") %>
<div id="birds"></div>
<div id="options"></div>
<section id="about">
  <div class="title">Calendar</div>
  <div class="header">Check out the events at CEED facilities</div><br>

  <div class="content">
  <p><iframe src="https://calendar.google.com/calendar/embed?src=brunsfieldcentre%40gmail.com&ctz=America/Toronto" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe></p>
  </div>

</section>
