<% provide(:title, "Reset Password") %>
<section id="login">

  <% if flash[:alert] %>
    <div id="alert"><%= flash[:alert] %></div>
  <% end %>

  <div class="login-title">Forgot Password</div>

  <%= form_tag url_for(controller: 'static_pages', action: 'reset_password'), method: :get do %>

    <%= text_field_tag 'email', nil, placeholder: 'Email' %>     
    
    <%= submit_tag "Reset Password", class: 'login-button' %>
  
  <% end %>

</section>