<section id="home">
    <div class="container-fluid">
        <div class="row row-cols g-0">
            <!--Left column -->
            <div class="col-xl">
                <!-- Staff Resources -->
                <div class="card home-card">
                    <div class="card-body">
                    <h2>Staff Resources</h2>
                    <ul class="list-unstyled">
                        <li><a href="">Staff Area</a></li>
                        <li><a href="">Shifts</a></li>
                        <li><a href="">Job Order Admin</a></li>
                        <li><a href="">Admin Area</a></li>
                    </ul>
                    </div>
                </div>
                <!-- General Resources -->
                <div class="card home-card">
                    <div class="card-body">
                    <h2>General resources</h2>
                        <ul class="list-unstyled">
                            <li><a>Makeroom</a></li>
                            <li><a>Job orders</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card home-card">
                    <div class="card-body">
                        <h2>Shortcuts</h2>
                        <h3>Recently Opened</h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-square text-secondary"></i> Project name - GNG1103</li>
                            <li><i class="fa fa-square text-secondary"></i> Project name - GNG1103</li>
                            <li><i class="fa fa-square text-secondary"></i> Project name - GNG1103</li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="card home-card">
                    <div class="card-body">
                        <h2>Volunteer Program</h2>
                        <h3>Shadowing scheduled this week:</h3>
                        <ul class="list-unstyled list-box shadowing-list">
                            <!-- TODO This should be a loop -->
                            <li style="border-color:orange"><span class="list-header">Makerspace</span><br />Monday 4:00PM - 5:15PM</li>
                            <li style="border-color:red"><span class="list-header">Brunsfield</span><br />Monday 4:00PM - 5:15PM</li>
                        </ul>
                        <a href="">Show more</a>
                        <h3>Your tasks:</h3>
                        <ul class="list-unstyled list-box volunteer-task-list">
                            <!-- TODO This should be a loop -->
                            <li><i class="fa fa-circle"></i> <span class="list-header">Makerspace</span>: 10h30</li>
                            <li><i class="fa fa-circle"></i> <span class="list-header">Makerspace</span>: 10h30</li>
                            <li><i class="fa fa-circle"></i> <span class="list-header">Makerspace</span>: 10h30</li>
                            <li><i class="fa fa-circle"></i> <span class="list-header">Makerspace</span>: 10h30</li>
                            <li><i class="fa fa-circle"></i> <span class="list-header">Makerspace</span>: 10h30</li>
                        </ul>
                        <a href="" class="me-5">Show more</a><a href="">Sign up for more tasks</a>
                    </div>
                </div>
                <div class="card home-card">
                    <div class="card-body">
                        <h2>Development Program</h2>
                        <ul class="list-unstyled list-box volunteer-task-list">
                            <!-- TODO This should be a loop -->
                            <li><i class="fa fa-circle"></i> <span class="list-header">3D Printing</span> 10/10</li>
                            <li><i class="fa fa-circle"></i> <span class="list-header">Laser cutting Printing</span> 0/10</li>
                        </ul>
                        <a href="">Show more</a>
                    </div>
                </div>
            </div>
            <!--Middle column -->
            <div class="col-xl-6">
                <div class="card home-card">
                    <div class="card-body">
                    <h2>Welcome to <b>CEED</b>Repo</h2>

                    </div>
                </div>
            </div>
            <!--Right column -->
            <div class="col-xl">
                <div class="card home-card">
                    <div class="row">
                        <div class="col">
                            <img />
                            <p>username</p>
                            <a class="btn btn-primary">Edit Profile</a>
                            <br />
                            <a class="btn btn-link">Sign out</a>
                        </div>
                        <div class="col">

                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
