<% provide(:title, "Hours of Operation") %>
<section id="hours-of-operation">

  <div class="title">Hours of Operation</div>
  <div class="container">

    <div class="column">
      <div class="spc">Makerspaces</div><br>
      <div class="label">Registered students and faculty members</div>
      <ul>
        <li><i class="fa fa-angle-double-right li" aria-hidden="true"></i> Monday-Friday , 12 pm - 8 pm</li>
      </ul><br>
      <div class="label">General Public</div>
      <ul>
        <li><i class="fa fa-angle-double-right li" aria-hidden="true"></i> Sunday , 11 am -  5pm</li>
      </ul>
      <div class="label">Summer Hours</div>
      <ul>
        <li><i class="fa fa-angle-double-right li" aria-hidden="true"></i> Sunday , 11 am -  5pm</li>
      </ul>
    </div>

    <div class="column">
      <div class="spc">Brunsfield Center</div><br>
      <ul>
        <li><i class="fa fa-angle-double-right li" aria-hidden="true"></i> Wednesdays &amp; Saturday , 12 pm - 8 pm</li>
      </ul><br>
    </div>

  </div>
  <br>
  <div class="container">
    <li><i class="fa fa-asterisk li" aria-hidden="true"></i> Schedules are subject to change in spring/summer semesters</li>
  </div>

  </div>
</section>
