<% provide(:title, t('hours.title')) %>
<section id="hours-of-operation">
    <h1 class="text-center"><%= t('hours.title') %></h1>

    <div id="calendar" class="styled-calendar"></div>

    <div id="filters" class='d-flex flex-wrap gap-3 mt-2'></div>

    <p><i class="fa fa-asterisk" aria-hidden="true"></i> <%= t('hours.disclaimer') %></p>
</section>

<%= vite_javascript_tag 'fullcalendar_setup_homepage' %>