<% provide(:title, "Hours of Operation") %>
<section id="hours-of-operation">

  <div class="title">Hours of Operation</div>
  <div class="container">
    <div class="row">

      <% @contact_info.each do |space| %>
      <div class="col-md-6">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h4 class="card-title"><%= space.name %></h4>
          </div>
          <div class="card-body pt-0">
            <p><b>Registered students and faculty members</b></p>
            <%= space.opening_hour.students.html_safe %>
          </div>
          <div class="card-body pt-0">
            <p><b>General Public</b></p>
            <%= space.opening_hour.public.html_safe %>
          </div>
          <div class="card-body pt-0">
            <p><b>Registered students and faculty members</b></p>
            <%= space.opening_hour.summer.html_safe %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <br>
  <div class="container">
    <p><i class="fa fa-asterisk li" aria-hidden="true"></i> Schedules are subject to change at any time, without notice.</p>
  </div>

  </div>
</section>
