<% provide(:title, "Hours of Operation") %>
<section id="hours-of-operation">

  <div class="title">Hours of Operation</div>
  <div class="container">
    <div class="row">

      <% @contact_info.each do |space| %>
      <div class="col-md-6">
        <div class="spc"><%= space.name %></div>
        <div class="label">Registered students and faculty members</div>
        <ul>
          <li>
            <%= space.opening_hour.students.html_safe %>
          </li>
        </ul>
        <div class="label">General Public</div>
        <ul>
          <li>
            <%= space.opening_hour.public.html_safe %>
          </li>
        </ul>
        <div class="label">Summer Hours</div>
        <ul>
          <li>
            <%= space.opening_hour.summer.html_safe %>
          </li>
        </ul>
        <br>
      </div>
      <% end %>
    </div>
  </div>
  <br>
  <div class="container">
    <li><i class="fa fa-asterisk li" aria-hidden="true"></i> Schedules are subject to change at any time, without notice.</li>
  </div>

  </div>
</section>
