<% provide :title, t('labs.tab_title') %>
<h1 class="text-center"><%= t('labs.title') %></h1>
<div class="container">
    <p class="fs-3"><%= t('labs.subtitle') %>:</p>
    <ul class="list-group">
        <a class="list-group-item list-group-item-action" href="https://labs.makerepo.com/mill">Mill prelab</a>
        <a class="list-group-item list-group-item-action" href="https://labs.makerepo.com/lathe">Lathe prelab</a>
        <a class="list-group-item list-group-item-action" href="https://labs.makerepo.com/3d-printing">3D printing prelab</a>
        <a class="list-group-item list-group-item-action" href="https://labs.makerepo.com/laser-cutting">Laser cutting prelab</a>
        <a class="list-group-item list-group-item-action" href="https://labs.makerepo.com/basic-training">Basic training prelab</a>
    </ul>
</div>
