<% content_for :preheader do %>
  Makerepo - Job Order Payment Failed
<% end %>

<% content_for :team_name do %>
  The MakerRepo Team
<% end %>

<% content_for :why_received do %>
  You have received this email because the payment for your Job Order has failed on <a href="https://makerepo.com" style="text-decoration: underline; color: #999999; font-size: 12px; text-align: center;">makerepo.com</a>.
<% end %>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">Hello,</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  We are sorry to inform you that the payment for your Job order with ID #<%= @job_order.id %> has failed. Feel free to try again or to pay via another payment method.
</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  If you require any further assistance or have question about the current order, please contact us at <a href="mailto:makerspace@uottawa.ca">makerspace@uottawa.ca</a>. Please include the Job Order ID #<%= @job_order.id %> in your email.
</p>