$pswp__assets-path: "photoswipe/src/css/default-skin/";

@import "shared/variables";
@import "toastr/build/toastr.min";
@import "flatpickr/dist/flatpickr";
@import "tom-select/dist/css/tom-select.bootstrap5";

// a {
//   text-decoration: none;
// }
.turbo-progress-bar {
  background-color: black;
  // background-color: theme-color("primary");
}

@media (prefers-reduced-motion: reduce) {
  .form-control:not(#q, .inanimate) {
    transition: none;
  }
}
