# Sensitive Secrets
config/master.key
config/credentials/*.key
config/deploy_*
config/makerepo-*.json
*.key
*.pem
*.crt
.env*
certs/*

# Database Dumps
*.dump
*.bak
*.sql

# Git & Dev Container Meta
.git
.gitignore
.devcontainer
.github

# Logs, Temp files, and Storage
log/*
tmp/*
storage/*
coverage/*
.byebug_history

# Local Asset & Package caches (Rebuilt fresh during Docker build)
node_modules
public/packs*
public/assets
public/vite*