# Rails
SECRET_KEY_BASE=string_of_at_least_30_random_characters

# Database
DB_NAME=makerspacerepo
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# AWS
S3_REGION=us-east-2
S3_BUCKET_NAME=uottawa-makerrepo-dev
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key

# Shopify
SHOPIFY_SHOP_NAME: shop_name
SHOPIFY_API_KEY: my_shopify_api_key
SHOPIFY_SHARED_SECRET: my_shopify_shared_secret
SHOPIFY_PASSWORD: my_shopify_password
SHOPIFY_WEBHOOK: my_shopify_webhook

# Acclaim
ACCLAIM_API: my_acclaim_api_key

# Sidekiq
SIDEKIQ_USERNAME: sidekiq_username
SIDEKIQ_PASSWORD: sidekiq_password