<% if flash[:alert] %>
    <div id="alert"><%= flash[:alert] %></div>
<% end %>
<div class="rounded border">
    <div class="col-lg-7 mx-auto mt-3">
        <div class="text-center">
            <h1 class="text-center"><%= t('repository.edit_proj') %></h1>
            <%= link_to fa_icon('search', text: 'View project'),
                        repository_path(@repository.user_username, @repository.id),
                        class: 'btn btn-secondary mx-auto' %>
        </div>
        <%= render 'form' %>
    </div>
</div>
