<% provide(:title, 'New Project') %>
<div class="container border">
    <div class="col-lg-7 mx-auto mt-3">
        <h1 class="text-center"><%= t('repository.header') %></h1>
        <%= render 'form' %>
    </div>
</div>
