<section id= "password_entry">
  <div class= "title" id="pass_entry">
    <p> This project is private<br>Please enter password to access the page </p>
  </div>
  <%= form_tag  pass_authenticate_repository_path do %>

    <%= password_field_tag :password, nil, placeholder: 'Password' %>

    <%= submit_tag "Sign In/Connexion", class: 'login-button', 'tab-index': "3" %>

  <% end %>

</section>

<br>
