<div class="container">
  <section class="card mt-4">
    <div class="col-lg-7 mx-auto">
      <section id="password_entry">
        <div class= "title" id="pass_entry">
          <p> This project is private<br>Ce projet est privé</p>
        </div>
        <%= form_tag pass_authenticate_repository_path do %>
          <%= password_field_tag :password, nil, placeholder: 'Password/Mot de passe', class: 'mb-4 form-control' %>
          <%= submit_tag 'View Page/Voir la page', class: 'login-button btn btn-success p-3', 'tab-index': '3' %>
        <% end %>
      </section>
    </div>
  </section>
</div>
