<section id="page-contents">
  <div class="edit-column">
    <div class="setting-title"><%=link_to "Spaces Manager", admin_spaces_path%></div><br></br>
    <h2>Select a Space To Edit </h2>
    <br>
    <%Space.all.each do |space|%>
    <div id="space-buttons">
      <%= link_to ("Edit " + space.name.capitalize), edit_admin_space_path(id: space.id, space_params: {name: space.name}), method: :get, class: "space-button"%>
      <%= link_to fa_icon('desktop'), edit_admin_space_path(id: space.id, space_params: {name: space.name}),  method: :get, class: "space-button", style:"border:none;"%><br></br>
    </div><br></br><br></br>
    <%end%>

  </div>
</section>
