<div class="changelog-container">
  <h1>Changelog</h1>
  <p class="changelog-subtitle">
    Recent changes and updates to MakerSpaceRepo.
  </p>
  <hr>
  <div class="changelog-content">
    <%= @changelog_html %>
  </div>
</div>