<div class="padding">
  <h2>New Print Order</h2>
  <p>*** All prints must be picked up at UOttawa Makerspace in Ottawa, you will be contacted by email at each steps up to pickup. The quote is available as soon as a staff member puts it on the system and it will be sent to you by email waiting for your approval before being printed ***</p>
  <p>*** All payments will go through secured payment (<a href="https://makerstore.ca/">Makerstore.ca</a>) With methods available : Cash / Debit Card (Visa Debit, interac <b>might</b> work) / Credit Card (Visa / Mastercard)</p>
  <%= form_for(@print_order, multipart: true, url: print_order_index_path) do |f| %>
    <div class="form-group">
      <label>STL File</label>
      <%= f.file_field :file, style: "display: block!important;", :required => true %>
    </div>

    <div class="form-group">
      <label>Comments </label>
      <%= f.text_area :comments, class: "form-control" %>
    </div>
    <%= f.hidden_field :userid, :value => current_user.id %>


    <div class="form-group">
      <button class="btn btn-primary" type="submit">Submit Request</button>
    </div>
  <% end %>
</div>