<% content_for :preheader do %>
    MakerRepo - Your locker rental has been cancelled
<% end %>

<% content_for :why_received do %>
    <% if @locker_rental.locker %>
        You have received this email because you have a locker assigned to you.
    <% else %>
        You have received this email because you have made a locker request.
    <% end %>
<% end %>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">Hello <%= @user.name %>,</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
    <% if @locker_rental.locker %>
        Your rental for locker <b><%= @locker_rental.locker.specifier %></b> has been cancelled on <%= @locker_rental.expired_since.to_date.to_formatted_s :long %>
    <% else %>
        Your locker request, created on <%= @locker_rental.created_at.to_fs :long %>, has been rejected.
    <% end %>
</p>
