<section id="help-center">
  <div class="title">Admin</div>


  <div class="container">

    <div class="col">
      <div class="category">Users</div>
      <ul class="fa-ul">
        <li><%= link_to fa_icon("angle-double-right li", text: 'Users'),
          admin_users_path %></li>
      </ul>
    </div>

    <div class="col">
      <div class="category">RFID</div>
      <ul class="fa-ul">
        <li><%= link_to fa_icon("angle-double-right li", text: ' New RFID Card Numbers'),
          new_card_number_rfid_index_path %></li>
        <li><%= link_to fa_icon("angle-double-right li", text: ' Link User to Carc Number'), new_rfid_path %></li>
      </ul>
    </div>


  </div>

</section>
