<section id="help-center">
  <div class="title">Admin</div>


  <div class="container">

    <div class="col">
      <ul class="fa-ul">
        <li><%= link_to fa_icon("angle-double-right li", text: 'Manage Users'), admin_users_path %></li>
      </ul>
    </div>

  </div>

</section>
