
<section id ="page-contents" >
    <table class="staff-table">
      <tr>
        <th>Username</th>
        <th>Last Signed In</th>
        <th>Location</th>
        <th>Certification</th>
      </tr>

    <% @users.each do |user| %>
      <tr>

        <td><%=
          link_to(user.username, user_url(user.username))
        %></td>

        <td style="horizontal-alginment:center;"><%=
          if user.lab_sessions.present?
            singout_time = user.lab_sessions.last.sign_out_time
            singout_time.strftime("%B %d, %Y")
          end
        %></td>

        <td><%=
          user.location
        %></td>

        <td><%=
          if user.certifications.last.present? && (user.certifications.first == user.certifications.last)
            user.certifications.last.training
          elsif user.certifications.last.present?
            user.certifications.last.training + " ..."
          end
        %></td>

      </tr>
    <% end %>
    </table>
</section>
