<section class="page-contents">
  <div class="text-center">
    <h2 class="mb-3 fw-bold">Volunteer Tasks</h2>

    <div class="accordion" id="volunteerTasksAccordion">
      <!-- Open Tasks -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="openTasks">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Open Volunteer Tasks
          </button>
        </h2>

        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="openTasks" data-bs-parent="#volunteerTasksAccordion">
          <div class="accordion-body">
            <%= render partial: 'volunteer_tasks/volunteer_task_table',
                       locals: { volunteer_tasks: @open_volunteer_tasks, title: 'Open Volunteer Tasks', type: 'open' } %>
          </div>
        </div>
      </div>

      <!-- Completed Tasks -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="completedTasks">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Completed Volunteer Tasks
          </button>
        </h2>

        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="completedTasks" data-bs-parent="#volunteerTasksAccordion">
          <div class="accordion-body">
            <%= render partial: 'volunteer_tasks/volunteer_task_table',
                       locals: { volunteer_tasks: @completed_volunteer_tasks, title: 'Completed Volunteer Tasks', type: 'completed' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
