<section class="p-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mb-4">
        <h2>Badge Requests</h2>
      </div>
    </div>
    <div class="text-center">
        <table class="table table-striped">
          <tr>
            <th>Name</th>
            <th>Badge</th>
            <th>Certify</th>
            <th>Delete</th>
          </tr>
          <tbody>

          <% @users.each do |user| %>
            <% user.orders.each do |order| %>
              <% order.order_items.each do |item| %>
                <% if ProficientProject.find(item.proficient_project_id).badge_id.present? and order.order_status == OrderStatus.find_by(name: "Completed") %>
                  <tr>
                    <td><%= user.name %></td>
                    <td><%= Badge.get_badge_name(ProficientProject.find(item.proficient_project_id).badge_id) %></td>
                    <td><%= link_to "Certify", new_badge_badges_path(user.id, order.id, ProficientProject.find(item.proficient_project_id).badge_id), class: "btn btn-primary", data: {confirm: 'Are you sure?'} %></td>
                    <td><%= link_to "Cancel", order_item_cancel_path(item.id), class: "btn btn-danger", data: {confirm: 'Are you sure?'}, :method => :delete %></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          </tbody>
        </table>
    </div>
  </div>
</section>
