<% begin %>
  <br>
  <h2 style="text-align: center">Badges</h2>
  <div style="width: 100%;" class="row">
    <% @acclaim_data.each do |badges| %>
      <div class="col-md-3">
        <p style="text-align: center">
          <% if badges.user_id.present? %>
            <%= link_to(badges.issued_to, user_path(badges.username)) %>
          <% else %>
            <%= badges.issued_to %>
          <% end %>
        </p>

        <a style="width: inherit" target="_blank" href="<%= badges.badge_url %>">
          <%= image_tag(badges.image_url, :style => "width: inherit") %>
        </a>
      </div>
    <% end %>
  </div>
<% rescue %>
  <div class="alert alert-danger" style="width: 100%; text-align: center">
    An error has occurred while getting the badges, try again later or contact technical support. Sorry for the
    inconvenience.
  </div>
<% end %>