<div id="comments-modal-rendered">
  <%= form_for @job_order, url: job_order_comments_path(@job_order), method: :patch do |f| %>
    <%= f.label :staff_comments, 'Comments for the staff' %>
    <%= f.text_field :staff_comments, placeholder: "Low on filament...", class: 'form-control mb-2' %>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  <% end %>
</div>