<div class="jumbotron text-center">
  <h1>Thank You for ordering a Job Order!</h1>
  <p>You can now pay for your order! Please make sure you verify the pricing before you proceed with the payment. Once the payment has been completed, it is not be possible to cancel it.</p>
  <p><b>We do not save any payment information</b>. All data is saved on our Payment Processor's servers (Stripe).</p>
  <hr>
  <p class="lead">
    Total Quote: <%= number_to_currency(@job_order.total_price) %>
  <div class="mt-3">
    <%= link_to 'Proceed to the payment page', @stripe_session.url, class: 'btn btn-primary' %>
  </div>
  </p>
  <hr>
  <p>
    Having trouble or have any questions? Contact Us!
  </p>
  <p><a href="mailto:makerspace@uottawa.ca">makerspace@uottawa.ca</a> (For General Questions and Administrative issues)</p>
  <p><a href="mailto:uottawa.makerepo@gmail.com">uottawa.makerepo@gmail.com</a> (Website Technical Issues)</p>
</div>