<div class="jumbotron text-center">
  <i class="fa fa-times-circle fa-5x mb-3 text-danger"></i>
  <h1>The payment for this Job Order has failed. You will <b>NOT</b> be charged.</h1>

  <h2 class="fs-4">Feel free to try again by clicking on the link in the email or by going to
    your <%= link_to "Job Order's dashboard", job_orders_path %>.</h2>
  <hr>
  <p>
    Having trouble or have any questions? Contact Us!
  </p>
  <p><a href="mailto:makerspace@uottawa.ca">makerspace@uottawa.ca</a> (For General Questions and Administrative issues)
  </p>
  <p><a href="mailto:uottawa.makerepo@gmail.com">uottawa.makerepo@gmail.com</a> (Website Technical Issues)</p>
</div>