<ul class="timeline" id="timeline-modal-rendered">
  <% @job_order.job_order_statuses.order(created_at: :desc).each do |jos| %>
    <li>
      <div class="d-flex justify-content-between">
        <p><%= jos.job_status.name %>
          <%= sanitize("(By: #{link_to jos.user.name, user_path(username: jos.user.username)})") if [JobStatus::BEING_PROCESSED, JobStatus::COMPLETED].include?(jos.job_status) %>
        </p>
        <p class="float-right"><%= jos.created_at.strftime('%b %e %Y at %H:%M') %></p>
      </div>
      <p><%= sanitize(jos.job_status.description) %></p>
    </li>
  <% end %>
</ul>