<div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModal" aria-hidden="true">
    <%= hidden_field_tag :sub_space_booking_id, nil, id: 'sub_space_booking_id' %>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookingModalLabel">New Booking</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="bookClose" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 text-center">
                    <label for="book-name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="book-name" placeholder="John Doe">
                    <br>
                    <div id="TimeSlot"></div>
                    <label for="book-description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="book-description" placeholder="Meeting with John Doe">
                    <br>
                    <label for="book-start">Start Date</label>
                    <input id="book-start" autocomplete="false" class="form-control inanimate">
                    <br>
                    <label for="book-end">End Date</label>
                    <input id="book-end" autocomplete="false" class="form-control inanimate">
                    <span class="invalid-feedback d-none" id="end-date-validation" >The End Date needs to be greater than the Start Date.</span>
                    <br>
                    <div class="mb-3">
                        <label for="subspace" id="subspace_header">Subspace</label>
                        <%= select_tag 'sub_space_booking', options_from_collection_for_select(SubSpace.all.where(space_id: @subspace.space_id), 'id', 'name'), id: "subspace", class: "form-control" %>
                    </div>

                    <input type="checkbox" id="book-recurring" class="form-check-input">
                    <label for="book-recurring" id="book-recurring-label">Is this a recurring booking?</label>
                    <br>
                    <div class="flatpickr">
                        <label for="book-recurring-end" id="book-recurring-end-label">Recurring End Date</label>
                        <input id="book-recurring-end" autocomplete="false" class="form-control inanimate">
                    </div>
                    <label for="book-recurring-type" id="book-recurring-type-label">Recurring Frequency</label>
                    <select id="book-recurring-type" class="form-select form-control">
                        <option value="weekly">Weekly</option>
                        <option value="monthly">Monthly</option>
                    </select>
                    <% if current_user.admin? %>
                        <input type="checkbox" id="book-blocking" !checked class="form-check-input">
                        <label for="book-blocking">Block from booking in this timeframe?</label>
                    <% end %>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="bookDelete" class="btn btn-danger">Delete</button>
                <div class="dropdown" id="bookDeleteRecurringDropdown">
                    <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        Delete...
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" id="bookRecurringDeleteOne">This only</button></li>
                        <li><button class="dropdown-item" id="bookRecurringDeleteRest">This and rest</button></li>
                    </ul>
                </div>
                <button type="button" id="bookCancel" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">Close</button>
                <button type="button" id="bookSave" class="btn btn-primary">Book</button>
                <button type="button" id="bookUpdate" class="btn btn-primary">Update</button>>
            </div>
        </div>
    </div>
</div>
