<% if current_user.admin? %>
  <% Announcement.active.admins.find_each do |a| %>
    <div class="alert alert-secondary text-center" role="alert">
      <b>To Admins:</b> <%= a.description %>
    </div>
  <% end %>
<% end %>

<% if current_user.staff? %>
  <% Announcement.active.staff.find_each do |a| %>
    <div class="alert alert-info text-center" role="alert">
      <b>To Staff:</b> <%= a.description %>
    </div>
  <% end %>
<% end %>

<% if !Announcement.active.all_users.blank? && signed_in? %>
  <% Announcement.active.all_users.find_each do |a| %>
    <div class="alert alert-primary text-center" role="alert">
      <b>To All Users: </b><%= a.description %>
    </div>
  <% end %>
<% end %>

<% if current_user.volunteer? || current_user.staff? %>
  <% Announcement.active.volunteers.find_each do |a| %>
    <div class="alert alert-warning text-center" role="alert">
      <b>To Volunteers:</b> <%= a.description %>
    </div>
  <% end %>
<% end %>