<% youtube_id = YoutubeID.from(url).to_s %>
<% if youtube_id.match?(/\A[a-zA-Z0-9_-]{11}\z/) %>
  <iframe width="650" height="365"
          class="youtube-embed"
          id="yt-player-<%= youtube_id %>"
          src="https://www.youtube.com/embed/<%= youtube_id %>?enablejsapi=1"
          frameborder="0"
          loading="lazy"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
  </iframe>
<% else %>
  <p>Invalid video.</p>
<% end %>