<br>
<h1>Price Rules <%= link_to 'New Price rule', new_price_rule_path, class: "btn btn-secondary" %></h1>

<table class="table">
  <thead class="text-center">
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Edit</th>
    <th scope="col">Destroy</th>
  </tr>
  </thead>

  <tbody>
    <% @price_rules.each do |price_rule| %>
      <tr>
        <td scope="row"><%= price_rule.title %></td>
        <% if price_rule.has_discount_codes? %>
          <td>Cannot Edit</td>
        <% else %>
          <td><%= link_to 'Edit', edit_price_rule_path(price_rule), class: "btn btn-primary" %></td>
        <% end %>
        <td><%= link_to 'Destroy', price_rule, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

