<section id="report">
<div class="edit-column">

<h1>Report Generator</h1>
<p>Click the button below to view user reports</p>


<%= link_to '<button type="button">Export Data</button>'.html_safe, report1_admin_report_generator_index_path(format: "csv") %><br><br>

<%= link_to '<button type="button">Export Data2</button>'.html_safe, report2_admin_report_generator_index_path(format: "csv") %>

</div>
</section>