$theme-colors: (
  //"primary": rgb(95, 158, 160) // "MakerRepo Green"
  //"primary": #497979 // New "MakerRepo Green"
  "primary": #e24829,
  // "CEEDRepo Orange"
  "secondary": #868686
);

$primary: #e24829;
$secondary: #868686;
$tertiary: #f7f7f7;
$navbar-light-color: rgba(0, 0, 0, 0.7);
$navbar-light-hover-color: rgba(0, 0, 0, 1);
$navbar-dark-color: rgba(255, 255, 255, 0.7);
$navbar-dark-hover-color: rgba(255, 255, 255, 1);
$body-top-padding: 4rem; // equivalent to navbar height
$input-border-radius: 0.25rem !default;
$bs-pagination-border-radius: 0;
