$primary: #e24829;
$secondary: #868686;
$tertiary: #f7f7f7;
$light: #e24829;
$dark: #8f001a;

$theme-colors: (
  //"primary": rgb(95, 158, 160) // "MakerRepo Green"
  //"primary": #497979 // New "MakerRepo Green"
  "primary": $primary,
  // "CEEDRepo Orange"
  "secondary": $secondary,
  "tertiary": $tertiary
);

$body-top-padding: 4rem; // equivalent to navbar height
$input-border-radius: 0.25rem !default;

$nav-link-color: white;
$nav-link-hover-color: black;
