<br>
<div class="text-center">
  <h1>You can use these discount codes in our <%= link_to 'makerstore', 'http://makerstore.ca/', target: :blank %></h1>
</div>

<div class="container my-5">
    <% @discount_codes.each do |discount_code| %>
    <div class="row text-center">
      <div class="col-12">
        <%= discount_code.code %>
      </div>
    </div>
    <% end %>
</div>
<br>
<br>