<br>
<div class="text-center">
  <h2><b>Redeem your CC points!</b></h2>
  <h5>Get discounts and buy in our <%= link_to 'makerstore', 'http://makerstore.ca/', target: :blank, class: 'text-primary' %></h5>
</div>

<div class="container my-5">
  <% if @price_rules.present? %>
    <div class="row">
    <!-- VERY ANNOYING: we are using the coupon_code model right now, price_rule is while we're using shopify. !-->
      <% @price_rules.each do |price_rule| %>
        <div class="card" style="width:18rem; border: 5px dotted #bbb; margin-right: 5px; margin-bottom: 5px;">
          <div class="card-body">
            <h5 class="card-title"><%= link_to "$#{price_rule[0]} off our MakerStore", 'https://makerstore.ca' %>
<!--            <p class="card-text">Monetary value : $<%#= price_rule.value %></p>-->
<!--            <p class="card-text">Coupon Price : <%#= price_rule.cc %> CCs</p>-->
            <p class="card-text">Coupon Price : <%= price_rule[1] %> CCs</p>
            <%#= link_to 'Redeem', discount_codes_path(price_rule_id: price_rule.id), method: :post, class: 'btn btn-info d-block w-100', data: { confirm: "Are you sure you want to buy the coupon for #{price_rule.cc} CCs ? You can't undo this action." } %>
            <%= button_to 'Redeem', discount_codes_path(dollar_cost: price_rule[0]), method: :post, class: 'btn btn-info d-block w-100', data: { confirm: "Are you sure you want to buy the coupon for #{price_rule[1]} CCs ? You can't undo this action." } %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="text-center">
      <p>Sorry. At this moment we don't have any coupons to offer.</p>
      <p>Please come back another day or contact us at uottawa.makerepo@gmail.com</p>
    </div>
  <% end %>
</div>
<br>
<br>
