<section style="padding-left: 8vw;padding-top: 5vw;">
  <p style="font: 400 1.3em 'Raleway', sans-serif;color: #333;"><h1>
  Hi, <%= @user.name %>!
</h1>
  </p>

  <p style="font: 400 1.1em 'Raleway', sans-serif;color: #333; line-height: 35px;">
    Your email has been changed to the following email address : <%= @user.email %>. <br>
    If you changed it, you don't have to do anything, you can start using your new email address. <br>
    If you did not make that change, please contact <a href="mailto:uottawa.makerepo@gmail.com">uottawa.makerepo@gmail.com</a> as soon as possible so we can fix this issue.
  </p>


  <p style="  font: 400 1.1em 'Raleway', sans-serif;color: #333;">
    Cheers,<br>
    The MakerRepo Team
  </p>
</section>
