<% content_for :preheader do %>
  Makerepo - Your Kit is Ready
<% end %>

<% content_for :team_name do %>
  The MakerRepo Team
<% end %>

<% content_for :why_received do %>
  You have received this email because you bought a Proficient Project Kit on <a href="https://makerepo.com" style="text-decoration: underline; color: #999999; font-size: 12px; text-align: center;">makerepo.com</a>.
<% end %>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">Hello <%= @user.name %>,</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  We received your kit order for your <%= ProficientProject.find(@pp).title %> project. You can pick it up at the UOttawa Makerspace during the regular
  <a href="https://makerepo.com/hours">opening hours</a>.
</p>