<h2>Bonjour, Hello,</h2>
<p><b>English will follow.</b></p>
<p>
  Tous les deux ans nous demandons à tous les utlisateurs de MakerRepo de s'assurer que les informations dans leur
  profil sont encore à jour. Vous pouvez vous en en assurer en cliquant sur le
  <a href="https://makerepo.com/settings/profile">lien</a>. N'hesitez pas à nous envoyer un courriel à
  uottawa.makerepo@gmail.com si vous avez des questions sur le processus de mise a jour d'informations dans votre
  profil. Si vos informations sont a jour, vous pouvez ignorer ce présent message.
</p>
<p>
  Every two years we ask all MakerRepo users to make sure their profile information is still up to date. Please make
  sure it is by going to the following
  <a href="https://makerepo.com/settings/profile">link</a>. Don't hesitate to reach out to uottawa.makerepo@gmail.com if
  you have any questions about the process. If your profile information is still up to date, you can ignore this email.
</p>
<p>
  Merci, Thank you,<br>
  <b>L'équipe Makerepo, The MakerRepo Team</b>
</p>
<p>
  Si vous ne parvenez pas a ouvrir le lien, vous pouvez copier/coller le lien suivant :
  https://makerepo.com/settings/profile
  <br>
  If you could not open the link copy and paste the following link : https://makerepo.com/settings/profile
</p>

<footer>
  <p>Vous avez recu ce courriel car vous avez un compte sur <a href="https://makerepo.com">makerepo.com</a>, si vous
    souhaitez ne plus recevoir de courriel de notre part, veuillez supprimer votre compte avec l'aide du
    <a href="https://makerepo.com/settings/admin">lien suivant</a>. En supprimant votre compte, veuillez savoir que toutes
    données seront supprimées et par conséquent, irrécupérables. Ceci pourrait avoir des incidences sur vos notes si vous
    avez un cours qui utlise MakerRepo présentement.</p>

  <p>You have received this email because you have an active account on <a href="https://makerepo.com">makerepo.com</a>,
    if you do not want to receive new email from us, please delete your account with the help of the
    <a href="https://makerepo.com/settings/admin">following link</a>. By deleting your account, please note that all data
    will be deleted and will not be recoverable. This may affect your grades if you are currently following a course that
    is using MakerRepo.</p>
</footer>