<% content_for :preheader do %>
  Makerepo - OMMIC Conference 50% Discount
<% end %>

<% content_for :team_name do %>
  The MakerRepo Team
<% end %>

<% content_for :why_received do %>
  You have received this email because you are a member of the MakerRepo community on <a href="https://makerepo.com" style="text-decoration: underline; color: #999999; font-size: 12px; text-align: center;">makerepo.com</a>.
<% end %>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">Hello,</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  <%= link_to 'OMMIC', 'http://ommic.ca/' %> is a conference where makers, entrepreneurs, hobbyist,
  educators, and students can come out to compete with innovative designs, meet companies from different
  industries and see the latest and greatest in project technology. It also offers a great opportunity to learn
  new skills through the hands-on workshop that OMMIC provides. OMMIC will also feature multiples panels of teachers,
  entrepreneurs, researchers, and innovators who will discuss how to develop the maker mindset and enable creativity in
  different industries.
</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: bold; margin: 0; margin-bottom: 15px;">
  OMMIC is pleased to announce that you can get 50% off the $50 ticket! So you will only pay $25.
</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: bold; margin: 0; margin-bottom: 15px;">
  This ticket grants you FULL access to the conference including:
</p>
<ul style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px; padding-left: 20px;">
  <li>Dinner buffet on opening gala</li>
  <li>Lunch and coffee breaks for two days during OMMIC</li>
  <li>The chance to compete in innovative design competitions and win cash prizes (open to ALL)</li>
  <li>Collection of OMMIC swag</li>
  <li>Access to the MakerShow</li>
  <li>All OMMIC sessions and workshops</li>
  <li>The chance to network and meet makers, mentors, and entrepreneurs from across the different industries</li>
</ul>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  <b>Discount code:</b> OMMIC18<br />
  <b>Link to register:</b> https://www.eventbrite.ca/e/ontario-makers-and-mentors-innovation-conference-ommic-2018-tickets-48648417727
</p>