<p style="  font: 400 1.3em 'Raleway', sans-serif;color: #555;">
<h1>Hello, this is the Richard L'Abbé Makerspace Survey 2019.</h1>
</p>

<%= image_tag "face_optimized.jpg", class: "background" %>

<p style="  font: 400 1.1em 'Raleway', sans-serif;color: #555;">
  Your opinion is important to us. Please fill up this 2 minute
  <%= link_to 'Survey', "https://docs.google.com/forms/d/1qWve-PthgaRXFd8-BmKlidoe_f8geC-_X8HaqdM62d0" %>
  so we can improve our services and best serve your needs.
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <a href="https://docs.google.com/forms/d/1qWve-PthgaRXFd8-BmKlidoe_f8geC-_X8HaqdM62d0" class="btn btn-primary">Survey</a>
      </div>
    </div>
  </div>

<hr class="my-5"/>
</p>
<p style="  font: 400 1.1em 'Raleway', sans-serif;color: #555;">
  Best regards,<br>
  The MakerRepo Team
</p>
<br />
If you could not open the link copy and paste the following:
<b>Link:</b> https://docs.google.com/forms/d/1qWve-PthgaRXFd8-BmKlidoe_f8geC-_X8HaqdM62d0

