<p style="  font: 400 1.3em 'Raleway', sans-serif;color: #555;">
<h1>Hello, your part is ready for pickup at UOttawa Makerspace !</h1>
</p>
<p style="  font: 400 1.1em 'Raleway', sans-serif;color: #555;">
  Your part is ready for pickup at UOttawa Makerspace ! Your pickup ID is <%= @pickup_id %>. You will be able to pay by Cash or Credit/Debit Card in the Makerspace. Our hours are : <a href="https://makerepo.com/hours">https://makerepo.com/hours</a> !
</p>
<p style="  font: 400 1.1em 'Raleway', sans-serif;color: #555;">
  Have a nice day,<br>
  The Makerspace Team
</p>

