<% content_for :preheader do %>
  Makerepo - Checklist Reminder
<% end %>

<% content_for :team_name do %>
  The MakerRepo Team
<% end %>

<% content_for :why_received do %>
  You have received this email because you have a shift at the Makerspace on <a href="https://makerepo.com" style="text-decoration: underline; color: #999999; font-size: 12px; text-align: center;">makerepo.com</a>.
<% end %>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">Hello, <%= User.find_by(email: @email).name.titleize %></p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  This is a reminder that you have to fill a checklist form at the beginning of your shift.<br>
  This checklist is to ensure that the Makerspace is nice and clean.<br>
  The link to the form is <%= link_to 'Google Form', 'https://goo.gl/forms/C3yohsQsLl6b8tq02' %><br>
</p>