<p style="  font: 400 1.3em 'Raleway', sans-serif;color: #555;"><h1>
    Hello, <%= User.find_by_email(@email).try(:username) %>
 </h1>
</p>
<p style="  font: 400 1.1em 'Raleway', sans-serif;color: #555;">
  This is a reminder that you have to fill a checklist form in the beginning of your shift.<br>
  This checklist has the purpose to make sure that the Makerspace is nice and clean.<br>
  The link to the form is <%= link_to 'Google Form', "https://goo.gl/forms/C3yohsQsLl6b8tq02" %><br>
</p>
<p style="  font: 400 1.1em 'Raleway', sans-serif;color: #555;">
  Cheers,<br>
  The MakerRepo Team
</p>
