<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Hi <%= @user.name %>,
</p>

<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
 We received your kit order for your <%= ProficientProject.find(@pp).title %> project. You can pick it up at the UOttawa Makerspace during the regular
  <a href="https://makerepo.com/hours">opening hours</a>.
</p>

<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Best regards,<br>
  The Makerspace Team
</p>

