<% content_for :preheader do %>
  MakerRepo - Weekly Reports Ready
<% end %>

<% content_for :team_name do %>
  The MakerRepo Team
<% end %>

<% content_for :why_received do %>
  You received this email from MakerRepo.
<% end %>

<h1 style="font-family: sans-serif; font-size: 24px; font-weight: 400; margin: 0; margin-bottom: 15px;">Your weekly reports are ready!</h1>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  The MakerRepo reports for the past week are attached.
</p>