<% content_for :preheader do %>
  Richard L'Abbé Makerspace Survey 2019
<% end %>

<% content_for :team_name do %>
  The MakerRepo Team
<% end %>

<% content_for :why_received do %>
  You received this email from MakerRepo.
<% end %>

<h1 style="font-family: sans-serif; font-size: 24px; font-weight: 400; margin: 0; margin-bottom: 15px;">Hello, this is the Richard L'Abbé Makerspace Survey 2019.</h1>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  Your opinion is important to us. Please fill up this 2 minute
  <%= link_to 'Survey', 'https://docs.google.com/forms/d/1qWve-PthgaRXFd8-BmKlidoe_f8geC-_X8HaqdM62d0', style: 'color: #e55426ff; text-decoration: underline;' %>
  so we can improve our services and best serve your needs.
</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  If you could not open the link copy and paste the following:<br />
  <b>Link:</b> https://docs.google.com/forms/d/1qWve-PthgaRXFd8-BmKlidoe_f8geC-_X8HaqdM62d0
</p>