<h1 style="font: 400 1.5em 'Raleway', sans-serif; color: #555;">Your monthly reports are ready!</h1>

<p style="font: 400 1.1em 'Raleway', sans-serif; color: #555;">
  The MakerRepo reports for the past month are attached.
</p>

<p style="font: 400 1.1em 'Raleway', sans-serif; color: #555;">
  Cheers,<br>
  The MakerRepo Team
</p>
