<section style="padding-left: 8vw;padding-top: 5vw;">
<p style="font: 400 1.3em 'Raleway', sans-serif;color: #333;"><h1>
    Hello!
 </h1>
</p>

<br style="font: 400 1.1em 'Raleway', sans-serif;color: #333; line-height: 35px;">
  A new request was made for the Task <b><%= @volunteer_task.title.capitalize %></b>.  <br />

  Check it <%= link_to "here", "https://makerepo.com/volunteer_task_requests/"%>.

  If you need more information, you can send an email to <%= @email_staff %>.
  <br />

</p>


<p style="  font: 400 1.1em 'Raleway', sans-serif;color: #333;">
  Cheers,<br>
  The MakerRepo Team
</p>
</section>
