<p>
<h1>Hello, this is a Makerspace/Brunsfield Centre Survey.</h1>
</p>
<p>
  Please give us your feedback about your experience in the Makerspace and the Brunsfield Centre.
  By filling this out before March 3rd you will be entered in a draw for a 25$ Amazon gift card!
  <%= link_to 'Survey', "https://docs.google.com/forms/d/e/1FAIpQLSfe7sYCUyKxtRLfowL9EtRI6yPOkcieHogRlPhY6TCqqlv0kg/viewform?usp=sf_link" %>
  <hr />
  SVP fournir votre rétroaction à propos de votre expérience dans le Makerspace et le Centre Brunsfield.
  En répondant à ce sondage avant le 3 mars vous allez être eligible pour un tirage d'une carte
  cadeau d'Amazon de 25$!
  <br />
  <%= link_to 'Survey', "https://docs.google.com/forms/d/e/1FAIpQLSfe7sYCUyKxtRLfowL9EtRI6yPOkcieHogRlPhY6TCqqlv0kg/viewform?usp=sf_link" %>
  <br />
</p>
<p style="  font: 400 1.1em 'Raleway', sans-serif;color: #555;">
  Best regards,<br>
  The MakerRepo Team
</p>
<br />
If you could not open the link copy and paste the following:
<br />
<b>Link:</b> https://docs.google.com/forms/d/e/1FAIpQLSfe7sYCUyKxtRLfowL9EtRI6yPOkcieHogRlPhY6TCqqlv0kg/viewform?usp=sf_link

