<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Hi <%= @user.name %>,
</p>

<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  We have received the results for your proficient project (<%= @pp.title %>). You have <b>failed</b> ! You can see your progress <%= link_to "here", skills_development_programs_path %>. You can pass the test again by purchasing the Proficient Project again.
</p>

<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Best regards,<br>
  The CEED Team
</p>