<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
    Hi,
</p>

<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
    A user has finished his proficient project (<%= @pp.title %>). Check the <a href="https://makerepo.com/proficient_projects/requests">Proficient Project Request page</a> for details.
</p>

<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
Best regards,<br>
Makerepo Team
</p>