<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Hi <%= @user.name %>,
</p>

<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Unfortunately, your print "<%= @filename %>" has been denied.
</p>

<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Reason(s) for denial:<br/>
  <span style="font-style: italic"><%= @comments %></span>
</p>

<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">You can ask for more details by contacting <a href="mailto:makerspace@uottawa.ca">makerspace@uottawa.ca</a>.</p>

<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Best regards,<br>
  The Makerspace Team
</p>
