<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Hi,
</p>

<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  A user has submitted a new print order with ID <%= @print_id %>. Check the <a href="https://makerepo.com/print_orders">print orders page</a> for details.
</p>

<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Best regards,<br>
  The Makerspace Team
</p>