<% content_for :preheader do %>
  Makerepo - You Joined a Volunteer Task
<% end %>

<% content_for :team_name do %>
  The MakerRepo Team
<% end %>

<% content_for :why_received do %>
  You have received this email because you joined a volunteer task on <a href="https://makerepo.com" style="text-decoration: underline; color: #999999; font-size: 12px; text-align: center;">makerepo.com</a>.
<% end %>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">Hello!</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  You just joined the task <b><%= @volunteer_task.title.capitalize %></b>. <br />
  Check it <%= link_to 'here', "https://makerepo.com/volunteer_tasks/#{@volunteer_task.id}" %>.<br />
  If you need more information, you can send an email to <%= @email_staff %>.
</p>