<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Hi <%= @user.name %>,
</p>

<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Your print has completed and is now available for pickup!
  Your order ID is <%= @pickup_id %> and it can be picked up at the uOttawa Makerspace during our <a href="https://makerepo.com/hours">regular operating hours</a>.
</p>

<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Payment will need to be made on-site via cash, credit, or debit.
</p>

<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Best regards,<br>
  The Makerspace Team
</p>
