<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Hi,
</p>

<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Your print order has been approved by an admin for 2 weeks, you can approve or disapprove the quote on <a href="https://makerepo.com/print_orders">makerepo.com</a>
</p>


<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Best regards,<br>
  The Makerspace Team
</p>
