<%= image_tag("EmailHeader.jpg", width: '100%', position: 'relative') %>
<h1>If you don't sign the terms and conditions you can't access your account and your account will be suspended!</h1>
<h2>Visit <a href="www.makerepo.com">makerepo</a> and sign in as soon as possible</h2>
