<%= image_tag("EmailHeader.jpg", width: '100%', position: 'relative') %>
<h1>Hi there!</h1>
<div>Your Makerepo account is frozen until you sign in to <a href="www.makerepo.com">makerepo</a> and agree to the Terms and Conditions </div>
