<%= image_tag("EmailHeader.jpg", width: '100%', position: 'relative') %>
<p style="  font: 400 1.3em 'Raleway', sans-serif;color: #333;"><h1>
    Hi There!
 </h1>
</p>
<p style="  font: 400 1.1em 'Raleway', sans-serif;color: #333;">
  Your Makerepo account is frozen until you sign in to <a href="www.makerepo.com">makerepo</a> and agree to the Terms and Conditions.
</p>
<p style="  font: 400 1.1em 'Raleway', sans-serif;color: #333;">
  Cheers,<br>
  The MakerRepo Team
</p>
