<%= image_tag("EmailHeader.jpg", width: '100%', position: 'relative') %>
<p style="  font: 400 1.3em 'Raleway', sans-serif;color: #333;">
  <label>
    Hi There!
 </label>
</p>
<p style="  font: 400 1.1em 'Raleway', sans-serif;color: #333;">
  In order to use CEED facilities (Makerspace, Brunsfield, etc) you must read and agree to the<br>
  Release Agreement. <br></br>

  1- Visit <a href="www.makerepo.com">Makerepo</a> and sign into your account. <br>
  2- Go to you profile > Edit Profile <br>
  3- Read and agree to the Release Agreement. <br>
  4- Save and update your profile.
  <br>

</p>
<p style="  font: 400 1.1em 'Raleway', sans-serif;color: #333;">
  Cheers,<br>
  The MakerRepo Team
</p>
