<p style="  font: 400 1.3em 'Raleway', sans-serif;color: #555;"><h1>
    Welcome to MakerRepo, <%= @user.name %>,
 </h1> 
</p>

<p style="  font: 400 1.1em 'Raleway', sans-serif;color: #555;">
  You have successfully signed up to MakerRepo.com,
  your username is: <%= @user.username %>.<br>
</p>
<p style="  font: 400 1.1em 'Raleway', sans-serif;color: #555;">
  To login, please follow this link: <%= @url %>.
</p>

<p style="  font: 400 1.1em 'Raleway', sans-serif;color: #555;">
  Cheers,<br>
  The MakerRepo Team
</p>
