<li class="nav-item">
  <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home"
    aria-selected="true">About</a>
</li>
<% if !@repo_user.deleted? %>
  <li class="nav-item">
    <a class="nav-link" id="skills-tab" data-bs-toggle="tab" href="#profile-skills" role="tab"
      aria-controls="profile" aria-selected="false">Skills</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="badges-tab" data-bs-toggle="tab" href="#badges-manager" role="tab"
      aria-controls="profile" aria-selected="false">Badges</a>
  </li>
  <li class="nav-item">
    <a href="#programs-manager" class="nav-link" id="programs-tab" data-bs-toggle="tab" role="tab"
      aria-controls="profile" aria-selected="false">Programs</a>
  </li>

  <!--- Staff Tabs -->
  <% if @user.staff? %>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" href="#" role="button"
        aria-haspopup="true" aria-expanded="false">Staff</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <%= link_to 'Staff Unavailabilities', staff_availabilities_path, class: 'nav-link text-secondary' %>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" id="certifications-tab" data-bs-toggle="tab"
            href="#certifications-manager" role="tab" aria-controls="profile"
            aria-selected="false">Certifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" id="keys-tab" data-bs-toggle="tab" href="#keys-manager" role="tab" aria-controls="profile" aria-selected="false">
            Staff Keys
          </a>
        </li>
      </ul>
    </div>
  <% end %>
  <!--- Admin Tabs -->
  <% if @user.admin? %>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-danger" data-bs-toggle="dropdown" href="#" role="button"
        aria-haspopup="true" aria-expanded="false">Admin</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a class="nav-link text-danger" id="roles-tab" data-bs-toggle="tab" href="#role-manager"
            role="tab" aria-controls="profile" aria-selected="false">Role
            Manager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" id="quick-access-tab" data-bs-toggle="tab" href="#quick-access-manager" role="tab"
            aria-controls="profile" aria-selected="false">Quick Access</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" id="users-tab" data-bs-toggle="tab" href="#user-delete"
            role="tab" aria-controls="profile" aria-selected="false">
            Delete User
          </a>
        </li>
        <% if @repo_user.staff? %>
          <li class="nav-item">
            <a class="nav-link text-danger" id="staff-tab" data-bs-toggle="tab" href="#staff-manager"
              role="tab" aria-controls="profile" aria-selected="false">
              Staff Manager
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% else %>
  <li class="nav-item">
    <a class="nav-link text-danger" id="restore-tab" data-bs-toggle="tab" href="#user-restore"
      role="tab" aria-controls="profile" aria-selected="false">
          Restore User
        </a>
  </li>
<% end %>
