<h2>À LIRE ATTENTIVEMENT!</h2>

<p class="lead">
  ENTENTE D’EXONÉRATION DE RESPONSABILITÉ, DE RENONCIATION AUX RÉCLAMATIONS
    ET D’ACCEPTATION DES RISQUES
</p>

<p>
  EN ACCEPTANT LE PRÉSENT DOCUMENT, VOUS RENONCEZ À CERTAINS DROITS RECONNUS PAR LA
  LOI, Y COMPRIS LE CELUI D’INTENTER DES POURSUITES OU DE RÉCLAMER UNE INDEMNISATION
  À LA SUITE D’UN ACCIDENT.
</p>

<p>
  Le Participant accepte librement et assume pleinement tous les risques et dangers
  liés à l’événement, y compris les préjudices personnels et corporels, décès,
  dommages matériels ou pertes pouvant en découler. Peuvent constituer des risques
  ou dangers, entre autres :
</p>

<ul>
  <li>Activités physiques</li>
  <li>Vols d’articles personnels</li>
  <li>Risques physiques ou mécaniques</li>
  <li>Processus</li>
  <li>Matières dangereuses</li>
  <li>Matériel utilisé</li>
  <li>Tout ce qui peut menacer la sécurité personnelle pendant l’événement</li>
</ul>

<p>
  Le Participant reconnaît et accepte qu’il lui incombe de discuter de sa
  participation à l’Événement avec son médecin et d’obtenir une couverture
  d’assurance adaptée aux différents types de risque. Il a conscience que
  l’Université d’Ottawa n’a aucune assurance accident, médicale ou dentaire le
  protégeant. En acceptant le présent document, le Participant :
</p>

<ul>
  <li>accepte librement les risques et dangers inhérents à sa participation à
    l’Événement;
  </li>
  <li>comprend que les Participants ne sont pas protégés par la Commission de la
    sécurité professionnelle et de l’assurance contre les accidents de travail
    s’ils subissent des blessures dans le cadre de cet Événement;
  </li>
  <li>reconnaît qu’il lui appartient de se familiariser avec les exigences en
    matière de santé et de sécurité qui s’appliquent à l’Événement et de cesser
    sur-le-champ toute activité potentiellement dangereuse;
  </li>
  <li>accepte de participer à tout atelier de sensibilisation aux dangers
    susceptible d’être offert et s’engage à respecter les exigences en matière
    de protection personnelle, à suivre les directives des responsables de
    l’Événement et à observer les consignes en cas d’urgence;
  </li>
  <li>accepte de suivre les procédures de l’Université, de signaler tout incident
    dont il est témoin et de respecter les exigences en matière de santé et de
    sécurité sur les terrains de l’Université ou ailleurs pendant sa participation
    à l’Événement;
  </li>
  <li>consent à n’entreprendre aucun processus ni aucune procédure ou activité dont
    il n’a pas déjà discuté avec le responsable de l’Événement sans avoir d’abord
    reçu à cet égard de la formation, des instructions ou un encadrement du
    surveillant compétent désigné;
  </li>
  <li>comprend et accepte pleinement que, s’il se livre à toute activité ne faisant
    pas partie de l’Événement planifié, il est entièrement responsable des
    conséquences de sa conduite;
  </li>
  <li>comprend et accepte pleinement que, s’il déroge à des règles ou conditions
    fixées au cours de l’Événement, on pourrait lui demander de quitter les lieux.
  </li>
</ul>

<p>
  <strong>JE RENONCE À TOUTE REVENDICATION</strong> que je pourrais vouloir formuler par suite
  de ma participation à l’Événement contre l’Université d’Ottawa, son Bureau des
  gouverneurs ou ses administrateurs, dirigeants, employés, mandataires,
  entrepreneurs indépendants, sous-traitants, représentants, successeurs et ayants
  droit, ou contre les instructeurs, entraîneurs, gestionnaires, bénévoles,
  commanditaires, agents et dirigeants qui sont associés ou liés de quelque
  manière que ce soit à l’Événement (ci-après appelés collectivement
  « Renonciataires »). De plus, <strong>JE DÉGAGE LES RENONCIATAIRES </strong> de toute
  responsabilité relative aux pertes, dommages, décès, préjudices ou dépenses dont
  moi ou mon plus proche parent pourrions devoir assumer les conséquences par suite
  de ma participation à l’Événement, QUELLE QU’EN SOIT LA CAUSE, PAR EXEMPLE UNE
  NÉGLIGENCE, UNE VIOLATION DE CONTRAT OU UN MANQUEMENT À UN DEVOIR DE DILIGENCE
  PRÉVU OU NON PAR LA LOI — NOTAMMENT LA <strong>LOI SUR LA RESPONSABILITÉ DES OCCUPANTS</strong> —
  COMMIS PAR LES RENONCIATAIRES, Y COMPRIS LE DÉFAUT DE ME PROTÉGER OU DE PRENDRE
  DES MESURES RAISONNABLES POUR ME PROTÉGER CONTRE LES RISQUES ET DANGERS
  SUSMENTIONNÉS.
</p>

<p>
  <strong>J’ACCEPTE</strong>, à la demande de l’Université, de quitter l’Événement si je ne
  respecte pas les instructions ou directives de l’Université, ou si je commets une
  infraction en matière de santé et de sécurité.</p>
<p>
  <strong>ON M’A RECOMMANDÉ ET DONNÉ L’OCCASION D’OBTENIR DES CONSEILS D’UN JURISTE IMPARTIAL
    AVANT D'ACCEPTER LE PRÉSENT DOCUMENT.</strong>
</p>