<h2>PLEASE READ CAREFULLY!</h2>

<p class="lead">
  RELEASE OF LIABILITY, WAIVER OF CLAIMS, ASSUMPTION OF RISKS AND INDEMNITY
    AGREEMENT (hereinafter referred to as the “Release Agreement”).
</p>

<p>
  BY ACCEPTING THIS AGREEMENT YOU WILL WAIVE CERTAIN LEGAL RIGHTS, INCLUDING THE RIGHT
  TO SUE OR CLAIM COMPENSATION FOLLOWING AN ACCIDENT
</p>

<p>
  The Participant freely accepts and fully assumes all such risks, dangers, and
  hazards and the possibility of personal and bodily injury, death, property damage,
  or loss resulting from such risks, dangers and hazards.
  The risks, dangers, and hazards may include but are not limited to:
</p>

<ul>
  <li>Physical Activity</li>
  <li>Theft of Personal Items</li>
  <li>Exposure to hazardous substances (chemicals)</li>
  <li>Laboratory risks</li>
  <li>Physical or mechanical hazards</li>
  <li>Lab equipment</li>
  <li>Personal safety during all aspects of the Activity</li>
</ul>

<p>
  The Participant acknowledges and further accepts the responsibility of discussing
  their participation in the Activity with their physician and obtaining adequate
  insurance that may apply; the Participant is aware that the University of Ottawa
  does not carry accident or medical or dental insurance on their behalf.
  By signing this document, the Participant:
</p>

<ul>
  <li>
    Agrees to freely accept such risks, dangers and hazards inherent in
    undertaking the Activity.
  </li>
  <li>
    Understands that Participants are not covered by the Workplace Safety and
    Insurance Board for injuries arising as a result of the Activity.
  </li>
  <li>
    Agrees that it is the responsibility of the Participant to familiarise
    themselves with health and safety requirements applicable to the Activity
    and to discontinue any Activity that is unsafe immediately.
  </li>
  <li>
    Agrees to participate in any hazard awareness training that may be offered
    and commits to meet personal protection requirements, to follow directives
    provided by Activity leaders, and to respect emergency situation guidelines.
  </li>
  <li>
    Agrees to follow University procedures, and to report any Activity-related
    incidents witnessed, on or off University property while participating in
    the Activity.
  </li>
  <li>
    Agrees not to undertake any procedure, process, activity that was not
    discussed or reviewed with the Activity supervisor without first obtaining
    training, instruction, and/or supervision by the designated competent
    supervisor.
  </li>
  <li>
    Understands and fully accepts that if the Participant chooses to participate
    in any other activity that is not part of the planned Activity, that they are
    fully responsible for the consequences of their conduct.
  </li>
  <li>
    Understands and fully accepts that if the Participant fails to observe any
    conditions or rules established during the course of the Activity, that the
    Participant may be asked to leave.
  </li>
</ul>

<p>
  <strong>I AGREE TO WAIVE ANY AND ALL CLAIMS</strong> that I have or may in the future have
  against the University of Ottawa, its respective Board of Governors, officers,
  directors, employees, agents, independent contractors, subcontractors,
  representatives, successors and assigns, and all instructors, coaches, managers,
  volunteers, sponsors, officials and officers in any way involved or connected with
  the Activity (herein after collectively referred to as the Releasees) arising out
  of my participation in the Activities and <strong>TO RELEASE THE RELEASEES</strong> from
  any and all liability for any loss, damage, expense or injury including death that
  I may suffer or that my next of kin may suffer during my participation in the
  Activity, DUE TO ANY CAUSE WHATSOEVER, INCLUDING NEGLIGENCE, BREACH OF CONTRACT,
  OR BREACH OF ANY STATUTORY OR OTHER DUTY OF CARE, INCLUDING ANY DUTY OF CARE OWED
  UNDER THE <strong>OCCUPIERS LIABILITY ACT</strong>, ON THE PART OF THE RELEASEES AND ALSO
  INCLUDING THE FAILURE ON THE PART OF THE RELEASEES TO SAFEGUARD OR PROTECT ME FROM
  THE RISKS, DANGERS AND HAZARDS OF THE ACTIVITY REFERRED TO ABOVE.
  Upon the University’s request, <strong>I AGREE</strong> to leave the Activity should I fail to
  follow the University’s instructions or directions.
</p>

<p>
  <strong>I HAVE BEEN GIVEN THE OPPORTUNITY AND HAVE BEEN ENCOURAGED TO SEEK INDEPENDENT LEGAL ADVICE PRIOR TO ACCEPTING
    THIS AGREEMENT.</strong>
</p>