<p class="lh-lg mb-5">
  <b>Before filling out this form please be sure to have completed the following trainings and have your PDF certificates ready.</b><br>

  WHMIS training: <a href="https://www.uottawa.ca/about-us/administration-services/office-risk-management/training/whmis/lab/module-1">
    https://www.uottawa.ca/about-us/administration-services/office-risk-management/training/whmis/lab/module-1
  </a><br>

  WORKER Health and Safety Awareness: <a href="https://web47.uottawa.ca/en/lrs/node/1481">
    https://web47.uottawa.ca/en/lrs/node/1481
  </a><br>

  Violence Prevention training: <a href="https://web47.uottawa.ca/en/lrs/node/1847">
    https://web47.uottawa.ca/en/lrs/node/1847
  </a><br>

  Respect in the workplace training: <a href="https://web47.uottawa.ca/en/lrs/node/1602">
    https://web47.uottawa.ca/en/lrs/node/1602
  </a><br>

  Accessibility Standards for Customer Service: <a href="https://web47.uottawa.ca/en/lrs/node/1071">
    https://web47.uottawa.ca/en/lrs/node/1071
  </a><br>

  Working Together: The Code and the AODA: <a href="https://web47.uottawa.ca/en/lrs/node/2398">
    https://web47.uottawa.ca/en/lrs/node/2398
  </a><br>

  Dry Lab Risk Management: <a href="https://web47.uottawa.ca/en/lrs/node/38516">
    https://web47.uottawa.ca/en/lrs/node/38516
  </a><br>

  Health and Safety - Roles and Responsibilities: <a href="https://web47.uottawa.ca/en/lrs/node/38274">
    https://web47.uottawa.ca/en/lrs/node/38274
  </a><br>

  <b>The following training is mandatory for ALL supervisors:</b><br>

  SUPERVISOR Health and Safety Awareness: <a href="https://web47.uottawa.ca/en/lrs/node/2082">
    https://web47.uottawa.ca/en/lrs/node/2082
  </a><br>
</p>