<section>
  <div class="padding-10">
    <h2 class="text-center pt-2 mb-5 font-weight-bold">Edit Badge Template</h2>

    <div class="container my-5">
      <div class="row">
        <div class="col-lg-12">
          <%= form_for @badge_template, url: {controller: "badge_templates", action: "update"} do |f| %>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group text-center">
                  <%= f.label :training_id, "Training related to the badge templates" %>
                  <%= f.select(:training_id, options_for_select(Training.all.pluck(:name, :id), selected: f.object.training_id), {:include_blank => true}, {:class => "form-control"}) %>
                </div>
              </div>
              <div class="col-lg-12 text-center">
                <%= f.submit "Update Badge Template", class: "btn btn-secondary btn-xl" %>
                <br><br>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>