<div class="text-center">
  <br />
  <h2 class="font-weight-bold">Badge Templates</h2>
  <br />
  <br />
  <% if @badge_template.present? %>
    <div class="table-responsive">
      <table class="table sessions-table">
        <tr>
          <th>Badge Name</th>
          <th>Related training</th>
          <th>Training level</th>
          <th class="action-header">Action</th>
        </tr>

        <tbody>
          <% @badge_template.each do |bt| %>
            <tr>
              <td><%= bt.badge_name %></td>
              <td><%= bt.training.present? ? bt.training.name : "No related trainings" %></td>
              <td><%= bt.training_level.present? ? bt.training_level : "No training level" %></td>
              <td class="action-cell"><%=link_to "Edit", edit_admin_badge_template_path(bt.id), class:"btn btn-primary btn-block btn-sm mb-1 mt-0" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="m-5">
      No Badge Templates were created yet.
    </div>
    <br />
  <% end %>
</div>
