<% provide(:title, "New Video") %>
<section class="card">
  <div class="col-lg-7 mx-auto">
    <br />
    <h2 class="text-center">New Video</h2>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="form-group">
          <%= form_for @new_video do |f| %>
            <%= f.select :proficient_project_id, options_for_select(@proficient_projects),{:include_blank => 'Choose a Project...'}, class: "form-control", id: "select_proficient_id", :onchange => 'setProficientProject()', required: true%>
            <p id="proficient_project"></p>
            <div class="d-none" id="choose_video">
                <%= f.file_field :video, direct_upload: true, accept: "video/*", :onchange => 'fetch_attachment_name()', id: "video" %>
                <label for="video" class="custom-instructable-upload-video" id="video-label">Choose Video...</label>
              <div class="text-center mb-5" id="video-name"></div>
              <br />
              <%= f.submit "Upload Video", class: "btn btn-secondary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>