<div class="modal fade" id="flag_message_<%= staff_dashboard_user.id %>" tabindex="-1" role="dialog" aria-labelledby="flag_message" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b><%= staff_dashboard_user.name %></b> Flags</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Flags:
        <br>
        <div id="flag-modal">
          <%= render :partial => 'flag_list', locals: {staff_dashboard_user: staff_dashboard_user} %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>