<div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="myModalHeader">
        <h1 class="modal-title fs-5 d-flex justify-content-start" id="signinModalHeader"></h1>
      </div>
      <div class="modal-body">
        <p id="signinEmail"></p>
        <p id="signinMembership" class="d-flex align-items-center gap-2 my-3 text-black fw-normal btn btn-light rounded-pill" style="width: fit-content;"></p>
        <div id="signinCertifications"></div>
        <p id="signinCertification"></p>
        <div id="signinProfileLink" class="modal-title fs-5"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
    <br>
    <div id="outer-progress-bar" class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <div id="signin-progress-bar" class="progress-bar" style="width: 0%"></div>
    </div>
  </div>
  
</div>
