<div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header" id="myModalHeader">
        <h1 class="modal-title fs-2 text-primary">New User Sign-In</h1>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="row mb-3">
              <p class="mb-0 fw-light">NAME</p>
              <p id="sign-in-username"class="fs-5 mt-0">Full Name</p>
            </div>
            <div class="row mb-3">
              <p class="fw-light mb-0">EMAIL</p>
              <p id="sign-in-email" class="fs-5 mt-0">email@uottawa.ca</p>
            </div>
            <div class="row">
              <div class="col">
                <p class="mt-3">MEMBERSHIP</p>
              </div>
              <div class="col d-flex justify-content-center">
                 <p id="sign-in-membership" class="d-flex align-items-center text-light fw-normal btn btn-light rounded-pill" style="width: fit-content;">Membership</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="mt-3"> USER STATUS </p>
              </div>
              <div class="col d-flex justify-content-center">
                 <p id="sign-in-student" class="d-flex align-items-center text-light fw-normal btn btn-light rounded-pill" style="width: fit-content;"></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="mt-3"> CONSENT FORM STATUS </p>
              </div>
              <div class="col d-flex justify-content-center">
                 <p id="sign-in-consent" class="d-flex align-items-center text-light fw-normal btn btn-light rounded-pill" style="width: fit-content;">N/A</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row mb-0">
              <p class="fw-light mb-0">CERTIFICATIONS</p>
            </div>
            <div class="row">
              <div id="sign-in-certifications" class="d-flex flex-wrap align-content-start">
            </div>
            <div id="sign-in-profile-link" class="d-flex align-content-end mt-5">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="outer-progress-bar" class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <div id="signin-progress-bar" class="progress-bar" style="width: 0%"></div>
    </div>
    </div>
    <br>

  </div>
  
</div>
