<div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="myModalHeader">
        <h1 class="modal-title fs-5" id="signinModalHeader"></h1>
      </div>
      <div class="modal-body">
        <p id="signinEmail"></p>
        <p>Has Membership: </p>
        <p id="signinMembership"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
