fetch(location.href).then(r=>r.text()).then(p =>{
    let page = new DOMParser().parseFromString(p, 'text/html')
    let pageSignedIn = page.getElementById("table-js-signed-in").innerHTML;
    let pageSignedOut = page.getElementById("table-js-signed-out").innerHTML;
    let pageNewlySignedUp = page.getElementById("newly-signed-up").innerHTML;
    document.getElementById("table-js-signed-in").innerHTML = pageSignedIn;
    document.getElementById("table-js-signed-out").innerHTML = pageSignedOut;
    document.getElementById("newly-signed-up").innerHTML = pageNewlySignedUp;
    document.getElementById("user-count").innerHTML = "<p id='user-count' class='text-center'>Users inside <%= @space.name %>:  <%= @space.signed_in_users.count %></p>"
});
