$("#table-js-signed-out").load(location.href + " #table-js-signed-out");
$("#table-js-signed-in").load(location.href + " #table-js-signed-in");
$("#table-js-search").load(location.href + " #table-js-search");
$("#newly-signed-up").load(location.href + " #newly-signed-up");
$('#user-count').html("<p id='user-count' class='text-center'>Users inside <%= @space.name %>:  <%= @space.signed_in_users.count %></p>")