<button type="button" id="addUnavailabilityButton" class="btn btn-outline-primary my-4" data-bs-toggle="modal" data-bs-target="#unavailabilityModal">
  + Add Unavailability
</button>

<div id="calendar"></div>

<%= vite_javascript_tag 'fullcalendar_setup_staff_unavailabilities' %>

<%= render 'form' %>
