<% begin %>
  <% if @acclaim_data.present? %>
    <div class="row">
      <% @acclaim_data.each do |badges| %>
        <% begin %>
          <div class="col-md-3 border-bottom text-nowrap overflow-auto d-flex gap-1 flex-wrap">
              <a target="_blank" href="/badges/<%= badges.id %>">
                <%= render "badges/badge_icon", width: 125, height: 125, level: badges.training_session.level, name: badges.training_session.training.localized_name, skill: badges.training_session.training.skill_id %>
              </a>
          </div>
        <% end %>
      <% end %>
    </div>
    <% elsif @repo_user.eql?(@user) %>
    <p>You don't have any badges.</p>
    <%= link_to 'Get a badge from the learning area', learning_area_index_path %>
    <% else %>
    <p>No badges to show...</p>
    <%= link_to 'What is a badge?', development_programs_path %>
  <% end %>
<% end %>
