<% begin %>
  <% if @acclaim_data.present? %>
    <div class="row">
      <% @acclaim_data.each do |badges| %>
        <% begin %>
          <div class="col-md-3 border-bottom">
              <a target="_blank" class="w-100" href="/badges/<%= badges.id %>">
                <%= render "badges/badge_icon", width: 230, height: 230, level: badges.training_session.level, name_en: badges.training_session.training.name_en, name_fr: badges.training_session.training.name_fr, skill: badges.training_session.training.skill_id %>
              </a>
          </div>
        <% end %>
      <% end %>
    </div>
    <% elsif @repo_user.eql?(@user) %>
    <p>You don't have any badges.</p>
    <%= link_to 'Get a badge from the learning area', learning_area_index_path %>
    <% else %>
    <p>No badges to show...</p>
    <%= link_to 'What is a badge?', development_programs_path %>
  <% end %>
<% end %>
