<div>
  <div class="mb-3">
    <h5>List of Keys owned by <%= @repo_user.name %>:</h5>

    <% if @keys_owned.empty? %>
      None
    <% else %>
      <ul>
        <% @keys_owned.each do |key| %>
          <li><%= link_to key.number, admin_key_path(key.id), target: '_blank', rel: 'noopener' %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div>
    <h5>List of Keys being supervised by <%= @repo_user.name %>:</h5>

    <% if @keys_supervising.empty? %>
      None
    <% else %>
      <ul>
        <% @keys_supervising.each do |key| %>
          <li><%= link_to key.number, admin_key_path(key.id), target: '_blank', rel: 'noopener' %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>