<p style="  font: 400 1.3em 'Raleway', sans-serif;color: #555;"><h1>
    Hello <%= @user.name %>,
 </h1>
</p>
<p style="  font: 400 1.1em 'Raleway', sans-serif;color: #555;">
  MakerRepo website has been updated and you need to update your information.
  please follow this link to update your information: (Link to be inserted)
</p>

<p style="  font: 400 1.1em 'Raleway', sans-serif;color: #555;">
  Thank you, <br>
  The MakerRepo Team
</p>
