<!DOCTYPE html>
<html class="h-100">
<head>
  <%= favicon_link_tag 'site-icon.jpg' %>
  <%= stylesheet_link_tag 'vendor' %>
  <%= stylesheet_link_tag 'application' %>
</head>
<body class="h-100">
<div class="container h-100">
  <div class="row h-100">
    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-xl-4 offset-xl-4 h-100">
      <div class="d-flex flex-column justify-content-center align-items-stretch h-100">
        <div style="flex-grow: 1"></div>

        <h1 class="text-center" style="font-size: 4rem">Maker<strong>Repo</strong></h1>

        <div class="contents">