<!DOCTYPE html>
<html class="saml-login">
<head>
  <%= favicon_link_tag 'site-icon.jpg' %>
  <%= stylesheet_link_tag 'vendor' %>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
<div class="container h-100">
  <div class="row h-100">
    <div class="main-content col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div style="flex-grow: 1"></div>

      <h1 class="brand">Maker<strong>Repo</strong></h1>

      <div class="middle-content">