.form-control-color-shift {
  width: 2.5rem !important;
  height: auto !important;
  padding: 0.25rem !important;
}
.form-control-color-shift:not(:disabled):not([readonly]) {
  cursor: pointer !important;
}
.form-control-color-shift::-webkit-color-swatch {
  height: 1.25em !important;
  border-radius: 0.25rem !important;
}
.scroll-col {
  overflow-y: scroll;
  max-height: 100%;
}
.fc-timegrid-col-events {
  width: 75%;
  margin-left: auto !important;
  margin-right: auto !important;
}
