.form-control-color {
  width: 2.5rem !important;
  height: auto !important;
  padding: 0.25rem !important;
}
.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer !important;
}
.form-control-color::-webkit-color-swatch {
  height: 1.25em !important;
  border-radius: 0.25rem !important;
}
