// Place all the styles related to the Admin::TrainingSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input#query{

  height: 30px;
  font-size: 13px;

}

div#sesh-users{
  visibility: hidden;
  width: 150px;
  background-color: #c2d6d6;
  color: #366;
  text-align: center;
  border-radius: 6px;
  padding-bottom: 2px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

div.users-count{
  cursor:pointer;
  padding: 40px 40px 40px 40px;
}

div.users-count:hover div#sesh-users{
    visibility:visible;
}



div.clickable-username:hover{
  background-color: rgba(238, 238, 238, 0.5);

  .user-link{
    padding: 0px 55px;
  }

}

select#training_session_user_id{
  width: 90px;
  font-size: 0.75rem;
  alignment: center;
}

input#query{
  width: 250px;
}


div#notice{
  display: none;
  position: absolute;
  top: 65px;
  width: 100vw;
  left:0;right:0;
  margin: 0 auto;
  height: 5rem;
  line-height: 5rem !important;
  font-size: 75%;
  font: 500 2.0rem 'Raleway', sans-serif;
  background-color: #5cb85c;
  color: #fff;
  z-index: 2;
  text-align: center;
}

div#alert{
  display: none;
  position: absolute;
  top: 65px;
  width: 100vw;
  left:0;right:0;
  margin: 0 auto;
  height: 2rem;
  line-height: 2rem !important;
  font: 300 1.1rem 'Raleway', sans-serif;
  background-color: #cd5c5c;
  color: #fff;
  z-index: 2;
  text-align: center;
}
