// Place all the styles related to the Admin::TrainingSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table{

  width:98%;
  th {
      background-color: #c2d6d6;
      color: #366;
      padding:5px;
      a {
          text-decoration: underline;
      }
      i {
          margin-left:1px;
          line-height: 10px;
          width: 10px;
          height: 13px;
          text-align: center;
      }
      i.fa-sort-asc {
          vertical-align: bottom;
      }
      i.fa-sort-desc {
          vertical-align: top;
      }

  }
  td{
      padding:5px 10px;
      text-align: center;
  }
  tr {
      background-color: #f0f5f5;
  }
  tr.current-session {
      background-color: #b3e6cc;
  }
  .link-table {
    color: #366;
    text-align:center;
  }

}

button.sort-arrow{

  align: center;
  width: 27px;
  height: 20px;
  background: none;
  border-color: transparent;

  .arrow-down {
    align: center;
    border-style: solid;
    border-width: 9px 9px 0 9px;
    border-color: #2c5252 transparent transparent transparent;
  }

}


input#query{
  width: 250px;
}
