default: &default
  adapter: <%= Rails.application.credentials[Rails.env.to_sym][:database][:adapter] || postgresql %>
  host: <%= Rails.application.credentials[Rails.env.to_sym][:database][:host] || localhost %>
  port: <%= Rails.application.credentials[Rails.env.to_sym][:database][:port] || 5432 %>
  username: <%= Rails.application.credentials[Rails.env.to_sym][:database][:username] || postgres %>
  password: <%= Rails.application.credentials[Rails.env.to_sym][:database][:password] || postgres %>

development:
  primary:
    <<: *default
    database: <%= Rails.application.credentials[Rails.env.to_sym][:database][:name] || makerspacerepo %>
  queue:
    <<: *default
    database: makerspacerepo_queue
    migrations_paths: db/queue_migrate

test:
  primary:
    <<: *default
    database: <%= Rails.application.credentials[Rails.env.to_sym][:database][:name] || makerspacerepo_test %>
  queue:
    <<: *default
    database: makerspacerepo_queue_test
    migrations_paths: db/queue_migrate

production:
  primary:
    <<: *default
    database: <%= Rails.application.credentials[Rails.env.to_sym][:database][:name] %>
  queue:
    <<: *default
    database: makerspacerepo_queue
    migrations_paths: db/queue_migrate

staging:
  primary:
    <<: *default
    database: <%= Rails.application.credentials[Rails.env.to_sym][:database][:name] %>
  queue:
    <<: *default
    database: makerspacerepo_queue_staging
    migrations_paths: db/queue_migrate
