default: &default
  adapter: <%= ENV['PGADAPTER'] || Rails.application.credentials.dig(Rails.env.to_sym, :database, :adapter) || 'postgresql' %>
  host: <%= ENV['PGHOST'] || Rails.application.credentials.dig(Rails.env.to_sym, :database, :host) || 'localhost' %>
  port: <%= ENV['PGPORT'] || Rails.application.credentials.dig(Rails.env.to_sym, :database, :port) || 5432 %>
  username: <%= ENV['PGUSER'] || Rails.application.credentials.dig(Rails.env.to_sym, :database, :username) || 'postgres' %>
  password: <%= ENV['PGPASSWORD'] || Rails.application.credentials.dig(Rails.env.to_sym, :database, :password) || 'postgres' %>

development:
  <<: *default
  database: <%= Rails.application.credentials.dig(Rails.env.to_sym, :database, :name) || 'makerspacerepo' %>

test:
  <<: *default
  database: <%= Rails.application.credentials.dig(Rails.env.to_sym, :database, :name) || "makerspacerepo_test#{ENV['TEST_ENV_NUMBER']}" %>

production:
  <<: *default
  database: <%= Rails.application.credentials.dig(Rails.env.to_sym, :database, :name) %>

staging:
  <<: *default
  database: <%= Rails.application.credentials.dig(Rails.env.to_sym, :database, :name) %>
