# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1e89ff22960a6f76b5b601ee1b3a252cb19963ff982d4d46805a03efec3160baa24034558386d2ee87e43897cfae142f316734dd3b354ea4822c24e2f90c272c

test:
  secret_key_base: f686aef6bfafa1346ab160de62c54375f2ebf90fd5b7ef9cb8974bde9c36c6d146f3e84ef426d1757a054c5e17349db5215fa1d74253681e503365231a39b2ce

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  smtp_user: <%= ENV["SMTP_USER"] %>
  smtp_password: <%= ENV["SMTP_PASSWORD"] %>
  s3_bucket_name: <%= ENV["S3_BUCKET_NAME"] %>
  access_key_id: <%= ENV["AWS_ACCESS_KEY_ID"] %>
  secret_access_key: <%= ENV["AWS_SECRET_ACCESS_KEY"] %>
  github_app_key: <%= ENV['GITHUB_APP_KEY'] %>
  github_app_key_secret: <%= ENV['GITHUB_APP_KEY_SECRET'] %>
