<section id="dropbox-folders">
  <ul>
    <%= tag.li(fa_icon('folder-open', text: @root)) %>
    <% @folder.each do |f| %>
      <% if f.values.first == "directory" %>
        <%= tag.li(fa_icon('folder', text: f.keys.first)) %>
      <% else %>
        <%= tag.li(fa_icon('file-text-o', text: f.keys.first)) %>
      <% end %>
    <% end %>
  </ul>
</section>
