/* Theming stuff */
$theme-colors: (
        "primary": rgb(95, 158, 160) // "MakerRepo Green"
);

$navbar-light-color: rgba(0, 0, 0, 0.7);
$navbar-light-hover-color: rgba(0, 0, 0, 1.0);
$navbar-dark-color: rgba(255, 255, 255, 0.7);
$navbar-dark-hover-color: rgba(255, 255, 255, 1.0);

$pswp__assets-path: "~photoswipe/src/css/default-skin/";
@import "~bootstrap/scss/bootstrap";
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
@import "~photoswipe/src/css/main";
@import "~photoswipe/src/css/default-skin/default-skin";

@import 'toastr/build/toastr.min';


