@import "./shared/variables";

#terms-of-service {
  h1 {
    margin-top: 1rem;
  }
  .heading {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  ol.terms {
    list-style-type: lower-alpha;
  }
  ol.sub-terms {
    list-style-type: lower-roman;
  }
  //   p, li {
  //   font-size: 1.1rem;
  // }
}
