<% provide(:title, 'Edit Learning Module') %>

<section class="border">
    <div class="col-lg-7 mx-auto my-3">
        <h1 class="text-center mb-4">Edit Learning Module</h1>
        <%= render 'form' %>
    </div>
</section>

<%= vite_javascript_tag 'learning_modules' %>
