<% provide(:title, @subskill) %>

<div class="mb-3">
    <%= link_to 'Back', learning_area_index_path, class: 'btn btn-sm btn-outline-secondary' %>
</div>

<h1 class="mb-3"><%= @subskill %></h1>

<% @learning_modules.each do |learning_module| %>
    <hr />
    <% if learning_module.scorm_package.attached? %>
        <%= render 'scorm', learning_module: %>
    <% else %>
        <%= render 'content', learning_module: %>
    <% end %>
<% end %>
