<ul class="nav nav-tabs nav-fill nav-justified">
    <li class="nav-item">
        <%= link_to 'My locker rentals', locker_rentals_path,
                    class: class_names('nav-link': true, active: selected.eql?(:my_rentals)),
                    aria: {current: ('page' if selected.eql?(:new_rental))} %>
    </li>
    <li class="nav-item">
        <%= link_to 'New locker rental', new_locker_rental_path,
                    class: class_names('nav-link': true, active: selected.eql?(:new_rental)),
                    aria: {current: ('page' if selected.eql?(:new_rental))} %>
    </li>
    <% if current_user.admin? %>
        <li class="nav-item">
            <%= link_to 'Admin Panel', admin_locker_rentals_path,
                        class: class_names('nav-link': true, active: selected.eql?(:admin_rental)),
                        aria: {current: ('page' if selected.eql?(:admin_rental))} %>
        </li>
    <% end %>
</ul>
