<% provide :title, 'Assign locker to a user' %>
<h1 class="text-center">Assign locker to a user</h1>
<p class="text-center">Use this form to assign a locker to a user.</p>
<%= render partial: 'locker_rentals/assign_locker_form' %>
