<% if current_user.admin? %>
<h1 class="text-center my-3">Assign locker to user</h1>
<%= render partial: 'assign_locker_form' %>
<hr />
<% end %>

<h1 class="text-center mb-3">New Locker Request</h1>
