<section id="report">


<h1>Report Generator</h1>
<p>Click the button below to view user reports</p>


<%= link_to '<button type="button">Export Data</button>'.html_safe, report_generator_index_path(format: "csv") %>

<%= link_to '<button type="button">Export Data2</button>'.html_safe, report_generator_index2_path(format: "csv") %>


</section>