<section>
  <h2 class="m-0 fw-bold py-4 text-center">Key Requests</h2>

  <div class="d-flex flex-row gap-2 justify-content-center mb-4">
    <%= link_to 'Key Management', admin_keys_path, class: 'btn btn-primary' %>
  </div>
  <div>
    <div class="accordion" id="keysAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="waitingForApproval">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Waiting for Approval
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="waitingForApproval" data-bs-parent="#keysAccordion">
          <div class="accordion-body">
            <%= render partial: 'admin/keys/keys_requests_table', locals: { key_requests: @key_requests.where(status: :waiting_for_approval) } %>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="keysAll">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Approved
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="keysAll" data-bs-parent="#keysAccordion">
          <div class="accordion-body">
            <%= render partial: 'admin/keys/keys_requests_table', locals: { key_requests: @key_requests.where(status: :approved) } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>