<section>
  <h2 class="text-center fw-bold py-3">Editing <b><%= @training.localized_name.capitalize %></b> Training</h2>
    <%= render 'form' %>
  <div class="mx-auto">
    <%= button_to t('admin.training.delete'), { controller: 'admin/trainings', action: :destroy, id: @training.id }, method: :delete,
                  data: { confirm: 'Are you sure that you want to delete this training. This will delete all the training sessions as well.?' },
                  class: 'btn btn-danger', form_class: 'text-center' %>
  </div>
</section>
