<% provide(:title, 'Edit Project Proposal') %>

<div class="col-lg-7 mx-auto">
    <h1 class="text-center">Edit Project Proposal</h1>
    <div class="text-center">
        <%= link_to 'View project proposal', project_proposal_path(@project_proposal.slug) %>
    </div>
    <%= render partial: 'form' %>
</div>
