<div>
  <% provide(:title, "Project Proposals") %>

  <div class="by-5">
    <%= form_tag(badges_path, method: :get) do %>
      <div class="d-flex justify-content-center">
        <%= fa_icon 'search', class: "fa-2x pr-2" %>
        <%= text_field_tag(:search, "", placeholder: "Search", class: 'form-control col-md-4 search_bar') %>
      </div>
    <% end %>
  </div>

  <br>

  <div class="accordion">
    <div class="project_proposals_listing">
      <%= render 'project_proposal_listing' %>
    </div>
  </div>

</div>


<script type="text/javascript" charset="utf-8">

    window.debounce = function(func, wait, immediate) {
        let timeout;
        return function() {
            const context = this, args = arguments;
            const later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            const callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };

    $('.search_bar').on('keyup', debounce(function (e) {
        $.ajax({
            url: '/project_proposals',
            data: {search: $(this).serialize()},
            format: 'js'
        });
    }, 100));

    // $(function() {
    //     $(".badge_list th a, .badge_list .pagination a").on("click", function(){
    //         $.getScript(this.href);
    //         return false;
    //     });
    // });
</script>