<% provide(:title, "Link Repo") %>

<div class="search-form" style="display:inline"> Search for users to sign them in or out of
  <%= form_tag search_repository_project_proposals_path, method: :get, action: :search do %>
      <%= text_field_tag 'query', nil, placeholder: 'Search Repository by title, username or category', class:'profile-text' %><br>
      <%= submit_tag "Search", class: 'update-button' %>
  <% end %>
</div>

<br><br>