<% provide(:title, 'New Project Proposal') %>
<div class="container">
    <div class="col-lg-7 mx-auto">
        <section>
            <h1 class="text-center"><%= t('project_proposal.new.header') %></h1>
            <hr />
            <%= render partial: 'form' %>
        </section>
    </div>
</div>
