<% provide(:title, "Projects Completed") %>

<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
    <div id="alert"><%= flash[:alert] %></div>
<% end %>

<%= render :partial => 'listing', :locals => {:tittle => "Projects Completed", :approval => 1} %>