<% provide(:title, "User Projects") %>

<div>
  <% provide(:title, "Project Proposals") %>

  <div class="accordion" id="user_project_proposal_accordion">
    <div class="card">
      <div id="prosals_joined_header" class="card-header">
        <h2 class="mb-0">
          <button class="accordion_button btn btn-link d-block w-100 text-start text-center" type="button" data-bs-toggle="collapse" data-bs-target="#proposals_joined" aria-expanded="false" aria-controls="proposals_joined">
            Project Proposals Joined
          </button>
        </h2>
      </div>

      <div id="proposals_joined" class="accordion-collapse collapse" aria-labelledby="prosals_joined_header" data-bs-parent="#user_project_proposal_accordion">
        <div class="accordion-body">
          <%= render :partial => 'listing', :locals => {:title => "Project Proposals Joined", :project_proposals => @project_proposals_joined, param_name: "page_pending"} %>
        </div>
      </div>
    </div>
    <div class="card">
      <div id="prosals_pending_header" class="card-header">
        <h2 class="mb-0">
          <button class="accordion_button btn btn-link d-block w-100 text-start collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#proposals_pending" aria-expanded="false" aria-controls="proposals_pending">
            Pending Project Proposals
          </button>
        </h2>
      </div>
      <div id="proposals_pending" class="accordion-collapse collapse">
        <div class="accordion-body">
          <%= render :partial => 'listing', :locals => {:title => "Pending Project Proposals", :project_proposals => @user_pending_project_proposals, param_name: "page_pending"} %>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="accordion_button btn btn-link d-block w-100 text-start collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#proposals_accepted" aria-expanded="false" aria-controls="proposals_accepted">
            Approved Project Proposals
          </button>
        </h2>
      </div>
      <div id="proposals_accepted" class="accordion-collapse collapse">
        <div class="accordion-body">
          <%= render :partial => 'listing', :locals => {:title => "Approved Project Proposals", :project_proposals => @approved_project_proposals, param_name: "page_pending"} %>
        </div>
      </div>
    </div>
  </div>
</div>