@import "lib";

section#about{
  @include outer-container(60rem);
  background-color: #fff;
  padding: 0 5% 2rem;
  min-height: 29rem;

  div.title{
    color: #366;
    max-width: 40vmax;
    border-bottom: 2px solid #366;
    font-size: 2rem;
    font-weight: 700;
    padding: 3rem 0 0.75rem;
    margin-bottom: 4rem;
  }

  div.header{
    font-size: 20px;
    font-weight: 700;
    color: #666;
  }

  div.content{
    color: #366;
    font-size: 16px;
    line-height: 8mm;
  }
}
