div#space-buttons{

  align: center;
  float: left;

  .space-button{
    font: 300 1.55em 'Raleway', sans-serif;
    letter-spacing: 0.15em;
    padding-left: 1rem;
    border-left: 3px solid transparentize(#5f9ea0, 0.4);

    &:hover:not(.vp-button){
      border-left: 5px solid #5f9ea0;
    }

  }

}
