.answers{
  border: 1px solid #d9d6d6;
  padding: 10px;
  padding-left: 20px;
  background-color: #d8d7d7;
  border-radius: 10px;
  font-size: 20px;
  border-color: black;
}

.correct-answers{
  border: 2px solid #d9d6d6;
  padding: 10px;
  padding-left: 20px;
  background-color: #d8d7d7;
  border-radius: 10px;
  font-size: 20px;
  border-color: green;
}