/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

*= require_tree .
*= require_self

 */
$color-marker-complete: #00a407 !default;
$color-marker-active: #ff9900 !default;
$color-marker: #aaa !default;
$marker-size: 32px !default;
$color-marker-hover: #6e6e6e;
// $table-accent-bg: #d6ebeb;
$pagination-border-radius: 0;
$primary: #497979;
$primary-light: rgba(59, 147, 147, 0.5);
$navbar-light-color: rgba(0, 0, 0, 0.7);
$navbar-light-hover-color: rgba(0, 0, 0, 1);
$navbar-dark-color: rgba(255, 255, 255, 0.7);
$navbar-dark-hover-color: rgba(255, 255, 255, 1);
$body-top-padding: 6rem; // equivalent to navbar height
$input-border-radius: 0.25rem !default;
$enable-negative-margins: true;

@import "bootstrap/scss/bootstrap";
@import "toastr";
@import "./shared/variables";
@import "trix";
@import "lib";
@import "font-awesome";
html {
  height: 100%;
  overflow: auto;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 6rem 0 0 0;
  background-color: rgba(238, 238, 238, 0.5);
  font-family: "Raleway", helvetica, sans-serif !important;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.25rem;
}

.dropdown-item:active {
  color: #000 !important;
  background-color: #497979 !important;
}

.dropdown-item:hover {
  background-color: rgba(59, 147, 147, 0.2) !important;
}

h2 {
  font-size: 1.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #000;
  padding: 0;
  background: none;
  text-rendering: optimizeLegibility;
  margin: 0 0 0.5rem 0;
}

p {
  margin: 0.5rem 0 !important;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: #789;
  }
  //
  //&:focus{
  //  outline-style: none;
  //}
}
body {
  background-color: #fff;
}

u {
  display: inline-block;
  text-decoration: none;
}

// TODO figure out why this is here and move it to the right place
//ul{
//  list-style-type: none;
//  margin:0;
//  padding:0;
//}
//
//// TODO figure out why this is here and move it to the right place
//li{
//  display: block;
//}

:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

a :focus {
  outline-offset: 1px;
}

//input:focus, textarea:focus, select:focus{
//  outline: none;
//}

div.seperator {
  width: 100%;
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
}

span.form-error {
  color: #cd5c5c;
  font-size: 0.8rem;
}

div.form-error {
  color: #cd5c5c;
  font-size: 0.8rem;
}

.main {
  flex-shrink: 0;
  margin-bottom: auto;
}

@include media-breakpoint-up(md) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}
@include media-breakpoint-down(md) {
  .jumbotron {
    padding: 2rem 1rem;
  }
}

.container.page {
  background: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.word-break {
  word-break: break-all;
}

.invalid {
  background-color: #ffdddd;
}
.divider {
  border-top: 1px solid #000;
  width: 100%;
}

// Hiding File button for Trix editor
//trix-toolbar .trix-button-group--file-tools {
//  display: none;
//}

//Fixing Div bug for Trix editor
.trix-content {
  height: auto;
}

.button-color {
  .btn-primary {
    color: #fff;
  }

  .btn-success {
    color: #fff;
  }

  .btn-info {
    color: #fff;
  }

  .btn-danger {
    color: #fff;
  }
}

.padding {
  padding-left: 20%;
  padding-right: 20%;

  @extend .button-color;
}
.padding-10 {
  padding-left: 10%;
  padding-right: 10%;

  @extend .button-color;
}

.fc th {
  width: inherit;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
.accordion-button {
  background-color: rgba(0, 0, 0, 0.03) !important;
}
input:not(.btn .form-control),
textarea:not(.form-control) {
  @include prefixer(box-shadow, 0 1px 2px rgba(0, 0, 0, 0.2));
}
.justified-gallery {
  height: 250px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.justified-gallery img {
  height: 250px;
  width: auto;
}
.padding-responsive {
  padding-left: 20%;
  padding-right: 20%;
}

@media screen and (max-width: 768px) {
  .padding-responsive {
    padding-left: 20px;
    padding-right: 20px;
  }
}
td > .btn:not(:last-of-type) {
  margin-bottom: 0.5rem;
}
.subtitle {
  font: 400 0.75rem "Raleway", helvetica, sans-serif;
  color: #aaa;
  margin-bottom: 0.5rem;
}
.checkbox-lg {
  width: 1.5rem;
  height: 1.5rem;
}
