/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

*= require_tree .
*= require_self

 */
$color-marker-complete: #00a407 !default;
$color-marker-active: #ff9900 !default;
$color-marker: #aaa !default;
$marker-size: 32px !default;
$color-marker-hover: #6e6e6e;
// $table-accent-bg: #d6ebeb;
$pagination-border-radius: 0;
$primary: #e24829;
$primary-light: rgba(59, 147, 147, 0.5);
$navbar-light-color: rgba(0, 0, 0, 0.7);
$navbar-light-hover-color: rgba(0, 0, 0, 1);
$navbar-dark-color: rgba(255, 255, 255, 0.7);
$navbar-dark-hover-color: rgba(255, 255, 255, 1);
$body-top-padding: 4rem; // equivalent to navbar height
$input-border-radius: 0.25rem !default;
$enable-negative-margins: true;

// I wish but not everything uses rem
//$font-size-base: 0.95rem;

// Just to add overflow-clip, used in the home page hours column
$utilities: (
  "overflow": (
    property: overflow,
    values: visible hidden clip scroll auto,
  ),
);

@import "bootstrap/scss/bootstrap";
@import "toastr";
@import "./shared/variables";
@import "trix";
@import "lib";
@import "font-awesome";
html {
  font-size: 90%;
  height: 100%;
  overflow: auto;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: rgba(238, 238, 238, 0.5);
  font-family: "Roboto", helvetica, sans-serif !important;
  display: flex;
  flex-direction: column;
}

// Don't cover element with header when auto scrolling
// https://css-tricks.com/hash-tag-links-padding/
// Select all elements with an id
*[id] {
  scroll-margin-top: 15rem;
  scroll-snap-margin-top: 15rem; /* iOS 11 and older */
}

h1 {
  font-size: 2.25rem;
}

.dropdown-item {
  &:active {
    color: #000; // !important;
    background-color: $primary; // !important;
  }
  &:hover {
    color: #fff; // !important;
    background-color: $secondary; // !important;
    &.dropdown-item-danger {
      color: #fff;
      background-color: var(--bs-danger);
    }
  }

  font-weight: 700; // bold
  color: $secondary;
  &.dropdown-item-danger {
    color: var(--bs-danger);
  }
}

// Add the triangle between the menu and the dropdown button
// uses @extend to inherit from .d-none and .d-xl-block
// to hide for screens below xl aka when navbar collapses
// avoids having to have an empty div to every single dropdown
// and add these classes to them. This is globally added to all
// dropdowns sitewide.
// NOTE: the left: 10% could cause issues if the dropdown button
// is too small and might have the connection pointing to thin air.
$dropdown-connection-size: 12px;
.dropdown-menu:before {
  @extend .d-none;
  @extend .d-xl-block;
  content: "";
  display: block;
  border-left: $dropdown-connection-size solid transparent;
  border-right: $dropdown-connection-size solid transparent;
  border-bottom: $dropdown-connection-size solid #fff; /* change color here, modified for a black arrow */
  position: absolute;
  top: -$dropdown-connection-size;
  left: 10%;
}

.dropdown-menu {
  //border: none;
  border-radius: 4px;
  box-shadow: 4px blur;
  padding-bottom: 0;
}

.custom-hover:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.nav-item.dropdown .dropdown-toggle-split {
  margin-left: 0;
  padding-left: 0;
  padding-right: 0.75rem;
}

// Hide this element on screens smaller than xl
@include media-breakpoint-down(xl) {
  .hide-on-mobile {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #000;
  padding: 0;
  background: none;
  text-rendering: optimizeLegibility;
  margin: 0 0 0.5rem 0;
}

p {
  margin: 0.5rem 0; // !important;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 550; // To make it stand out from the white background
  &:not(
      .btn,
      .nav-item,
      .nav-link,
      .dropdown-item,
      .navbar-brand,
      .overlay,
      .username,
      .user_name,
      .edit-repo-link,
      .certify-button,
      .like,
      .make
    ) {
    color: $primary; // !important;
  }
  &::visited {
    color: #789;
  }
  &:hover {
    @include transition(100ms);
    color: #000;
  }
  //&:visited {
  //  color: #789;
  //}
  //
  //&:focus{
  //  outline-style: none;
  //}
}
.tags > a {
  color: #fff !important;
}
body {
  background-color: #fff;
}

u {
  display: inline-block;
  text-decoration: none;
}

.btn {
  // Exclude outline btns
  // FIXME this is getting too large
  &:not(
      .btn-outline-primary,
      .btn-outline-secondary,
      .btn-outline-danger,
      .btn-outline-success,
      .btn-outline-warning,
      .btn-link,
      .btn-default
    ) {
    color: #fff;
  }
  font-weight: 700;
}

.btn-link {
  color: $primary;
}

// Buttons created with button_to are actually a form tag with a single button inside
// Those don't act normally inside button groups, so try to clean those up a bit
.btn-group {
  // Select all form buttons inside groups
  form.button_to {
    // if form butotn has anything to right
    &:has(+ *) > .btn {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    // if form button has anything to left
    & + * > .btn {
      border-lelft: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

// These are used everywhere, only reason they're kept as legacy
.x-button {
  color: #af0000;
  font-size: 1.4em;
}
.check-button {
  color: #006200;
  font-size: 1.4em;
}

.youtube-embed {
  width: 100%;
}

:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

a :focus {
  outline-offset: 1px;
}

//input:focus, textarea:focus, select:focus{
//  outline: none;
//}

div.seperator {
  width: 100%;
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
}

span.form-error {
  color: #cd5c5c;
  font-size: 0.8rem;
}

div.form-error {
  color: #cd5c5c;
  font-size: 0.8rem;
}

.main {
  //margin-top: 2rem;
  flex-shrink: 0;
  margin-bottom: auto;
}

@include media-breakpoint-up(md) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}
@include media-breakpoint-down(md) {
  .jumbotron {
    padding: 2rem 1rem;
  }
}

.container.page {
  background: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.word-break {
  word-break: break-all;
}

.invalid {
  background-color: #ffdddd;
}
.divider {
  border-top: 1px solid #000;
  width: 100%;
}

// Hiding File button for Trix editor
trix-toolbar .trix-button-group--file-tools {
  display: none;
}

//Fixing Div bug for Trix editor
.trix-content {
  height: auto;
}

.button-color {
  .btn-primary {
    color: #fff;
  }

  .btn-success {
    color: #fff;
  }

  .btn-info {
    color: #fff;
  }

  .btn-danger {
    color: #fff;
  }
}

.padding {
  padding-left: 20%;
  padding-right: 20%;

  @extend .button-color;
}
.padding-10 {
  padding-left: 10%;
  padding-right: 10%;

  @extend .button-color;
}

.fc th {
  width: inherit;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
.accordion-button {
  background-color: rgba(0, 0, 0, 0.03) !important;
}
input:not(.btn .form-control),
textarea:not(.form-control) {
  @include prefixer(box-shadow, 0 1px 2px rgba(0, 0, 0, 0.2));
}
.justified-gallery {
  height: 250px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.justified-gallery img {
  height: 250px;
  width: auto;
}
.padding-responsive {
  padding-left: 20%;
  padding-right: 20%;
}

@media screen and (max-width: 768px) {
  .padding-responsive {
    padding-left: 20px;
    padding-right: 20px;
  }
}

td > .btn:not(:last-of-type) {
  //margin-bottom: 0.5rem;
}

.subtitle {
  font: 400 0.75rem "Roboto", helvetica, sans-serif;
  color: #aaa;
  margin-bottom: 0.5rem;
}

.checkbox-lg {
  width: 1.5rem;
  height: 1.5rem;
}

// The button is annoying on mobile
// .userway_buttons_wrapper {
//   margin-bottom: 5rem;
// }

.selected-shift {
  background-color: rgba(128, 128, 128, 0.3) !important;
  border-color: #ccc !important;
}
