@import "./shared/variables";

section#contact-us {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 0 5% 2rem;

  div.title {
    //color: #366;
    color: $primary;
    max-width: 40vmax;
    border-bottom: 2px solid $secondary;
    font-size: 2rem;
    font-weight: 700;
    padding: 3rem 0 0.75rem;
    margin-bottom: 4rem;
  }

  div.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    /* Add Grid for columns */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5%; /* 0.25 margin on each side = 0.5% total gap */
  }

  div.space {
    font-weight: 500 !important;
    font-size: 18px;
    margin-bottom: 0.5rem;
  }

  li {
    color: $secondary;
    font-size: 0.9rem;
  }

  div.column {
    grid-column: span 4; /* 4 out of 12 = 33.33% width */
    margin-bottom: 2rem;

    /* Responsive: stack on mobile */
    @media (max-width: 768px) {
      grid-column: span 12; /* Full width on mobile */
    }
  }

  // a:hover {
  //   text-decoration: underline;
  //   color: teal;
  // }

  #links {
    font-size: 20px;
    color: #366;
    line-height: 10mm;
    white-space: nowrap;
    padding-bottom: 10px;
    text-align: center;
    display: inline-block;
  }
}
