@import "lib";
@import "./shared/variables";

footer {
  margin-top: 3rem;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  padding: 5rem 10rem 3rem 10rem;
  // Icons
  .fa {
    font-size: 20px;
    color: $primary;
    padding: 1rem;
  }

  b {
    font-size: 20px;
  }

  ul {
    white-space: nowrap;
    // list-style: none;
    column-count: 2;
    li,
    a {
      color: #fff !important;
      margin-bottom: 1rem;
      font-weight: 700;
    }
  }

  .brand-tagline {
    margin-top: 0px;
    font-size: 1.2rem;
    text-align-last: justify;
  }

  .brand-separator {
    border-right: solid 1px white;
  }
}
