@import "lib";
@import "./shared/variables";

footer {
  overflow: clip;
  //margin-top: 3rem;
  //font-size: 1rem;
  color: #fff;
  background-color: #000;
  padding: 5% 8% 3% 8%;
  // Icons
  .fa {
    font-size: 1.5rem;
    padding: 1rem;
    &:hover {
      color: #fff;
    }
  }

  b {
    font-size: 20px;
  }

  a:hover {
    color: #fff;
  }

  .brand-tagline {
    margin-top: 0px;
    font-size: 1.2rem;
    text-align-last: justify;
  }

  .brand-separator {
    border-right: solid 1px white;
  }

  .link-separator {
    white-space: nowrap;
    //margin-left: 1.5rem;
    margin-right: 1.5rem;
    a {
      border-left: solid 1px;
      border-color: inherit;
      padding: 0.5rem;
      padding-left: 2.5rem;
      margin: 0;
      display: block;
      color: white;
      font-weight: 700;
      &:hover {
        color: var(--bs-link-color);
      }
    }
  }
}
