@import "lib";

footer {
  display: block;
  text-align: center;
  border-top: 1px solid #5f9ea0;
  color: #5f9ea0;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 2rem;
  padding: 1rem;

  a:hover, a:focus, a:active {
    text-decoration: none;
  }

  ul.footer-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: -0.1rem 0;

    li {
      padding: 0 0.5rem;
      margin: 0.1rem 0.5rem;
      white-space: nowrap;

       a {
         display: inline-block;
       }
    }
  }

  .copyright {
    margin-top: 1rem;
  }
}
