@import "./shared/variables";
@import "bootstrap/scss/bootstrap";

section#getInvolved,
section#resources {
  #jumbotron {
    text-align: center;
    width: 100%;
    &.jumbotron-get-involved {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("get_involved/jumbotron.png");
    }
    &.jumbotron-resources {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
        url("resources/jumbotron.png");
    }
    background-size: cover;
    background-color: $primary;
    margin: 0;
    padding: 10% 15% 10% 15%;
    h1 {
      color: white;
      //font-size: 5rem;
      font-weight: 700;
    }
    p {
      color: white;
      //font-size: 2rem;
    }
  }
  .section-image {
    align-content: center;
    h2 {
      font-weight: 700;
      max-height: 100%;
      align-content: center;
      font-size: 3.5rem;
      color: white;
      text-align: center;
    }

    p {
      color: white;
      align-content: center;
      text-align: center;
      font-size: 2rem;
    }

    background-size: cover;
    background-color: $primary;
    padding: 2%;
    &.section-workshops {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("get_involved/workshops.png");
    }
    &.section-programs {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("get_involved/programs.png");
    }
    &.whats-next-banner {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("get_involved/next.png");
    }
    &.team-space {
      padding: 4%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("get_involved/teams.png");
    }
  }

  .link-card {
    @include media-breakpoint-up(lg) {
      box-shadow: 4px 4px 8px 2px var(--bs-secondary-bg);
    }
    img {
      object-fit: cover;
    }
    padding: 1rem;
    height: 100%;
    border-radius: 5px;
    .link-card-text {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      h5 {
        padding-top: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  }
}
