@import "shared/variables";

#quick-access-bar {
  [data-bs-theme="dark"] & {
    background-color: black;
  }
  background-color: white;

  .nav-link {
    // This is how you nest dark mode selector
    [data-bs-theme="dark"] & {
      --bs-nav-link-hover-color: black;
    }
    --bs-nav-link-color: black;
    --bs-nav-link-hover-color: var(--bs-primary);
  }

  .btn.btn-link {
    [data-bs-theme="dark"] & {
      --bs-btn-hover-color: #{$primary};
    }
    --bs-btn-color: var(--bs-primary);
    --bs-btn-hover-color: black;
  }
}

.navbar {
  .nav-link {
    // This is how you nest dark mode selector
    [data-bs-theme="dark"] & {
      --bs-nav-link-hover-color: #{$primary};
      --bs-nav-link-color: white;
    }
    --bs-nav-link-hover-color: black;
    --bs-nav-link-color: white;
  }

  .btn.btn-link {
    --bs-btn-color: white;
    --bs-btn-hover-color: black;

    [data-bs-theme="dark"] & {
      --bs-btn-hover-color: #{$primary};
    }
  }

  // background-color doesnt seem to be controlled by a variable
  [data-bs-theme="dark"] & {
    background-color: black;
  }
  background-color: $primary;

  &.navbar-staff {
    background: black;
    .navbar-toggler {
      background-color: white;
    }
  }

  .nav-link {
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      //color: #fff;
    }
  }

  &.navbar-staff .nav-link {
    color: white;
    &:hover {
      color: $primary;
    }
    &.show {
      color: white;
    }
  }

  .avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    outline: solid 3px;
    margin-right: 0.5rem;
    object-fit: cover;
  }

  .navbar-brand {
    font-size: 2rem;
  }

  &.navbar-staff .navbar-brand {
    color: white;
  }

  // FIXME: This is hard to make sense in dark mode. CC money icon turns black
  // on hover, and it's a PNG so recolors are hard.
  .ccLink {
    #myCcWhite {
      display: none;
    }

    #myCcBlack {
      display: unset;
    }

    &:hover {
      #myCcWhite {
        display: unset;
      }

      #myCcBlack {
        display: none;
      }
    }
  }

  // Animate header shrinking when class is added
  transition: margin 150ms;
  transition: padding 150ms;
  &.header-small {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    .navbar-brand {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
