@import "shared/variables";

$ceed-maroon: #8f001a;
html[data-bs-theme="dark"] {
  #quick-access-bar {
    --bs-body-bg: $light;
    //background-color: $light;
    background-color: black;
  }

  .nav-link {
    --bs-nav-link-color: white;
  }
}

.navbar {
  // background-color doesnt have variables
  [data-bs-theme="dark"] & {
    background-color: black;
  }
  background-color: $primary;

  // padding: 0.5rem;

  &.navbar-staff {
    background: black;
    .navbar-toggler {
      background-color: white;
    }
  }

  .nav-link {
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      //color: #fff;
    }
  }

  &.navbar-staff .nav-link {
    color: white;
    &:hover {
      color: $primary;
    }
    &.show {
      color: white;
    }
  }

  .avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    outline: solid 3px;
    margin-right: 0.5rem;
    object-fit: cover;
  }

  .navbar-brand {
    font-size: 2rem;
  }

  &.navbar-staff .navbar-brand {
    color: white;
  }

  .ccLink {
    #myCcWhite {
      display: none;
    }

    #myCcBlack {
      display: unset;
    }

    &:hover {
      #myCcWhite {
        display: unset;
      }

      #myCcBlack {
        display: none;
      }
    }
  }

  // Animate header shrinking when class is added
  transition: margin 150ms;
  transition: padding 150ms;
  &.header-small {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    .navbar-brand {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
