@import "shared/variables";

.navbar {
  .nav-link {
    // This is how you nest dark mode selector
    [data-bs-theme="dark"] & {
      --bs-nav-link-hover-color: #{$primary};
      --bs-nav-link-color: white;
    }
    --bs-nav-link-hover-color: black;
    --bs-nav-link-color: white;
  }

  .btn.btn-link {
    --bs-btn-color: white;
    --bs-btn-hover-color: black;

    [data-bs-theme="dark"] & {
      --bs-btn-hover-color: #{$primary};
    }
  }

  // background-color doesnt seem to be controlled by a variable
  [data-bs-theme="dark"] & {
    background-color: black;
  }
  background-color: $primary;

  &.navbar-staff {
    background: black;

    .navbar-toggler {
      border-color: rgba(255, 255, 255, 0.3);

      &:focus {
        box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
      }
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.85%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }

  .nav-link {
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      //color: #fff;
    }
  }

  &.navbar-staff .nav-link {
    color: white;
    &:hover {
      color: $primary;
    }
    &.show {
      color: white;
    }
  }

  .avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    outline: solid 3px;
    margin-right: 0.5rem;
    object-fit: cover;
  }

  .navbar-brand {
    font-size: 2rem;
  }

  &.navbar-staff .navbar-brand {
    color: white;
  }

  .ccLink {
    .ccs {
      transition: opacity 0.2s ease-in-out;
    }

    // Light mode
    #myCcWhite {
      display: none;
    }

    #myCcBlack {
      display: unset;
    }

    &:hover {
      #myCcWhite {
        display: unset;
      }

      #myCcBlack {
        display: none;
      }
    }

    // Dark mode: invert the logic
    [data-bs-theme="dark"] & {
      #myCcWhite {
        display: unset;
      }

      #myCcBlack {
        display: none;
      }

      &:hover {
        #myCcWhite {
          display: none;
        }

        #myCcBlack {
          display: unset;
          // Convert black PNG to #e24829
          filter: brightness(0) saturate(100%) invert(44%) sepia(85%)
            saturate(2473%) hue-rotate(346deg) brightness(99%) contrast(90%);
        }
      }
    }
  }

  @media (max-width: 1199.98px) {
    .navbar-collapse {
      // Force dropdown menus to display as stacked list on mobile
      .dropdown-menu {
        position: static !important;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        padding-left: 1.5rem;

        .dropdown-item {
          color: white;
          padding: 0.5rem 1rem;

          &:hover,
          &:focus {
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
          }

          [data-bs-theme="dark"] & {
            color: white;
          }
        }
      }

      // Make sure the split dropdown buttons don't create weird spacing
      .nav-item.dropdown.d-flex {
        display: block !important;

        .nav-link,
        .dropdown-toggle-split {
          display: inline-block;
        }
      }
    }
  }

  // Animate header shrinking when class is added
  transition:
    margin 150ms,
    padding 150ms;

  &.header-small {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    .navbar-brand {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
