@import "./shared/variables";

section#help-center {
  h1 {
    color: $primary;
    border-bottom: 2px solid $primary;
    font-size: 2rem;
    font-weight: 700;
    padding: 3rem 0 0.75rem;
    margin-bottom: 4rem;
  }
}
