//@import "lib";
@import "./shared/variables";

section#home {
  .carouselCardPack {
    scroll-snap-type: x mandatory;
    overflow-y: clip; // hide vertical scroll bar
    overflow-x: scroll;

    .card {
      width: 16rem;
      .card-img-top {
        height: 16rem;
        // Setting width off-centers the image
        // Hopefully card width keeps it contained?
        //width: 16rem;
        //padding: 0.5rem;
      }
      scroll-snap-align: start;
      flex: 0 0 15rem;
      .card-body {
        text-align: center;
      }
    }
  }

  // Social media gets these flush cards
  // fixed size
  .carouselCard {
    height: 18rem;
    width: 18rem;
    img,
    video {
      display: block; // To keep videos in line
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &:hover {
      @media screen and (prefers-reduced-motion: no-preference) {
        transition: 100ms;
      }
      border: 10px solid white;
    }
  }

  #ShortcutButton {
    width: 100%;
    border: none;
    background-color: $secondary;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .home-card {
    background-color: #fff;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 15px;
    padding: 0rem 1rem 0rem 1rem;
    margin: 0.5rem;
  }

  h2 {
    font-weight: 700;
  }

  h3 {
    font-size: 1.25rem;
  }

  .list-box {
    border-radius: 16px;
    border: 1px solid $secondary;
    padding: 1rem;
  }
  // Headings in volunteer list box
  .list-header {
    font-size: 1.2rem;
    //font-weight: 500;
  }
  .shadowing-list li {
    border-left: 3px solid orange;
    padding-left: 1rem;
    // Apply margin to all but first
    + li {
      margin-top: 0.5rem;
    }
  }
  .volunteer-task-list {
    .fa {
      color: $secondary;
    }
    //list-style: circle;
  }

  #home-hours {
    h3 {
      margin-bottom: 1rem;
    }
    img {
      border-radius: 0.5rem;
      border: 1px solid $secondary;
      //margin-top: 2.15rem;
      object-fit: cover;
      //height: 100%;
      height: 25rem;
      max-width: 100%;
    }
  }

  #home-userinfo {
    img {
      //display: block;
      border-radius: 50%;
      object-fit: cover;
      width: 13rem;
      height: 13rem;
    }

    .full-name {
      font-size: 28px;
      font-weight: 700;
      line-height: 1;
    }

    .subtext {
      color: $secondary;
    }
  }

  .home-badge {
    background-color: $secondary;
  }

  #home-skills {
    .skill-name p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .skill-pill {
      //display: inline;
      font-size: 0.8rem;
      //border: 1px solid $secondary;
      background-color: lightgrey;
      border-radius: 15px;
      padding: 5px;
      //margin: 5px;
    }
  }

  #home-big-newsletter {
    h2 {
      font-size: 1.4em;
    }
    .email-input {
      outline: 0;
      border-width: 0 0 2px;
      border-color: black;
      border-radius: 0;
      box-shadow: none;

      &:focus {
        border-color: $primary;
        outline: 1px dotted $primary;
      }
    }
  }

  .workshop-card {
    padding: 5px;
    margin-bottom: 0.5rem;
    border: 1px solid $secondary;
    border-radius: 15px;
    color: inherit;
    &:hover {
      color: $primary;
      border-color: $primary;
    }
    p {
      margin-bottom: 0;
      margin-top: 0;
    }
    .workshop-date {
      border: 1px solid lightgrey;
      border-radius: 15px;
      background-color: $secondary;
      color: white;
      margin-right: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
      line-height: 1;
      align-content: center;
      //background-image: url("assets/vr.jpg");
      background-size: cover;
    }

    .workshop-title {
      font-weight: 700;
      font-size: 1.1rem;
    }
    .workshop-date-side {
    }

    .workshop-cost {
      font-weight: 700;
    }
  }

  .home-shortcuts {
    .guest-shortcuts {
      font-size: 1.3rem;
      color: $secondary;
    }

    .explanation-list {
      padding-left: 1.5rem;
      outline: 1px solid $secondary;
      border-radius: 5px;
    }
  }
}
