@import "./shared/variables";

section#hours-of-operation {
  h1 {
    color: $primary;
    border-bottom: 2px solid $secondary;
    font-size: 2rem;
    font-weight: 700;
    padding: 3rem 0 0.75rem;
    margin-bottom: 2rem;
  }
}

.formatted-hour-row {
  display: inline-block;
  width: 100%;
  &:nth-of-type(even) {
    background-color: $tertiary;
  }
  span {
    display: inline-block;
    width: 50%;
  }
}
