// Place all the styles related to the JobOrders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link-primary {
  text-decoration: underline;
}

// TABLE
.job-order-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 0.9rem;
}

.job-order-table thead th {
  // background-color: #f8f9fa !important;
  // color: #495057 !important;
  font-weight: 500 !important;
  padding: 0.75rem 1rem;
  // border-bottom: 1px solid #dee2e6 !important;
  text-align: center !important;
}

.job-order-table td {
  padding: 0.75rem 1rem;
  vertical-align: middle;
  border-bottom: 1px solid #e9ecef;
}

.job-order-table.table-striped tbody tr:nth-of-type(odd) {
  // background-color: rgba(0, 0, 0, 0.02);
}
