div.help-grid {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;

  background-color: #fff;
  padding-bottom: 1rem;

  /* Add Grid for layout */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3%;

  div.contact {
    float: left;
    padding-top: 2rem;
    margin-left: 3%;
    font-size: 0.7rem;

    a {
      color: #4682b4;
    }
  }
}

section#help {
  grid-column: span 8;

  background-color: #fff;
  /*padding: 2rem 0;*/
  color: #555;

  div.title {
    color: #366;
    max-width: 40vmax;
    border-bottom: 2px solid #366;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 3rem 0 0.75rem;
    margin-bottom: 2rem;
  }

  div.sub-title {
    font:
      400 1.5rem "Roboto",
      helvetica,
      sans-serif;
    color: #366;
    padding: 2rem 0 1rem;
  }

  a {
    color: #4682b4;
  }

  div.content {
    img {
      max-width: 100%;
      margin: 2rem 0;
      border: 1px solid #366;
    }
  }
}

div.help-side-panel {
  grid-column: span 4; /* 3.5 rounded to 4 */

  position: relative;
  padding: 3rem 0;
  color: #333;
  border-left: 1px solid #aaa;

  div.title {
    color: #555;
    font:
      700 1.2rem "Roboto",
      helvetica,
      sans-serif;
    border-bottom: 1px solid #aaa;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    a {
      transition: 200ms linear;

      &:hover {
        color: #5f9ea0;
      }
    }
  }

  li {
    transition: 200ms linear;
    font:
      700 0.7rem "Roboto",
      helvetica,
      sans-serif;
    padding: 0.5rem 0;
    padding-left: 1rem;
    color: #777;
    text-transform: uppercase;
    display: block;

    a:hover {
      color: #5f9ea0;
    }

    &:last-child {
      /*border-bottom: 1px solid #aaa;*/
      padding-bottom: 1.2rem;
    }
  }
}

@media screen and (max-width: 700px) {
  div.help-side-panel {
    display: none;
  }

  section#help {
    grid-column: span 12;
    padding: 0;
  }
}
