@import "lib";


section#password_entry{
  @include outer-container(60rem);
  background-color: #fff;
  padding: 4rem 5rem 8rem;

  p{
    text-align: center;
    color: red;
    display: block;
		font: 300 2rem 'Raleway', helvetica, sans-serif;
		font-size: 30px;
	  // padding: 2rem 0;
	  // max-width: 80%;
	  // margin: auto;

  }

 	input:not([type=checkbox]){
		display: block;
		padding: 0.5rem;
    height: 30px;
		width: 400px;
		border: 1px solid #aaa;
		margin: 0 auto;
	  font: 400 1.09rem 'Raleway', helvetica, sans-serif;
	  border-bottom: none;

	  // &:nth-last-child(3){
		//   border-top-left-radius: 3px;
		//   border-top-right-radius: 3px;
	  // }
 	}
}

div.title#password_entry{
	text-align: center;
}
input.login-button{
	width: calc(400px + 1.09rem) !important;
  height: calc(30px + 1.09rem) !important;
  letter-spacing: 1px;
  background-color: #4bbc9c;
  color: #fff;
  border: none !important;

  &:hover{
  	cursor: pointer;
  }
}
