@import "lib";

section#password_entry {
  @include outer-container(60rem);
  background-color: #fff;
  padding: 4rem 5rem 8rem;

  p {
    text-align: center;
    color: red;
    display: block;
    font: 300 2rem "Open Sans", helvetica, sans-serif;
    font-size: 27px;
    // padding: 2rem 0;
    // max-width: 80%;
    // margin: auto;
  }

  input:not([type="checkbox"]) {
    display: block;
    margin: 0 auto;
    font: 400 1.09rem "Open Sans", helvetica, sans-serif;

    // &:nth-last-child(3){
    //   border-top-left-radius: 3px;
    //   border-top-right-radius: 3px;
    // }
  }
}

div.title#password_entry {
  text-align: center;
}
input.login-button {
  &:hover {
    cursor: pointer;
  }
}
