section#password_entry {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;

  background-color: #fff;
  padding: 4rem 5rem 8rem;

  p {
    text-align: center;
    color: red;
    display: block;
    font:
      300 2rem "Roboto",
      helvetica,
      sans-serif;
    font-size: 27px;
    // padding: 2rem 0;
    // max-width: 80%;
    // margin: auto;
  }

  input:not([type="checkbox"]) {
    display: block;
    margin: 0 auto;
    font:
      400 1.09rem "Roboto",
      helvetica,
      sans-serif;

    // &:nth-last-child(3){
    //   border-top-left-radius: 3px;
    //   border-top-right-radius: 3px;
    // }
  }
}

div.title#password_entry {
  text-align: center;
}
input.login-button {
  &:hover {
    cursor: pointer;
  }
}
