// Place all the styles related to the Printers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "lib";

div.title{
  color: #366;
  font-size: 2rem;
  padding-bottom: 0.5rem;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-bottom: 2px solid #366;
}

.username{
  @include transition(100ms);
  color: #19c1a5;
  font-weight: 500;

  i{
    padding-right: 5px;
    color: #777;
  }

  &:hover{
    color: #5f9ea0;
  }
}