// Place all the styles related to the PrintOrder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.padding {
  padding-left: 20%;
  padding-right: 20%;
}
.padding-10 {
  padding-left: 10%;
  padding-right: 10%;
}
.label-size {
  font-size: 13.5px;
}