// Place all the styles related to the Printers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "shared/variables";

h1.title {
  color: $primary;
  padding-bottom: 0.5rem;
  text-align: center;
  max-width: 32rem;
  font-size: 2rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-bottom: 2px solid $secondary;
}

.username {
  transition: 100ms linear;
  color: #19c1a5;
  font-weight: 500;

  i {
    padding-right: 5px;
    color: #777;
  }

  &:hover {
    color: #5f9ea0;
  }
}

.staff_printers {
  & ~ section .form-select {
    .ts-dropdown-content div[data-value="clear"],
    .ts-control div[data-value="clear"] {
      color: #dc3545 !important;
    }
  }
}
