@import "lib";

section#new-repo{
  @include outer-container(60rem);
  background-color: #fff;
  padding: 2rem 5rem;
  min-height: calc(100vh - 65px);

  div.title{
    color: #366;
    font-size: 2rem;
    padding-bottom: 0.5rem;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-bottom: 2px solid #366;
  }

  form{
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
  }

  label{
    display: block;
    font: 400 1em 'Raleway', sans-serif;
    margin: 10px 0 5px;
    color: #5f9ea0;
  }

  label + div{
    font: 400 0.75rem 'Raleway', helvetica, sans-serif;
    color: #aaa;
    margin-bottom: 0.5rem;
  }

  input.repo, textarea, input#tag {
    font: 300 0.9em 'Raleway', sans-serif;
    color: #555;
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    position: relative;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #aaa;
    display: block;
  }

  input.repo{
    border-radius: initial;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

}

.ui-state-focus:not(.ui-selectmenu-button){
  background-color: #5f9ea0;
  color: #fff;
}

[aria-hidden="true"] { display: none; }

ul.ui-menu {
    width: 400px;
    border: 1px solid #aaa;
    background-color: #fff;
    position: absolute !important;
    @include prefixer(box-shadow, 0 1px 2px rgba(0, 0, 0, 0.2));
}

li.ui-menu-item {
    padding: 0.5rem;
    font: 300 0.9em 'Raleway', sans-serif;
    cursor: pointer;

    &:hover {
      background-color: #5f9ea0;
      color: #fff;
    }
}

.ui-autocomplete-input{
  font: 300 0.9em 'Raleway', sans-serif;
  background-color: #fff;
  width: calc(400px + 1rem);
  @include prefixer(box-shadow, 0 1px 2px rgba(0, 0, 0, 0.2));
  border: 1px solid #aaa;

  & li{
    padding: 0.5rem;

    &:hover{
      background-color: #5f9ea0;
      color: #fff;
    }
  }
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select, select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #555;
  width: 100%;
  max-width: calc(400px + 1rem);
  height: 2.4rem;
  font: 300 0.9em 'Raleway', sans-serif;
  border: 1px solid #aaa;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.select-styled {
  position: absolute;
  top: 0;right:0;bottom:0;left:0;
  padding: 10px;
  @include transition(0.2s);
  &:after {
    content: "";
    border: 5px solid transparent;
    border-color: #555 transparent transparent transparent;
    position: absolute;
    top: 15px;
    right: 20px;
  }
}

.select-options {
  display: none;
  position: absolute;
  top: 115%;right: 0;left: 0;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #aaa;
  @include prefixer(box-shadow, 0 1px 2px rgba(0, 0, 0, 0.2));
  li {
    padding: 0.5rem;
    &:hover {
      background-color: #5f9ea0;
      color: #fff;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}

div#dragndrop{
  position: absolute;
  top:0;left:0;
  width: 100%;
  height: 100%;
  color: #aaa;
  padding-top: 20px;
  font: 300 2em 'Raleway', sans-serif;
  text-align: center;

  p{
    margin: 0;
    font-size: 1rem;
  }
}

div.repo-image, div.repo-file{
  height: 150px;
  max-width: calc(400px + 1rem);
  border-radius: 3px;
  background-color: rgba(250,250,250,0.7);
  border: 1px dashed #aaa;
  position: relative;
  background-size: cover;
}

label.custom-image-upload{
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #bbb;
  padding: 10px 0;
  text-align: center;
  background-color: #eee;
  font: 300 0.8em 'Raleway', sans-serif !important;
  color: #4682b4 !important;
  margin: 0 !important;
  &:hover{
    cursor: pointer;
  }
}

div#image-container{
  @include outer-container(calc(420px + 1rem));
  margin: 0.5rem 0;


  div.image-item{
    display: inline-block;
    margin-right: 1%;
    position: relative;
    height: 70px;
    min-width: 65px;

    img{
      height: 100%;
      max-width: 100%;
      display: block;
    }

    span.image-remove{
      position: absolute;
      top:5%;
      right: 5%;
      padding: 1% 5%;
      color: #fff;
      background-color: #222;
      cursor: pointer;
      &:after{
        font: 300 1em 'Raleway', sans-serif !important;
        content: "remove";
      }
    }
  }
}

div#category-container, div#equipment-container{
  span{
    display: inline-block;
    padding: 0.25rem 0.7rem;
    background-color: #4682b4;
    color: #eee;
    font: 300 0.8em 'Raleway', sans-serif !important;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    cursor: default;
  }

  span:hover{
    background-color: darkred;
    cursor: not-allowed;
  }
}
div#share_option{
  span{
    display: inline-block;
    padding: 0.25rem 0.7rem;
    background-color: #4682b4;
    color: #555;
    font: 300 0.8em 'Raleway', sans-serif !important;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    cursor: default;
  }

  label#type{
    color: #555;
    font: 300 0.9em 'Raleway', sans-serif;
  }
  div#description{
    text-indent: 5mm;
  }

  span:hover{
    background-color: darkred;
    cursor: not-allowed;
  }


}

label.custom-instructable-upload{
  @include transition(100);
  font-size: 10px;
  display: inline-block !important;
  background-color: rgba(238,238,238,0.3);
  font: 300 0.8em 'Raleway', sans-serif !important;
  color: #4682b4 !important;
  padding: 5px 10px;
  border-radius: 3px;
  cursor:pointer;
  border: 1px solid #aaa;

  &:hover{
    background-color: rgba(119,136,153,0.2);
  }
}

span.ui-helper-hidden-accessible div{
  display: none;
}

.repo-form{
  display: block;
  padding-bottom: 0.5rem;
}

ul.redactor-toolbar{
  position: static;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #aaa;
  border-bottom: none;
  @include prefixer(box-shadow, 0 1px 2px rgba(0, 0, 0, 0.2));
}

div.redactor-editor{
  @include prefixer(box-shadow, 0 1px 2px rgba(0, 0, 0, 0.2));
  padding: 10px;
  border: 1px solid #aaa;
  border-top: 1px solid #eee;
  font: 300 0.9em 'Raleway', sans-serif;
  color: #555;

  & h1, h2, h3, h4, h5, h6{
    font-weight: 400;
  }

  & ul{
    list-style-type: circle;
  }

  & li{
    display: list-item;
  }

}

#status-save {
  padding-left:10px;
  color:dimgray;
}
