@import "shared/variables";

div#show-photo img {
  display: block;
  max-width: 100%;
  max-height: 500px;
  margin: 0 auto;
  cursor: pointer;
  // border: 2px solid #eee;
  // border-right-color: #ddd;
  // border-left-color: #ddd;
}

div#photo-slide {
  position: relative;
  margin-top: 1rem;
  max-height: 65px;
  height: 10vw;
  font-size: 0;
  width: 100%;

  img {
    height: 100%;
    cursor: pointer;
    margin: 0 0.5% 1%;
    border: 2px solid #eee;
    border-top-color: #ddd;
    border-bottom-color: #ddd;
  }
}

span.forward {
  display: inline-block;
  height: 100px;
  font-size: 3rem;
  float: left;
  color: #ddd;
  margin: 0 0.2rem;
  padding: 0 0.3rem;
  line-height: 100px;
}

a.edit-repo-link {
  transition: 100ms linear;
  // position: absolute;
  // right: 0;
  // top: 0;
  background-color: #789;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border: 3px solid #789;

  &:hover {
    background-color: #fff;
    color: #789;
  }
}

a#view-repo-link {
  max-width: fit-content;
  transform: translateX(-100%);
}

div#repo-title {
  //color: #366;
  color: $secondary;
  font:
    600 1.6rem "Roboto",
    sans-serif;
}

div#misc {
  border-bottom: 3px solid $secondary;
  padding-left: 5%;

  span.misc-item {
    transition: 100ms linear;
    display: inline-block;
    height: 60px;
    line-height: 60px !important;
    width: 30%;
    font:
      300 1.1rem "Roboto",
      sans-serif;
    color: $primary;
    cursor: pointer;
    i {
      padding-right: 10px;
    }

    &:nth-last-child(1) {
      text-align: right;
    }

    &:nth-last-child(2) {
      text-align: center;
    }

    &:hover {
      transition: 100ms linear;
      color: #000;
    }
  }
}

div.repo-info-item {
  padding-top: 0.5rem;
  color: $secondary;

  table {
    margin-left: -3px;
    width: 101%;
  }
  .title {
    // This is conflicting with printers.scss
    color: $secondary;
    font-size: 1rem;
    text-align: left;
  }

  td:last-child {
    padding-right: -5px;
    text-align: right;
  }
  #download-zip {
    font-size: 0.8rem;
    padding: 4px 8px;

    i {
      font-size: 0.95rem;
    }

    a {
      color: inherit;
    }
  }

  .no-bg-download {
    background-color: transparent;
  }

  .bg-download {
    transition: 100ms linear;
    background-color: $primary;
    color: #f9f9f9;
    cursor: pointer;
    border-radius: 6px;

    a {
      color: inherit;
    }

    &:hover {
      // FIXME make this darker or smth
      //background-color: $secondary;
      color: #f9f9f9;
    }
  }

  div.name {
    transition: 100ms linear;
    color: #19c1a5;
    font-weight: 500;

    i {
      padding-right: 5px;
      color: #777;
    }

    &:hover {
      color: #5f9ea0;
    }
  }

  div.reputation {
    color: #777;
    font-weight: 400;
    font-size: 0.75rem;
  }

  div.date {
    color: #777;
  }

  span.platform,
  span.license {
    color: #5f9ea0;
    font-size: 0.8rem;
  }

  &:nth-child(1n + 3) {
    width: 100%;
  }

  span.tags {
    display: inline-block;
    background-color: #4682b4;
    color: #eee;
    margin-top: 0.2rem;

    a {
      display: block;
      padding: 0.25rem 0.7rem;
      color: inherit;
    }
  }

  span.like,
  span.make {
    transition: 100ms linear;
    display: inline-block;
    background-color: $primary;
    font-size: 1rem;
    color: white !important;
    border-radius: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem 1.25rem;
    margin-right: 0.75rem;

    &.liked {
      background-color: hotpink;
    }

    a {
      display: block;
      color: inherit;
    }

    i {
      font-size: 1.1rem;
      padding-right: 10px;
    }

    &:hover {
      color: #a3e6db;
    }
  }

  div.report {
    transition: 100ms linear;
    color: #888;
    cursor: pointer;

    i {
      padding-right: 10px;
    }

    &:hover {
      color: #cd5c5c;
    }
  }
}

div.repo-desc {
  float: left;
  width: 100%;
  margin-top: 2rem;

  div.title {
    font-size: 1rem;
    color: #366;
    margin-bottom: 1rem;
  }

  div.description {
    color: #777;

    a {
      color: #4682b4;
      &:hover {
        text-decoration: underline;
      }
    }

    & ul {
      list-style-type: circle;
      padding-left: 40px;
    }

    & li {
      display: list-item;
    }
  }
}

a.x-comment-button {
  float: right;
  display: block;

  i {
    color: #b02a12;
  }
}

section#repo-comments {
  div.title {
    font:
      400 2rem "Roboto",
      sans-serif;
    color: #555;
    padding: 0 2rem 2rem;
  }

  textarea {
    border: none;
    display: block;
    width: 70%;
    padding: 0.5rem;
    font:
      400 1rem "Roboto",
      sans-serif;
    margin-left: 1rem;
    border-radius: 3px;
  }

  input {
    margin: 0.5rem 1rem;
    font:
      400 1rem "Roboto",
      sans-serif;
    padding: 0.5rem 0.7rem;
    border: none;
  }

  div#comment-filters {
    padding: 2rem;

    a {
      display: inline-block;
      margin: 0 1%;
      font:
        400 1rem "Roboto",
        sans-serif;
      color: #555;
    }
  }

  div#comment-container {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;

    font:
      400 1rem "Roboto",
      sans-serif;
    margin: 0;

    div.comment {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;

      margin: 0;
      padding: 1rem 0;
      background-color: #fff;
      margin-bottom: 1rem;
      max-height: 20rem;
      overflow-y: scroll;

      /* Add Grid for child elements */
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 2%;

      div.comment-upvote {
        grid-column: span 1;

        text-align: center;
        font-size: 1.5rem;
        font-weight: 300;
        color: #777;
        div {
          font-size: 1.2rem;
        }
      }

      div.comment-content {
        grid-column: span 11;

        color: #777;
        font-weight: 300;
        padding-top: 0.5rem;
        overflow-wrap: break-word;
      }

      div.comment-header {
        grid-column: span 11;

        font-size: 0.7rem;
        color: #777;
        font-weight: 300;

        a {
          display: inline-block;
          color: #366;
          font-weight: 500;
          font-size: 1rem;
        }

        div.rep {
          font-size: 0.7rem;
          color: #5f9ea0;
          font-weight: 300;
        }

        div.time {
          float: right;
        }
      }
    }
  }
}
