//@import "lib";

// [aria-hidden="true"] {
//   display: none;
//}

div#dragndrop {
  position: relative;
  width: 100%;
  height: 100%;
  color: #aaa;
  padding-top: 40px;
  font:
    300 2em "Roboto",
    sans-serif;
  text-align: center;

  p {
    margin: 0;
    font-size: 1rem;
  }
}

div.repo-image,
div.repo-file {
  min-height: 150px;
  height: auto;
  max-width: calc(400px + 1rem);
  border-radius: 3px;
  background-color: rgba(250, 250, 250, 0.7);
  border: 1px dashed #aaa;
  position: relative;
  background-size: cover;
}

div#image-container {
  //@include outer-container(calc(420px + 1rem));
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  div.image-item {
    display: inline-block;
    margin-right: 1%;
    position: relative;
    height: 70px;
    min-width: 65px;

    img {
      height: 100%;
      max-width: 100%;
      display: block;
    }

    span.image-remove {
      position: absolute;
      top: 5%;
      right: 5%;
      padding: 1% 5%;
      color: #fff;
      background-color: #222;
      cursor: pointer;
      &:after {
        font:
          300 1em "Roboto",
          sans-serif !important;
        content: "remove";
      }
    }
  }
}

div#category-container,
div#equipment-container {
  span {
    display: inline-block;
    padding: 0.25rem 0.7rem;
    background-color: #4682b4;
    color: #eee;
    font:
      300 0.8em "Roboto",
      sans-serif !important;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    cursor: default;
  }

  span:hover {
    background-color: darkred;
    cursor: not-allowed;
  }
}

.repo-form {
  display: block;
  padding-bottom: 0.5rem;
}

.delete-button {
  font:
    300 1em "Roboto",
    sans-serif;
  padding: 0.4rem 0.6rem;
  border: none;
  text-transform: uppercase;
  color: #777;
  letter-spacing: 0.15em;
  border-radius: 10px;
  background-color: #a61e10;
  color: #fff;
  margin-bottom: 20px;

  &:hover {
    cursor: pointer;
    color: aquamarine;
  }
}
