@import "lib";

section#repositories-index {
  @include outer-container(64rem);
  min-height: calc(100vh - 65px - 6rem);
  /*	left:0;right:0;
	position: absolute;
	top: 65px;*/
  padding: 3rem 3rem;
  background-color: #fff;

  span.found {
    float: right;
    /*color: #4682b4;*/
    color: #999;
    font-size: 1rem;
  }

  div.like-title {
    font-size: 4rem;
    color: #5f9ea0;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
}

h2.subtitle {
  font-size: 2rem;
  color: #5f9ea0;
  text-align: center;
  padding-bottom: 0.6rem;
  margin-bottom: 0.6rem;
  overflow: auto;

  .focused {
    display: inline-block;
    padding: 10px 10px;
    border-style: double;
    background-color: #c4dcdb;

    &:hover {
      background-color: #bee2e1;
    }
  }

  .not-focused {
    display: inline-block;
    padding: 10px 10px;
    color: #5f9ea0;

    &:hover {
      background-color: #bee2e1;
    }
  }
}

a.featured {
  font: 400 0.9rem "Open Sans", helvetica, sans-serif;
  color: #999;
}

div.empty-star {
  margin: 5px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-bottom: 7px solid red;
  border-left: 10px solid transparent;
  -moz-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
}
