@import "lib";

section#repositories-index{
	@include outer-container(64rem);
	min-height: calc(100vh - 65px - 6rem);
/*	left:0;right:0;
	position: absolute;
	top: 65px;*/
	padding: 3rem 3rem;
	background-color: #fff;

	span.found{
		float: right;
		/*color: #4682b4;*/
		color: #999;
		font-size: 1rem;
	}

	div.like-title{
		font-size: 4rem;
		color: #5f9ea0;
		text-align: center;
		border-bottom: 1px solid #eee;
		padding-bottom: 2rem;
		margin-bottom: 2rem;
	}
}

h2.subtitle{
	font-size: 2rem;
	color: #5f9ea0;
	text-align: center;
	padding-bottom: 0.6rem;
	margin-bottom: 0.6rem;

	.focused{
		padding: 10px 10px;
		border-style: double;
		background-color: #C4DCDB;
		&:hover{
			background-color: #BEE2E1;
		}
	}

	.not-focused{
		padding: 10px 10px;
		color: #7ACACC;

		&:hover{
			background-color: #BEE2E1;
		}
	}
}

a.featured{
	font: 400 0.9rem 'Raleway', helvetica, sans-serif;
	color: #999;
}

div.empty-star {
   margin: 5px 0;
   position: relative;
   display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  10px solid transparent;
   border-bottom: 7px  solid red;
   border-left:   10px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}


section#repository-filter{
	margin-bottom: 2rem;
	display: inline-block;

	div.sort{
		text-transform: uppercase;
		display: inline-block;
		color: #999;
    font: 400 0.9rem 'Raleway', helvetica, sans-serif;
    margin-right: 1.5rem;
	}

	nav{
		display: inline-block;
		position: relative;
    color: #777;
    font: 400 0.9rem 'Raleway', helvetica, sans-serif;

		div#filter-header{
	    display: inline-block;
	    padding-left: 0.5rem;
	    border: 1px solid #ccc;
	    border-top-left-radius: 3px;
	    border-top-right-radius: 3px;
	    letter-spacing: 1px;
    	padding-left: 0.5rem;
    	vertical-align: middle;
    	cursor: pointer;

	    i{
	    	font-size: 1.3rem;
	    	border-left: 1px solid #aaa;
	    	margin-left: 0.5rem;
	    	padding: 0.35rem 0.5rem;
	    	vertical-align: middle;
	    }

		}

		ul{
			display: none;
			position: absolute;
			top: 2.5rem;
			z-index: 1;
		  @include prefixer(box-shadow, 0 1px 2px rgba(0, 0, 0, 0.2));
			left: 0;
			background-color: #fff;
			li{

				border-top: 1px solid #eee;
				width: 200px;
				font-size: 0.8rem;
				a{
					display: block;
					height: 100%;
					padding: 0.5rem 0.5rem;
				}

				&:hover{
					background-color: #5f9ea0;
					color: #fff;
				}
			}
		}
	}

}
