/* SETTING LAYOUT */
@import "bootstrap/scss/bootstrap";
@import "shared/variables";

div.setting-title {
  line-height: 5rem !important;
  font:
    400 3rem "Roboto",
    sans-serif;
  color: var(--bs-body-color);
}

div.setting-grid {
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 50px);
  background-color: var(--bs-body-bg);
  padding: 0 0rem;

  /* Add Grid for layout */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0;

  .btn-secondary {
    color: #fff;
  }
  form {
    grid-column: 4 / -1; /* Starts at column 4, ends at the last column */
    padding: 0 0.5rem;
  }
}

div.panel-title {
  color: #366;
  font-size: 35px;
}

section#waivers {
  div.top {
    padding: 6px;
    background-color: transparentize(yellow, 0.7);
  }

  div.waiver-button {
    padding: 0.5rem 1rem;
    border: none;
    text-transform: uppercase;
    color: #777;
    letter-spacing: 0.15em;
    border-radius: 2px;
    background-color: #5f9ea0;
    color: #fff;
    margin-bottom: 20px;

    &:hover {
      background-color: transparentize(#5f9ea0, 0.4);
      cursor: pointer;
    }
  }

  section {
    display: none;
  }

  div.waiver-form-outer {
    position: relative;
    padding: 14px;
    left: -200px;
    width: 850px;
    background-color: transparentize(yellow, 0.6);
  }
}

div.setting-side-panel {
  grid-column: span 3;
  position: relative;
  padding: 3rem 0 0 0;
  color: var(--bs-body-color);
  font:
    400 1.2rem "Roboto",
    helvetica,
    sans-serif;

  li {
    display: block;
    height: 2.5rem;

    a {
      transition: 100ms linear;
      color: var(--bs-link-color);
      text-decoration: none;

      &:hover:not(.vp-button) {
        padding-left: 0.4rem;
        border-left: 5px solid $secondary;
        color: var(--bs-link-hover-color);
      }
    }
  }
}

@include media-breakpoint-down(md) {
  div.setting-side-panel {
    li {
      &:not(:first-child) {
        margin-top: 1.5rem;
      }
    }
  }
}

@include media-breakpoint-between(md, xl) {
  div.setting-side-panel {
    li {
      &:nth-last-child(1) {
        margin-top: 1.5rem;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  div.setting-side-panel {
    li {
      a {
        white-space: nowrap;
      }
      & {
        margin-top: 0;
      }
    }
  }
}

/* EDIT PROFILE PAGE */

label.profile-label {
  display: block;
  font:
    400 0.9rem "Roboto",
    helvetica,
    sans-serif;
  color: var(--bs-secondary-color);
  margin-bottom: 0.5rem;
}

label.radio-label {
  padding-top: -10px;
  font:
    400 0.9rem "Roboto",
    helvetica,
    sans-serif;
  color: var(--bs-secondary-color);
}

input.profile-text,
textarea.profile-text,
select.profile-select {
  font:
    300 0.9em "Roboto",
    sans-serif;
  width: 100%;
  margin: 0.5rem 0 1rem;
}

textarea.profile-text {
  height: 120px;
}

div.section-desc {
  font:
    400 1rem "Roboto",
    sans-serif;
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  color: $primary;

  & span {
    font:
      400 0.75rem "Roboto",
      helvetica,
      sans-serif;
    color: var(--bs-secondary-color);
  }
}

input.save-button {
  font:
    300 1em "Roboto",
    sans-serif;
  padding: 0.5rem 1rem;
  border: none;
  text-transform: uppercase;
  color: #777;
  letter-spacing: 0.15em;
  border-radius: 2px;
  background-color: #5f9ea0;
  color: #fff;
  margin-bottom: 20px;

  &:hover {
    cursor: pointer;
  }
}

div.general-settings {
  select {
    display: inline;
  }

  input#equipment_option_name,
  input#category_option_name {
    width: 100%;
    max-width: 400px;
    display: inline;
  }

  input {
    display: inline;
  }

  select#rename_equipment,
  select#rename_category {
    width: 170px;
  }

  input#rename_equipment_text,
  input#rename_category_text {
    width: 185px;
  }
}

div.search-form {
  select,
  input {
    display: inline;
  }
}

a.vp-button {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  border: 1px solid var(--bs-border-color);
  padding: 0.6rem 2.25rem;
  color: var(--bs-body-color);

  &:hover {
    background-color: rgba(238, 238, 238, 0.2);
    text-decoration: none;
  }
}

div.avatar-column {
  position: relative;
  color: var(--bs-body-color);
  font:
    400 1rem "Roboto",
    sans-serif;
  display: inline-block;
  margin: 0.5rem 0;
}

div.edit-column {
  grid-column: span 8;
  padding-left: 2rem;
  color: var(--bs-body-color);
  font:
    400 1rem "Roboto",
    sans-serif;
  padding-top: 2rem;
  min-height: calc(100vh - 50px);

  input#q {
    display: inline;
    width: 300px;
  }

  select#filter {
    display: inline;
    width: 120px;
    height: 35px;
  }

  .btn-primary,
  .btn-success,
  .btn-info,
  .btn-danger {
    color: #fff;
  }

  a.edit-user-link {
    transition: 100ms linear;
    position: relative;
    float: right;
    margin-top: 50px;
    background-color: #789;
    color: #fff;
    padding: 0.25rem 0.5rem;
    border: 3px solid #789;

    &:hover {
      background-color: #fff;
      color: #789;
    }
  }

  div#alert {
    .btn-primary {
      color: #fff;
    }

    .btn-success {
      color: #fff;
    }

    .btn-info {
      color: #fff;
    }

    .btn-danger {
      color: #fff;
    }

    div#alert {
      display: none;
      position: absolute;
      top: 65px;
      width: 100vw;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 5rem;
      line-height: 5rem !important;
      font-size: 75%;
      font:
        500 2rem "Roboto",
        sans-serif;
      background-color: #cd5c5c;
      color: #fff;
      z-index: 2;
      text-align: center;
    }

    section#old_users {
      padding: 10px;
      background-color: #f2b3ac;
      color: #333;

      p {
        font:
          500 1rem "Roboto",
          sans-serif;
      }

      p#intro {
        font:
          500 1.2rem "Roboto",
          sans-serif;
      }
    }
  }

  img.edit-avatar {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
  }

  input[type="file"] {
    display: none;
  }

  label.custom-file-upload {
    transition: 100ms linear;
    font-size: 10px;
    background-color: var(--bs-gray-200);
    color: var(--bs-gray-800);
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    text-align: center;
    border: 1px solid var(--bs-border-color);

    &:hover {
      background-color: rgba(119, 136, 153, 0.95);
      color: #fff;
      cursor: pointer;
    }
  }

  /* CHANGE PASSWORD */
  div.cp-column {
    grid-column: span 9;
    border-right: 1px solid var(--bs-border-color);
    padding-left: 2rem;
    color: var(--bs-body-color);
    font:
      400 1rem "Roboto",
      sans-serif;
  }

  @media screen and (max-width: 700px) {
    div.setting-side-panel {
      display: none;
    }

    div.edit-column {
      grid-column: span 12;
      padding: 1rem;
      border: none;

      div.title {
        padding-top: 0;
      }
    }
  }

  .programs,
  .link_pp {
    display: block;
    padding: 0.375rem 0.75rem;
    width: 100%;
    height: auto;
    border-radius: 2px;
    border: 1px solid var(--bs-border-color);
    margin: 0.5rem 0 1rem;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    font:
      300 1rem "Roboto",
      helvetica,
      sans-serif;
  }
}
