/* SETTING LAYOUT */
@import "bootstrap/scss/bootstrap";
@import "shared/variables";

div.setting-title {
  line-height: 5rem !important;
  font:
    400 3rem "Roboto",
    sans-serif;
  color: #555;
}

div.setting-grid {
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto;

  min-height: calc(100vh - 50px);
  background-color: #fff;
  padding: 0 1rem;
  /*position: relative;*/

  /* Add Grid for layout */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0;

  .btn-secondary {
    color: #fff;
  }
}

div.panel-title {
  color: #366;
  font-size: 35px;
}

section#waivers {
  div.top {
    padding: 6px;
    background-color: transparentize(yellow, 0.7);
  }

  div.waiver-button {
    padding: 0.5rem 1rem;
    border: none;
    text-transform: uppercase;
    color: #777;
    letter-spacing: 0.15em;
    border-radius: 2px;
    background-color: #5f9ea0;
    color: #fff;
    margin-bottom: 20px;

    &:hover {
      background-color: transparentize(#5f9ea0, 0.4);
      cursor: pointer;
    }
  }

  section {
    display: none;
  }

  div.waiver-form-outer {
    position: relative;
    padding: 14px;
    left: -200px;
    width: 850px;
    background-color: transparentize(yellow, 0.6);
  }
}

div.setting-side-panel {
  grid-column: span 3;

  position: relative;
  padding: 3rem 1rem 0;
  color: #333;
  font:
    400 1.2rem "Roboto",
    helvetica,
    sans-serif;

  li {
    display: block;
    height: 2.5rem;

    a {
      transition: 100ms linear;

      &:hover:not(.vp-button) {
        padding-left: 0.4rem;
        border-left: 5px solid $secondary;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  div.setting-side-panel {
    li {
      &:not(:first-child) {
        margin-top: 1.5rem;
      }
    }
  }
}

@include media-breakpoint-between(md, xl) {
  div.setting-side-panel {
    li {
      &:nth-last-child(1) {
        margin-top: 1.5rem;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  div.setting-side-panel {
    li {
      a {
        white-space: nowrap;
      }
      & {
        margin-top: 0;
      }
    }
  }
}

/* EDIT PROFILE PAGE */

label.profile-label {
  display: block;
  font:
    400 0.9rem "Roboto",
    helvetica,
    sans-serif;
  color: #777;
}

label.radio-label {
  padding-top: -10px;
  font:
    400 0.9rem "Roboto",
    helvetica,
    sans-serif;
  color: #777;
}

input.profile-text {
  font:
    300 0.9em "Roboto",
    sans-serif;
  color: #555;
  padding: 0.5rem;
  margin: 0.5rem 0 1rem;
  max-width: 400px;
  width: calc(100% - 1rem);
  border-radius: 3px;
  border: 1px solid #aaa;
  display: block;
}

textarea.profile-text {
  font:
    300 0.9em "Roboto",
    sans-serif;
  color: #555;
  padding: 0.5rem;
  margin: 0.5rem 0 1rem;
  max-width: 400px;
  width: calc(100% - 1rem);
  border-radius: 3px;
  border: 1px solid #aaa;
  display: block;
  height: 120px;
}

select.profile-select {
  font:
    300 0.9em "Roboto",
    sans-serif;
  color: #555;
  padding: 0.5rem;
  margin: 0.5rem 0 1rem;
  max-width: 400px;
  width: calc(100% - 1rem);
  border-radius: 3px;
  border: 1px solid #aaa;
  display: block;
}

div.section-desc {
  font:
    400 1rem "Roboto",
    sans-serif;
  width: 100%;
  max-width: 400px;
  padding: 10px 0;
  margin: 10px 0;
  color: $primary;

  & span {
    font:
      400 0.75rem "Roboto",
      helvetica,
      sans-serif;
    color: #aaa;
  }
}

input.save-button {
  font:
    300 1em "Roboto",
    sans-serif;
  padding: 0.5rem 1rem;
  border: none;
  text-transform: uppercase;
  color: #777;
  letter-spacing: 0.15em;
  border-radius: 2px;
  background-color: #5f9ea0;
  color: #fff;
  margin-bottom: 20px;

  &:hover {
    cursor: pointer;
  }
}

div.general-settings {
  select {
    display: inline;
  }

  input#equipment_option_name,
  input#category_option_name {
    width: 400px;
    display: inline;
  }

  input {
    display: inline;
  }

  select.profile-select {
    width: 378px;
  }

  select#rename_equipment,
  select#rename_category {
    width: 170px;
  }

  input#rename_equipment_text,
  input#rename_category_text {
    width: 185px;
  }
}

div.search-form {
  select {
    display: inline;
  }

  input {
    display: inline;
  }
}

a.vp-button {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  border: 1px solid #ddd;
  padding: 0.6rem 2.25rem;

  &:hover {
    background-color: rgba(238, 238, 238, 0.2);
  }
}

div.avatar-column {
  position: relative;
  color: #333;
  font:
    400 1rem "Roboto",
    sans-serif;
  display: inline-block;
  margin: 0.5rem 0;
}

div.edit-column {
  grid-column: span 8;

  //  border-left: 260px solid #f0f5f5;
  //  margin-left: -260px;
  padding-left: 2rem;
  color: #333;
  font:
    400 1rem "Roboto",
    sans-serif;
  padding-top: 2rem;
  min-height: calc(100vh - 50px);

  input#q {
    display: inline;
    width: 300px;
  }

  select#filter {
    display: inline;
    width: 120px;
    height: 35px;
  }

  .btn-primary {
    color: #fff;
  }

  .btn-success {
    color: #fff;
  }

  .btn-info {
    color: #fff;
  }

  .btn-danger {
    color: #fff;
  }

  a.edit-user-link {
    transition: 100ms linear;
    position: relative;
    left: 700px;
    top: 50px;
    background-color: #789;
    color: #fff;
    padding: 0.25rem 0.5rem;
    border: 3px solid #789;

    &:hover {
      background-color: #fff;
      color: #789;
    }
  }

  div#alert {
    .btn-primary {
      color: #fff;
    }

    .btn-success {
      color: #fff;
    }

    .btn-info {
      color: #fff;
    }

    .btn-danger {
      color: #fff;
    }

    div#alert {
      display: none;
      position: absolute;
      top: 65px;
      width: 100vw;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 5rem;
      line-height: 5rem !important;
      font-size: 75%;
      font:
        500 2rem "Roboto",
        sans-serif;
      background-color: #cd5c5c;
      color: #fff;
      z-index: 2;
      text-align: center;
    }

    section#old_users {
      padding: 10px;
      background-color: #f2b3ac;

      p {
        font:
          500 1rem "Roboto",
          sans-serif;
      }

      p#intro {
        font:
          500 1.2rem "Roboto",
          sans-serif;
      }
    }
  }

  img.edit-avatar {
    height: 150px;
  }

  input[type="file"] {
    display: none;
  }

  label.custom-file-upload {
    transition: 100ms linear;
    font-size: 10px;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    text-align: center;

    &:hover {
      background-color: rgba(119, 136, 153, 0.95);
      cursor: pointer;
    }
  }

  /* CHANGE PASSWORD */

  div.cp-column {
    grid-column: span 9;

    border-right: 1px solid #ddd;
    padding-left: 2rem;
    color: #333;
    font:
      400 1rem "Roboto",
      sans-serif;
  }

  @media screen and (max-width: 700px) {
    div.setting-side-panel {
      display: none;
    }

    div.edit-column {
      grid-column: span 12;

      padding: 0;
      border: none;

      div.title {
        padding-top: 0;
      }
    }
  }

  .programs {
    display: block;
    padding: 0.1rem;
    width: 415px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #aaa;
    margin: 0.5rem 0 1rem;
    font:
      300 1rem "Roboto",
      helvetica,
      sans-serif;
  }

  .link_pp {
    display: block;
    padding: 0.1rem;
    width: 250px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #aaa;
    margin: 0.5rem 0 1rem;
    font:
      300 1rem "Roboto",
      helvetica,
      sans-serif;
  }
}
