// Place all the styles related to the Staff controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "lib";
/* SETTING LAYOUT */

div#space-top-corner{
  font: 400 0.75rem 'Raleway', helvetica, sans-serif;
  display:inline;
  float: right;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 100px;

}

div.setting-top-panel{
  position: center;
  padding: 3rem 1rem 0;
  color: #333;
  font: 400 1.2rem 'Raleway', helvetica, sans-serif;

  li.setting-menu-item{
    padding-top: 5px;
  }

}

div.panel-title:hover{
  padding-left: 5px;
  &:hover:not(.vp-button){
    border-left: 5px solid #5f9ea0;
  }
}

.download-button{
  float: right;
  font: 300 10px 'Raleway', sans-serif;
  padding: 0.5rem 0.34rem;
  border: none;
  text-transform: uppercase;
  color: #777;
  letter-spacing: 0.15em;
  border-radius: 2px;
  background-color: #5A42E8;
  color: #fff;
  margin-right: 5px;
  margin-top: 11px;
  margin-bottom: 5px;
  &:hover{
    cursor: pointer;
    background-color: transparentize(#5A42E8, 0.4);

  }
}


.update-button{
  font: 300 1em 'Raleway', sans-serif;
  padding: 0.5rem 1rem;
  border: none;
  text-transform: uppercase;
  color: #777;
  letter-spacing: 0.15em;
  border-radius: 2px;
  background-color: #5f9ea0;
  color: #fff;
  margin-bottom: 20px;

  &:hover:not(.vp-button){
    background-color: #73b2b4;
  }
  &:hover{
    cursor: pointer;
  }
}


table{
  font-size: 14px;
  width: 110%;
  th {
      background-color: #c2d6d6;
      color: #366;
      padding:5px;
      a {
          text-decoration: underline;
      }
      i {
          margin-left:1px;
          line-height: 10px;
          width: 10px;
          height: 13px;
          text-align: center;
      }
      i.fa-sort-asc {
          vertical-align: bottom;
      }
      i.fa-sort-desc {
          vertical-align: top;
      }

  }
  .action-header{
    width: max(100px);
  }
  .last-seen-header{
    width: max(220px);
  }
  .certifications-header{
    width: max(220px);
  }
  .email-header{
    width: max(220px);
  }


  td{
    text-align: center;
    padding: 5px;
  }
  td.action-cell{

      .btn {
        color: #fff;
      }

      .x-button{
        color: #af0000;
        font-size: 1.4em;
      }
      .check-button{
        color: #006200;
        font-size: 1.4em;
      }

      .visit-button{
        font: 300 10px 'Raleway', sans-serif;
        padding: 0.5rem 1.6rem;
        margin-top: 0.65rem;
        margin-bottom: 0.88rem;
        border: none;
        text-transform: uppercase;
        color: #777;
        letter-spacing: 0.15em;
        border-radius: 2px;
        background-color: #5f9ea0;
        color: #fff;
        &:hover{
          cursor: pointer;
        }
      }

      .destroy-button{
        font: 300 10px 'Raleway', sans-serif;
        padding: 0.5rem 0.8rem;
        margin-top: 0.65rem;
        margin-bottom: 0.88rem;
        border: none;
        text-transform: uppercase;
        color: #777;
        letter-spacing: 0.15em;
        border-radius: 2px;
        background-color: #A61E10;
        color: #fff;

        &:hover{
          cursor: pointer;
        }
      }
  }

  tr {
      background-color: #f0f5f5;
  }
  tr.current-session {
      background-color: #b3e6cc;
  }
  .link-table {
    color: #366;
    text-align:center;
  }
  tr.cert-row-red{
    background-color: transparentize(#ff8282, 0.5);
  }

  tr#no-waiver{
    background-color: transparentize(yellow, 0.6);
  }
}

.edit-column{
  width: 110%;
}

div#staff-buttons{

  align: center;
  float: left;

  .staff-button{
    font: 300 2.4em 'Raleway', sans-serif;
    letter-spacing: 0.15em;
    padding-left: 1rem;
    border-left: 3px solid transparentize(#5f9ea0, 0.4);
    color: #333333;

    &:hover:not(.vp-button){
      border-left: 5px solid #5f9ea0;
    }

  }

}


div#cert-details{
  visibility: hidden;
  width: 150px;
  background-color: #c2d6d6;
  color: #366;
  text-align: center;
  border-radius: 6px;
  padding-bottom: 2px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

div.cert-name{
  cursor:pointer;
}


div.cert-name-red{
  cursor:pointer;
  background-color: #ff8282;
}


div.cert-name:hover div#cert-details{
    visibility:visible;
}

div.cert-name-red:hover div#cert-details{
    visibility:visible;
    background-color: #ff8282;

}


div#notice{
  display: none;
  position: absolute;
  top: 81px;
  width: 100vw;
  left:0;right:0;
  margin: 0 auto;
  height: 2rem;
  line-height: 2rem !important;
  font-size: 75%;
  font: 300 1.1rem 'Raleway', sans-serif;
  background-color: #5cb85c;
  color: #fff;
  z-index: 2;
  text-align: center;
}

div#alert{
  display: none;
  position: absolute;
  top: 81px;
  width: 100vw;
  left:0;right:0;
  margin: 0 auto;
  height: 2rem;
  line-height: 2rem !important;
  font: 300 1.1rem 'Raleway', sans-serif;
  background-color: #cd5c5c;
  color: #fff;
  z-index: 2;
  text-align: center;
}
