@import "lib";

html{
  overflow-x: hidden;
}

section#home-1{
  background-image: image-url('face.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 92vw;
  height: 82vmin;
  font: 300 7vw 'Raleway', helvetica, sans-serif;
  text-align: right;
  padding-right:20vw;
  position: relative;
  line-height: 82vmin;
  color: rgba(255,255,255,0.8);
}

section.platform-title{
  height: 10rem;
  line-height: 10rem !important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font: 300 1rem 'Raleway', serif;
  color: #5f9ea0;
}

section#home-2{
  @include outer-container(70rem);
  padding-bottom: 2rem; 
  div.col{
    @include span-columns(6, 0.25);
    display: inline-block;
  }
}

span.platform-item a img{
  @include transition(200);
  background-color: black;
  width: 100%;
  display: block;

  &:hover{
    pointer: cursor;
    opacity: 0;
  }
}

span.platform-item{
  position: relative;
  display: block;
  margin-bottom: 1%;

  div{
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background-color: #13686b;
    font: 300 2vw 'Raleway', helvetica, sans-serif;
    color: #fff;
    display: block;
    height: 100%;
    width: 100%;

    &:after{
      @include center-vertically;
      height: 2vw;
      text-align: center;
      content: attr(data-platform);
    }
  }
}

section#static_pages{
  @include outer-container(64rem);
  padding: 1.5rem 3rem;

  div.title{
    font-size: 4rem;
    text-align: center;
    color: #366;
    max-width: 70%;
    margin: 0 auto;
    border-bottom: 3px solid #366;
  }
}

div#birds{
  position: absolute;
  z-index: -1;
}

div.penta canvas{
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 600px){
 
  section#home-2 div.col{
    @include span-columns(12, 1);
    display: inline-block;
  }

}