// Place all the styles related to the sub_space_booking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.fc-timegrid-col-events:hover {
  cursor: pointer;
}
