/* ADDING A FILE */

div#file-container {
  padding: 0.2rem;
  max-height: 115px;
  overflow-y: scroll;
}
div#video-container {
  padding: 0.2rem;
  max-height: 115px;
  overflow-y: scroll;
}
tr.file-item {
  transition: 200ms linear;
  font-size: 0.8rem;
  color: #666;
  padding: 0.2rem;
  max-width: 400px;
  td:nth-child(1) {
    width: 75%;
    max-width: 280px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  td:nth-child(2) {
    width: 15%;
    text-align: right;
    padding-right: 10px;
  }
  td:nth-child(3) {
    width: 10%;
  }
  i {
    padding-right: 10px;
  }
}
span.delete-file-item,
span.file-remove {
  font-size: 0.7rem;
  color: #b22222;
  cursor: pointer;
  float: right;
}

span.video-remove {
  font-size: 0.7rem;
  color: #b22222;
  cursor: pointer;
  float: right;
}
div.files-show {
  padding: 0.2rem;
  max-height: 8rem;
  overflow-y: scroll;
  margin-bottom: 0.4rem;
}

.file-item-show {
  list-style: none;
  padding: 0;
  margin-bottom: unset;
  font-size: 0.9rem;
  color: #666;
  min-width: 0;
  a {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 80%;
  }
  span {
    float: right;
  }
}

nav.pagination {
  text-align: center;
  color: #eee;
  span.current.page,
  span.page.gap {
    color: #a3e6db;
    padding: 0.5rem;
    text-align: center;
    background-color: #19c1a5;
    vertical-align: middle;
    display: inline-block;
  }
  span.page.gap {
    color: #eee;
  }
  span.page a {
    padding: 0.5rem;
    vertical-align: middle;
    background-color: #19c1a5;
  }
  span.prev,
  span.next {
    background-color: #19c1a5;
    vertical-align: middle;
    font-size: 1.2rem;
    text-align: center;
    display: inline-block;
    i {
      text-align: center;
      padding: 0.5rem;
      display: inline-block;
    }
  }
  span.prev {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }
  span.next {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }
}
