@import "lib";

section#user-show{

	@include outer-container(70rem);
/*	left:0;right:0;
	position: absolute;
	top: 65px;*/
	position: relative;
	background-color: #fff;
	padding-bottom: 3rem;

    div.skills{
      margin: 25rem 0;
      @include span-columns(4.5,5);
      position: absolute;
    }

	div.user-avatar{
		margin: 3rem 0;
		@include span-columns(4.5,5);
		position: relative;

		img{
			width: 100%;
		}

		div.edit-avatar{
			display: none;
			position: absolute;
			bottom: -3rem;left: 0;
			width: calc(100% - 6px);
			text-align: center;
			height: calc(2rem - 6px);
			font-size: 0.9rem;
			line-height: calc(2rem - 6px);
			margin-bottom: 1rem;
			text-transform: uppercase;
			background-color: #789;
			border: 3px solid #789;
			color: #fff;

			&:hover{
				background-color: #fff;
				color: #789;
			}
		}
	}

	div#user-info{
		@include span-columns(7.5,3);
		padding: 3rem 0;
		margin: 0;

		div.fullname{
			@include span-columns(12,0);
			font-size: 3rem;
			color: #333;
		}

		div.username{
			@include span-columns(12,0);
			font-size: 1.75rem;
			color: #555;
			padding-bottom: 2rem;
		}

		div.user-info{
			@include span-columns(6,0);
			color: #777;
			padding-bottom: 2rem;

			i{
				color: #366;
				padding-right: 5%;
				font-size: 1.5rem;
			}

			a{
		    white-space: nowrap;
		    overflow:hidden !important;
		    text-overflow: ellipsis;
		    display: inline-block;
			}

			a:hover{
				color: #4682b4;
			}

			span{
				color: #366;
				padding-right: 5%;
				font-size: 1.5rem;
			}

			span.date{
				font-size: 1rem;
			}
		}

	}
}

div#rfid-thing.user-info{
	width: 400px;
	div#rfid-details{
		visibility: hidden;
		background-color: #c2d6d6;
		color: #366;
		text-align: center;
		border-radius: 4px;
		padding: 4px;
		/* Position the tooltip */
		position: absolute;
		z-index: 1;
		#overflow-y: scroll;
		#height: 200px;
        #width: auto;

		label.unregistered-label{
			padding: 5px 8px;
			border-radius: 3px;
		}
	}

	div.rfid-status{
	  cursor:pointer;
	}

	div.rfid-status:hover div#rfid-details{
	    visibility: visible;
	}
	div.unregistered-card{

		a{
			padding: 4px 8px;
		}
		a:hover{
			border-radius: 4px;
			background-color: transparentize(#A6E0E7, 0.4);
		}
	}

	span.registered-card{
		float: left;
	}

	.unregister{
		font: 300 0.4em 'Raleway', sans-serif;
		float: bottom;
	  padding: 0.5rem 1rem;
	  border: none;
	  text-transform: uppercase;
	  color: #777;
	  letter-spacing: 0.11em;
	  border-radius: 2px;
	  background-color: #A61E10;
	  color: #fff;
	}

}


a.edit-user-profile{
	@include transition(100ms);
	position: absolute;
	right: 2rem;
	top: 2rem;
	background-color: #789;
	color: #fff;
	padding: 0.5rem 1rem;
	border: 3px solid #789;

	&:hover{
		background-color: #fff;
		color: #789;
	}
}

section#user-show-links{
	width: 90%;
	background-color: #eee;
	float: left;
	padding: 0 5%;
	margin-bottom: 3rem;

	a{
		display: inline-block;
		font-size: 1.25rem;
		height: 4rem;
		line-height: 4rem;
		color: #555;
		padding: 0;
		text-align: center;
		border-bottom: 5px solid #eee;
		white-space: nowrap;
		margin-right: 40px;

		span {
			font-size: 2rem;
		}
	}
}

div#role-container{

	font: 'Raleway', sans-serif;
	font-size: 1.1rem;
	color: #366;

	.update-button{
		font: 300 0.7em 'Raleway', sans-serif;
		padding: 0.3rem 0.13em;
		border: none;
		text-transform: uppercase;
		color: #777;
		letter-spacing: 0.09em;
		border-radius: 2px;
		background-color: #5f9ea0;
		color: #fff;
		margin-bottom: 12px;

		&:hover{
			cursor: pointer;
		}
	}

	input[type=radio]{
		color: black;
		background: black;
	}

	label{
		font-size: 0.95rem;
		font-weight: normal;
		padding-left: 3px;
		padding-right: 15px;
		text-transform: lowercase;

	}


}

section#repositories-container{
	@include outer-container(100%);
	div.repository-container{
		@include span-columns(4, 2);
		margin-left: calc(2% - 1px);
		margin-right: calc(2% - 1px);
		border: 1px solid #eee;
	 	margin-bottom: 2rem;

		div.repo-display-wrapper{
			position: relative;
		  background-size: cover;
			height: 225px;
			background-color: black;
			a.link{
				display: block;
				height: 100%;
			}
		}

		img{
			display: block;
			width: 100%;
		}

		.fa-star{
			font-size: 1.5em;
			color: #5f9ea0;
		}

		div.repo-info{
	    font: 400 0.7rem 'Raleway', helvetica, sans-serif;
			padding: 5%;
			@include outer-container(90%);
		 	background-color: #fff;
		 	color: #aaa;

		 	div.left{
		 		float: left;
		 		width: 90%;
		 	}

		 	div.title{
		    white-space: nowrap;
		    overflow:hidden !important;
		    text-overflow: ellipsis;
		 	}

		 	div a{
		 		color: #5f9ea0;
		 		font-size: 0.9rem;


		 		&:hover{
			 		text-decoration: underline;
		 		}
		 	}

		 	div.likes{
		 		float: right;
		 		color: #5f9ea0;
		 		font-size: 1rem;
		 		text-align: center;
		 	}
		}
	}
}

@media screen and (max-width: 900px){

  section#repositories-container div.repository-container{
    @include span-columns(6, 2);
		margin-left: calc(2% - 1px);
		margin-right: calc(2% - 1px);
    display: inline-block;
  }

}

@media screen and (max-width: 550px){

  section#repositories-container div.repository-container{
    @include span-columns(12, 0);
    display: inline-block;
  }

}

div.empty-repo{
	float: left;
	width: 100%;
	text-align: center;
	font-size: 2rem;
	color: #333;
}

a.edit-repo, a.delete-repo{
	@include transition(100ms);
  float: right;
  margin: 5px 2.5px;
  background-color: #008080;
  color: #eee;
  padding: 3px;
  display: none;

  &:hover{
  	background-color: #366;
  }
}

/*a.delete-repo{
	@include transition(100ms);
  float: right;
  margin: 5px 2.5px;
  background-color: #008080;
  color: #eee;
  padding: 3px;
  display: none;

  &:hover{
  	background-color: #366;
  }
}*/
