@import "lib";

$theme-colors: (
        "primary": rgb(95, 158, 160) // "MakerRepo Green"
);

$navbar-light-color: rgba(0, 0, 0, 0.7);
$navbar-light-hover-color: rgba(0, 0, 0, 1.0);
$navbar-dark-color: rgba(255, 255, 255, 0.7);
$navbar-dark-hover-color: rgba(255, 255, 255, 1.0);


@import "../../../node_modules/bootstrap/scss/bootstrap";

section#signup, section#login, section#forgot-password {
  // TODO remove when old CSS is completely removed
  .waiver ul {
    list-style-type: disc;
    margin-bottom: 1rem;
    padding-left: 2rem;

    li {
      display: list-item;
    }
  }

  .bootstrap-select .dropdown-menu {
    min-width: auto !important;
    width: 100%;

    & > .inner .text {
      white-space: normal;
    }
  }

  .bootstrap-select > .dropdown-toggle {
    width: 100%;
  }

  .form-group.attach {
    .form-control {
      border-radius: 0;
      position: relative;

      &:first-child {
        border-top-left-radius: $input-border-radius;
        border-top-right-radius: $input-border-radius;
      }

      &:last-child {
        border-bottom-left-radius: $input-border-radius;
        border-bottom-right-radius: $input-border-radius;
      }

      &:focus {
        z-index: 2;
      }
    }

    .form-control + .form-control {
      margin-top: -1px;
    }
  }

  label.required::after, span.required::after {
    content: '*';
    color: #aa0000;
    margin-left: 0.25rem;
  }

  fieldset#students-only {
    display: none;
  }
}