@import "lib";
@import "bootstrap";

section#signup, section#login {
  // TODO maybe move this into global styles?
  .container.page {
    background: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
  }

  // TODO remove when old CSS is completely removed
  .waiver ul {
    list-style-type: disc;
    margin-bottom: 1rem;
    padding-left: 2rem;

    li {
      display: list-item;
    }
  }

  .bootstrap-select .dropdown-menu {
    min-width: auto !important;
    width: 100%;

    & > .inner .text {
      white-space: normal;
    }
  }

  .bootstrap-select > .dropdown-toggle {
    width: 100%;
  }

  .form-group.attach {
    input {
      border-radius: 0;

      &:first-child {
        border-top-left-radius: $input-border-radius;
        border-top-right-radius: $input-border-radius;
      }

      &:last-child {
        border-bottom-left-radius: $input-border-radius;
        border-bottom-right-radius: $input-border-radius;
      }
    }

    input + input {
      border-top: none;
    }
  }

  label.required::after, span.required::after {
    content: '*';
    color: #aa0000;
    margin-left: 0.25rem;
  }

  fieldset#students-only {
    display: none;
  }
}