label.custom-instructable-upload-video {
  font-size: 10px;
  background-color: rgba(238, 238, 238, 0.3);
  font: 300 0.8em 'Raleway', sans-serif !important;
  color: #4682b4 !important;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #aaa;

  &:hover {
    background-color: rgba(119, 136, 153, 0.2);
  }
}

* {
  margin: 0;
  padding: 0;
}

.imgbox {
  display: grid;
  height: 100%;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}