// Place all the styles related to the volunteers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.volunteer_task {
  transition: 100ms linear;
  color: brown;
  font-weight: 500;

  i {
    padding-right: 5px;
    color: #777;
  }

  &:hover {
    color: #730e15;
  }
}

.ccs {
  height: 25px;
  width: auto;
  vertical-align: middle;
}
