// Place all the styles related to the volunteers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.x-button{
  color: red - 80;
  font-size: 1.4em;
}
.check-button{
  color: green - 30;
  font-size: 1.4em;
}

section#volunteers-getting-started {
  .title {
    color: #366;
    font-size: 2rem;
    padding-bottom: 0.5rem;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-bottom: 2px solid #366;
  }

  table{
    th{
      width: 15%;
      text-align: center;
      vertical-align: top;
    }
  }

  ul{
    padding-left: 30px;
    list-style-type: circle;
  }
}

.skills-badges {
  height: 100px;
  width: auto;
}