<section id="help">
  <div class="title">Creating A Repository</div>

  <dl class="faq">

    <dt>In the upper-right corner of any page, click the <b>Create</b> button.</dt>
    
    <%= image_tag "create.jpg" %> 

    <dt>Create a short, memorable repository name. <b>All of your repository names must be unique and must not contain special characters with the exception of a hyphen.</b> For example, "hello-world".</dt>

    <%= image_tag "newrepo.jpg" %> 

    <dt>Optionally, submit a description of your repository.</dt>

    <dt>Optionally, create a github repository or link to an existing repository. 
    <b>You must have your <%= link_to "account linked to github", "#" %> to have this option.</b> </dt>

    <dt>Optionally, add files. Files are stored inside of your github repository.</dt>

    <dt>Submit photos of your projects. One photo must be submitted at least.</dt>
    
    <dt>Select a category that best fits your repository.</dt>

    <dt>Optionally, add tags.</dt>

    <dt>Select a license, there are five different license that may be chosen from. For example, 
      <%= link_to "Creative Common - Attribution"%>.</dt>

  </dl>

</section>