<section id="help-center">
  <div class="container">
    <div class="col">
      <ul class="fa-ul">
        <li><%= link_to "make admin", make_admin_admin_user_path %></li>
      </ul>
    </div>
  </div>
</section>
