<section class="page-contents">
  <div class="edit-column">
    <div class="title">Admin Course Manager</div>

    <p class="text-center"><%= link_to "New Course", new_admin_course_name_path, class: "btn btn-secondary" %></p>
    <br />

    <br />
    <table class="table table-striped mb-5">
      <tr class="text-center">
        <th>Course</th>
        <th>Action</th>
      </tr>

      <% @courses.each do |t| %>
        <tr>
          <td><%= t.name %></td>
          <td><%= link_to "Edit", edit_admin_course_name_path(t.id), class:"btn btn-primary" %></td>
        </tr>
      <% end %>

    </table>
  </div>
</section>