<section class="container">
  <div class="text-center">
    <% @exam.exam_questions.find_each do |eq| %>
      <div class=" text-left word-break">
        <h2><b><%= eq.question.description %></b></h2>
      </div>
      <%= image_tag eq.question.image.url(:medium) if !eq.question.image.blank? %>
      <div class="text-left">
        <% eq.question.answers.randomize_answers.each do |a| %>
          <p class="answers" onclick="questionResponse(<%= a.id %>)"><%= a.description %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
