<section class="container">
  <div class="text-center">
    <% @questions.find_each.each_with_index do |question, i| %>
      Question <%= i + 1 %>
      <%=
        response = question.response_for_exam(@exam)
        if response
          render partial: "question_with_response", locals: {question: question, response: response}
        else
          render partial: "question_without_response", locals: {question: question}
        end
      %>
      <br />
      <br />
      <br />
    <% end %>

    <%= link_to "Finish Exam", "#", class: "btn btn-primary my-5" %>
  </div>
</section>
