<section>
  <h2 class="text-center py-3"><b>Proficient Projects Requests</b></h2>

  <% if @order_item_waiting_for_approval.present? %>
    <table class="text-center table-striped staff-newly-signed-up-users-table mb-5 table">
    <thead class="table-primary">
      <th>User</th>
      <th>Title</th>
      <th>Approve</th>
      <th>Revoke</th>
    </thead>
      <% @order_item_waiting_for_approval.each do |oi| %>
        <tr>
          <td><%= link_to oi.order.user.name, user_path(oi.order.user.username) %></td>
          <td><%= link_to oi.proficient_project.title, oi.proficient_project %></td>
          <td class="action-cell"><%= link_to (fa_icon('check')), approve_project_proficient_projects_path(oi_id: oi.id), method: :get, class: 'check-button' %></td>
          <td class="action-cell"><%= link_to (fa_icon('times')), revoke_project_proficient_projects_path(oi_id: oi.id), method: :get, class: 'x-button' %></td>
        </tr>
      <% end %>
    </table>

  <% else %>

    <p class="text-center">No Requests so far.</p>

  <% end %>

  <br />
</section>


