<div class="padding">
  <h2>New Print Order</h2>
  <p>*** All prints must be picked up at UOttawa Makerspace in Ottawa, ON, you will be contacted by email at each steps up
    to pickup. The quote is available as soon as a staff member puts it on the system and it will be sent to you by
    email, waiting for your approval before being printed. Expedited option will take about 24h on top of the print time from the moment that you accepted the quote ***</p>
  <p>*** All payments will go through secured payment wall (<a href="https://makerstore.ca/">Makerstore.ca</a>) With methods
    available : Cash / Debit Card (Visa Debit or Mastercard Debit Only) / Credit Card (Visa / Mastercard) ***</p>
  <%= form_for(@print_order, multipart: true, url: print_orders_path) do |f| %>
    <div class="form-group">
      <label>STL File</label>
      <%= f.file_field :file, style: "display: block!important;", :required => true %>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Quality</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input type="radio" class="form-check-input" name="print_order[comments]" value="Low Quality"> Low Quality<br>
          </div>
          <div class="form-check">
            <input type="radio" checked class="form-check-input" name="print_order[comments]" value="Medium Quality"> Medium Quality<br>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" name="print_order[comments]" value="High Quality"> High Quality<br>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="other" name="print_order[comments]" value="">Other <input id="inputother" type="text" onchange="changeRadioOther()" />
          </div>
      </div>
      </div>
    </fieldset>
        <fieldset class="form-group">
          <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Expedited Printing (Express)</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input type="radio" checked class="form-check-input" name="print_order[expedited]" value="false">
                <label class="form-check-label" for="gridRadios3">
                  No
                </label>
              </div>
              <div class="form-check">
                <input type="radio"  class="form-check-input" name="print_order[expedited]" value="true">
                <label class="form-check-label" for="gridRadios3">
                  Yes
                </label>
              </div>
            </div>
          </div>
    </fieldset>

    
    <%= f.hidden_field :user_id, :value => current_user.id %>


    <div class="form-group">
      <button class="btn btn-primary" type="submit">Submit Request</button>
    </div>
  <% end %>
</div>