<div class="navbar navbar-expand-xl navbar-light bg-light" id="quick-access-bar">
    <%= fa_icon 'bars', class: 'nav-link', id: 'quick-access-bar-toggle' %>
    <div class="container-fluid" id="quick-access-container">
        <ul class="navbar-nav mr-auto">
            <% QuickAccessLink.where(user: current_user).each do |link| %>
                <li class="nav-item">
                    <a class="nav-link" href="<%= link.path %>"><%= link.name %></a>
                </li>
            <% end %>
        </ul>
        <ul class="navbar-nav ms-auo">
            <li class="text-primary nav-item" id="add-new-quick-access" >
                <%= fa_icon("thumb-tack") %> Pin Page
            </li>
        </ul>
    </div>
</div>
